.agent__top .container__inner {
    position: relative;
    display: flex;
    padding-left: 0;
    background: transparent;
    gap: 10px;
    padding-right: 0;
}

.agent__btn__share {
    position: absolute;
    right: 39px;
    top: 42px;
    display: flex;
    gap: 6px;
    z-index: 2;
}

.agent__btn__share a {
    border: 1px solid #E3ECF8;
    border-radius: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(7px);
}

.share__like_btn:hover path {
    fill: #008aff;
    stroke: none;
}

.share__link_btn:hover path {
    stroke: #008aff;
}

.agent__btn__share a:hover {
    border-color: #008aff;
}

.agent__btn__share a path {
    transition: 0.25s ease-in-out;
}

.agent__slider__image {
    width: 465px;
}

.agent__slider__image__item {
    padding-top: 92.5%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.agent__slider__image__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.agent__slider__image .slick-dots-container {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
}

.agent__slider__image .slick-slide.slick-current {
    opacity: 1;
}

.agent__slider__image .slick-slide {
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.agent__info {
    background: #fff;
    border-radius: 15px;
    padding: 42px 41px;
    flex: 1;
    padding-right: 150px;
}

.agent__tilte {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 10px;
}

.agent__pos {
    font-weight: 400;
    font-size: 20px;
}

.agent__info__list {
    border-top: 1px solid #E3ECF8;
    padding-top: 29px;
    margin-top: 18px;
    margin-bottom: 60px;
}

.agent__info__list__item__title {
    font-size: 17px;
    line-height: 1.25;
    color: #B4BAC2;
    width: 110px;
}

.agent__info__list__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
    gap: 19px;
    flex-wrap: wrap;
}

.agent__info__list__item__value {
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    width: calc(100% - 129px);
    padding-top: 1.5px;
}
.agent__info__list__item__value--fw_normal{font-weight: normal;}
.btn_agent_x {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    padding: 14px 14px;
    gap: 8px;
    min-width: 86px;
    justify-content: center;
}

.agent__info__contact {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}


.agent__info__list__item:last-child {
    margin-bottom: 0;
}

.btn_agent_x__icon {
    font-size: 0;
}

.agent__top {
    margin-bottom: 10px;
}

.agent__developer__logo {
    background: #FFFFFF;
    border-radius: 10px;
    width: 187px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px;
    box-shadow: 0px 1px 10px rgba(32, 55, 88, 0.11);
}

.agent__developer__inner {
    padding: 25px 0;
}

.agent__developer__top {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 22px;
}

.agent__developer__top__info {
    flex: 1;
    padding-top: 12px;
}

.agent__developer__top__add__title {
    color: #B4BAC2;
    margin-bottom: 5px;
    line-height: 1.2;
}

.agent__developer__name {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 6px;
}

.agent__developer__location {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #1864CE;
    font-weight: 500;
    align-items: flex-start;
}

.agent__developer__location svg {
    margin-top: 4px;
}

.agent__developer__info__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 57px;
    padding-bottom: 30px;
}

.agent__developer__info__item {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agent__developer__info__item:after {
    content: "";
    width: 1px;
    background: #e3ecf8;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -27.5px;
}

.agent__developer__info__item:last-child:after {
    display: none;
}

.agent__developer__info__item__value {
    font-weight: 700;
}

.agent__developer__info__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.agent__developer__info__list {
    flex: 1;
}

.agent__developer__info__btn {
    background: #1864CE;
    border-radius: 9px;
    color: #fff;
}

.agent__developer__info__btn:hover {
    background: #008AFF;
    color: #fff;
}


@media screen and (max-width: 1200px) {
    .agent__tilte {
        font-size: 30px;
        padding-right: 100px;
    }

    .agent__pos {
        font-size: 16px;
        padding-right: 100px;
    }

    .agent__slider__image {
        width: 365px;
    }

    .agent__info__list__item__title {
        font-size: inherit;
        width: 90px;
    }

    .agent__info__list__item__value {
        font-size: inherit;
    }

    .btn_agent_x {
        font-size: 14px;
        padding: 12px 20px;
        gap: 10px;
    }

    .agent__info__list {
        margin-bottom: 44px;
    }

    .agent__developer__logo {
        width: 160px;
        height: 90px;
    }

    .agent__developer__name {
        font-size: 22px;
        margin-bottom: 3px;
    }

    .agent__developer__top__add__title {
        margin-bottom: 2px;
    }

    .agent__developer__top__info {
        padding-top: 5px;
    }

    .agent__developer__top {
        margin-bottom: 25px;
    }

    .agent__info {
        padding: 40px;
    }
}

@media screen and (max-width: 900px) {
    .agent__info {
        width: 100%;
        flex: none;
    }

    .container__inner {
        flex-wrap: wrap;
    }

    .agent__slider__image {
        width: 100%;
    }

    .page__content--agent {
        max-width: 600px;
        margin: 0 auto;
    }

    .agent__btn__share {
        top: 24px;
        right: 24px;
    }

    .agent__developer__info__item {
        flex-direction: row;
        width: calc(50% - 15px);
        justify-content: space-between;
        text-align: left;
        gap: 5px;
    }

    .agent__developer__info__list {
        gap: 16px 30px;
        padding-bottom: 4px;
    }

    .agent__developer__info__item:after {
        right: -18px;
        height: 90%;
    }

    .agent__developer__info__item:nth-child(2n):after {
        display: none;
    }

    .agent__pos {
        padding-right: 0;
    }

    .agent__tilte {
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .agent__developer__logo {
        width: 95px;
        height: 50px;
        padding: 15px;
        border-radius: 5px;
    }

    .agent__developer__top {
        gap: 15px;
        margin-bottom: 20px;
    }

    .agent__developer__location__text {
        font-size: 13px;
        padding-top: 2.2px;
    }

    .agent__developer__location {
        gap: 7px;
    }

    .agent__developer__name {
        font-size: 20px;
    }

    .agent__developer__top__add__title {
        font-size: 13px;
    }

    .agent__developer__top__info {
        padding: 0;
    }

    .agent__developer__info__item {
        font-size: 14px;
    }

    .agent__developer__info__list {
        gap: 12px 30px;
    }

    .agent__slider__image__item {
        border-radius: 0;
    }

    .agent__btn__share {
        top: 17px;
        right: 17px;
    }

    .btn_agent_x__text {
        display: none;
    }

    .btn_agent_x {
        min-width: auto;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 0;
    }

    .agent__info__list {
        margin-bottom: 25px;
    }

    .agent__info__contact {
        padding-left: 0;
        gap: 10px;
        justify-content: space-evenly;
    }

    .agent__info {
        padding: 30px 20px;
    }

    .agent__tilte {
        font-size: 26px;
        margin-bottom: 7px;
    }

    .agent__pos {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
.agent__developer__info__btn {
    width: 100%;
    justify-content: center;
}
}