<div class="property__card__full--object">
    <div class="property__card__full__inner">

        <a href="#" class="property__card__full__image__item">
            <div class="property__card__full__image__item__inner">
                <img src="images/__content/property/3.jpg">
            </div>
        </a>
        @@include('../../components/share_like.html',{"favorite": "true"})

        <div class="property__card__info property__card__info--full">

                <div class="property__card__info__top">

                    <div class="property__card__info__type">Apartment</div>

                    <div class="property__card__info__size">
                        <b>101 943</b> sqft
                    </div>

                    <div class="property__card__info__price">750 000 AED</div>

                    <div class="property__card__info__char">
                        <span class="property__card__info__char__item">
                            Bed: <b>2</b>
                        </span>
                        <span class="property__card__info__char__item">
                            Bath: <b>2</b>
                        </span>
                        <span class="property__card__info__char__item">
                            Floor: <b>4</b>
                        </span>
                    </div>
                </div>

                <div class="property__card__object__type--line">Apartment</div>
                <div class="property__card__object">Binghatti Corner</div>
                <div class="property__card__adress">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.47625 15C11.6053 15 14.9632 11.6421 14.9763 7.5C14.9894 3.35786 11.6528 0 7.52367 0C3.39459 0 0.0366873 3.35786 0.0235931 7.5C0.0104988 11.6421 3.34717 15 7.47625 15Z" fill="#008AFF" fill-opacity="0.2"/>
                    <path d="M7.49663 11.7858C9.85611 11.7858 11.7749 9.86707 11.7823 7.50013C11.7897 5.1332 9.88303 3.21442 7.52355 3.21442C5.16408 3.21442 3.24532 5.1332 3.23788 7.50013C3.23045 9.86707 5.13716 11.7858 7.49663 11.7858Z" fill="#1864CE"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.51082 4.44205C11.239 5.00342 12.192 6.91091 11.6385 8.7013C11.3576 9.61028 10.7424 10.3142 9.97862 10.7142L9.98847 10.6834C11.3605 6.42439 5.77585 9.21492 5.38757 6.63746C5.95284 4.86612 7.79221 3.88391 9.51083 4.44206L9.51082 4.44205Z" fill="#1864CE"/>
                    </svg>
                    <div class="property__card__adress__text">Dubai, Downtown Dubai</div>
                </div>

                <div class="property__card__object__info--line">
                    <div class="property__card__line__q">
                        <div class="property__card__line__q__row">
                            <div class="property__card__line__q__row__item">
                                <div class="property__card__line__q__title">Price</div>
                                <div class="property__card__line__q__value property__card__line__q__value--big">1 234 567 AED</div>
                            </div>
                        </div>
                        <div class="property__card__line__q__row">
                            <div class="property__card__line__q__row__item">
                                <div class="property__card__line__q__title">Bedrooms:</div>
                                <div class="property__card__line__q__value">2</div>
                            </div>
                            <div class="property__card__line__q__row__item">
                                <div class="property__card__line__q__title">Bathrooms:</div>
                                <div class="property__card__line__q__value">2</div>
                            </div>
                            <div class="property__card__line__q__row__item">
                                <div class="property__card__line__q__title">Floor:</div>
                                <div class="property__card__line__q__value">5 | 25</div>
                            </div>
                        </div>
                        <div class="property__card__line__q__row">
                            <div class="property__card__line__q__row__item">
                                <div class="property__card__line__q__title">Total area:</div>
                                <div class="property__card__line__q__value">101 943 sqft</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="property__develop__card__add_text_0">Listed  2 months ago</div>

        </div>

        <div class="property__card__full__add_info">
            <div class="property__card__full__developer">

                <div class="property__card__full__developer__top">
                    <a href="#" class="property__card__full__developer__logo">
                        <img src="images/__content/developer/1.jpg">
                    </a>
                    <div class="property__card__full__developer__top__info">
                        <div class="property__card__full__developer__subtitle">Developer</div>
                        <div class="property__card__full__developer__title">Emaar Properties</div>
                    </div>
                </div>

                <div class="property__card__full__developer__info">
                    <div class="property__card__full__developer__info__item__inner">
                        <div class="property__card__full__developer__info__item">
                            <div class="property__card__full__developer__info__item__title">Experience</div>
                            <div class="property__card__full__developer__info__item__value">28 years</div>
                        </div>
                        <div class="property__card__full__developer__info__item">
                            <div class="property__card__full__developer__info__item__title">Built Projects</div>
                            <div class="property__card__full__developer__info__item__value">380</div>
                        </div>
                    </div>
                    <a href="" class="property__card__full__developer__info__item__link">View Developer’s Store</a>
                </div>

                <div class="property__card__full__developer__call">@@include('../../components/btn_call.html')</div>

            </div>
        </div>

    </div>
</div>