@media screen and (max-width: 1400px) {
  .footer_quick__link__list a {
    padding: 29px 19px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_quick__link__list {
    margin: 0 -5px;
  }
  .footer_quick__link__list a:after {
    right: -4px;
  }
  .header__menu ul {
    padding: 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1350px) {
  .header__location__value {
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .header__menu a {
    font-size: inherit;
  }
  .header_main {
    font-size: 15px;
  }
  .header__add__property {
    font-size: 14px;
    padding: 9px 20px;
  }
}

@media screen and (max-width: 1200px) {
  .header__menu {
    display: none;
  }
  .header__btn_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px;
  }
  .header__info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 100%;
    gap: 5px;
  }
  .header__favorite svg {
    width: 22px;
  }
  .header__settings svg {
    width: 22px;
  }
}

@media screen and (max-width: 1100px) {
  .footer_quick__link__list a {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 22px 20px;
    margin: 5px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    min-width: auto;
  }
  .footer_quick__link .container__inner {
    background: transparent;
    padding: 0;
  }
  .footer_quick__link__list a:after {
    display: none;
  }
  .main_footer__menu__col {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: calc(100% / 3 - 20px);
  }
  .main_footer__menu__wrap {
    gap: 40px 30px;
  }
  .main_footer__menus {
    margin-bottom: 32px;
  }
  .main_footer__title {
    margin-bottom: 24px;
  }
  .main_footer__top {
    padding-top: 35px;
  }
}

@media screen and (max-width: 900px) {
  .modal__menu {
    max-width: 100%;
    top: 80px;
    right: 0;
    left: 0;
    border-radius: 0;
    height: calc(100% - 80px);
  }
  .header_main .container__inner {
    padding: 20px;
    border-radius: 0;
  }
  .header_main {
    margin: 0 0 10px;
  }
  .header_main .container {
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  .home__slogan--mobile.home__top .container__inner {
    padding: 60px 20px;
  }
  .home__top .container__inner {
    padding: 0 20px 40px;
  }
  .home__top__title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 13px;
    line-height: 1.2;
  }
  .home__top__addtitle {
    margin-top: 10px;
  }
  .home__top .container__inner {
    padding: 0 20px 40px;
  }
  .home__slogan--mobile {
    display: block;
  }
  .home__slogan--desktop {
    display: none;
  }
  .filter_x_top.filter_x_top--2 {
    padding: 17px 0px 20px;
  }
  .btn_all__home {
    position: static;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home__new_project .container__inner,
  .home__new_property .container__inner {
    padding-bottom: 35px;
  }
  .home__new_property__select {
    position: absolute;
    top: 0;
    left: 170px;
    margin: 0;
    top: 34px;
  }
  .point_i__list {
    display: block;
    overflow: scroll;
    white-space: nowrap;
    margin: 0 -20px;
    width: calc(100% + 40px);
    padding: 0 15px;
    font-size: 0;
  }
  .point_i__list::-webkit-scrollbar {
    display: none;
  }
  .point_i__list {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .point_i__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
  }
  .home__new_property__info {
    padding-top: 35px;
    position: relative;
  }
  .property__list {
    margin: 0 -20px 0 -20px;
    padding-bottom: 20px;
  }
  .property__card__inner:hover {
    -webkit-transform: none;
            transform: none;
  }
  .property__card {
    padding-left: 20px;
    padding-right: 0;
  }
  .filter_x_btn svg {
    width: 14px;
    margin-top: 0;
  }
  .filter_x_btn__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    margin-left: 13px;
    font-weight: 600;
  }
  .header__currency__view {
    width: 35px;
    height: 35px;
    border-color: #203758;
    font-size: 12px;
  }
  .bottom__fixmenu {
    display: block;
  }
  .modal__menu {
    top: 75px;
    height: calc(100% - 75px);
  }
  .header__location {
    display: none;
  }
  .home__new_property__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home__new_property__info__title {
    margin: 0 0 20px 5px;
  }
  .home__new_property__row--type_2 .home__new_property__select {
    position: relative;
    margin-left: 20px;
    margin-bottom: 25px;
    top: auto;
    left: auto;
  }
  .header__add__property {
    display: none;
  }
  .header__logo {
    margin: 0;
    width: 130px;
  }
  .header__logo__small {
    width: 27px;
  }
  .header__logo__text {
    width: 113px;
  }
  .header_main {
    font-size: 14px;
  }
  .main_footer .container__inner {
    padding: 0 20px;
    margin: 0 -20px;
    border-radius: 0;
    margin-bottom: 0;
  }
  .main_footer {
    margin-bottom: 0;
  }
  .main_footer__bottom {
    padding: 25px 0;
  }
  .main_footer__bottom__links {
    font-size: 12px;
    gap: 10px 20px;
    padding: 25px 0 30px;
  }
  .main_footer__menus {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .main_footer__bottom__text {
    font-size: 12px;
    line-height: 1.45;
  }
  .footer_quick__link__list a {
    font-weight: 500;
  }
  .main_footer__top__menu li {
    width: calc(100% / 2);
  }
  .main_footer__top__menu a {
    font-size: 14px;
  }
  .main_footer__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .main_footer__top {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .main_footer__menu__list {
    display: none;
    padding-bottom: 20px;
  }
  .main_footer__menu__col {
    width: 100%;
    border-bottom: 1px solid #CED6E0;
    padding-top: 20px;
  }
  .main_footer__menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main_footer__menu__title {
    padding-right: 30px;
    margin-bottom: 20px;
  }
  .main_footer__menu__wrap {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -10px;
  }
  .main_footer__menu__col:last-child {
    border-bottom: 0;
  }
  .container--zero {
    padding: 0;
  }
  .container--zero .container__inner {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
  }
  .home__developer .container__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .btn_x {
    padding: 13px 25px;
  }
  .title_x2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .btn_developer__text {
    position: static;
    padding: 11px 25px;
    font-size: 15px;
  }
  .home__developer__text {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 450px;
    line-height: 1.6;
  }
  .home__developer__info {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 25px;
  }
  .home__devaloper__list {
    padding-bottom: 0;
    margin: -15px -15px 25px;
  }
  .home__devaloper__list .slick-arrow {
    display: none !important;
  }
  .property__list .slick-arrow {
    display: none !important;
  }
  .home__new_project .slick-arrow {
    display: none !important;
  }
  .home__devaloper__list .slick-arrow {
    top: -48px;
  }
  .slick-next {
    left: 250px;
    right: auto;
  }
  .slick-prev {
    left: 190px;
  }
  .devaloper__slide_item__image {
    padding: 0;
    height: 140px;
  }
  .devaloper__slide_item__title {
    font-size: 13px;
    font-weight: 500;
    bottom: 15px;
  }
  .devaloper__slide_item__inner {
    width: 200px;
  }
  .devaloper__slide_item {
    padding: 0 5px;
  }
  .home__devaloper__list .devaloper__slide_item {
    min-width: 210px;
  }
  .home__property__block {
    margin-bottom: 20px;
  }
  .home__new_property__select__view {
    font-size: 16px;
    margin-top: 1px;
  }
  .point_i__item {
    font-size: 14px;
    padding: 12.5px 20px;
  }
}

@media screen and (max-width: 420px) {
  .header__settings {
    padding-top: 1.5px;
  }
  .filter_x_btn svg {
    display: none;
  }
  .filter_x_btn {
    padding: 13px 10px;
  }
  .header__favorite {
    display: none;
  }
  .header__lang__view {
    width: 32px;
    height: 32px;
  }
  .header__currency__view {
    width: 32px;
    height: 32px;
  }
  .header__btn_menu {
    margin-left: 5px;
  }
  .header__lang__view__list {
    right: 0;
    left: auto;
  }
}

@media screen and (max-width: 550px) {
  .main_footer__bottom__text {
    text-align: justify;
  }
}

@media screen and (max-width: 390px) {
  .main_footer__bottom__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_footer__bottom__text {
    font-size: 11.5px;
  }
}
/*# sourceMappingURL=media.css.map */