.loaded .modal__menu {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.loaded .modal__menu__overlay {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.modal__menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  max-width: calc(100% - 40px);
  width: 100%;
  overflow: scroll;
  z-index: 10;
  visibility: hidden;
}

.modal__menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0%, 0);
          transform: translate(0%, 0);
}

.modal__menu::-webkit-scrollbar {
  display: none;
}

.modal__menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal__menu__overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 9;
  visibility: hidden;
  pointer-events: none;
}

.modal__menu__overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (max-width: 1200px) {
  .modal__menu {
    display: block;
  }
}
/*# sourceMappingURL=modal__menu.css.map */