.loaded .order_x {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.order_x__radio {
  display: none;
}

.order_x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-right: 1px solid #E3ECF8;
  margin-right: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.order_x__order_view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.order_x__title {
  font-weight: 600;
}

.order_x:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0;
}

.order_x.sort-asc,
.order_x.sort-desc {
  color: #1864CE;
}

.order_x path {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.order_x.sort-asc .order_x__order_view svg:first-child path {
  fill: #1864CE;
}

.order_x.sort-asc .order_x__order_view svg:last-child path {
  opacity: 0.25;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.order_x.sort-desc .order_x__order_view svg:first-child path {
  opacity: 0.25;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.order_x.sort-desc .order_x__order_view svg:last-child path {
  fill: #1864CE;
}

.order_x:hover path {
  fill: #008AFF;
}

div.order_x:hover {
  color: #008AFF;
}
/*# sourceMappingURL=order.css.map */