.favorite__page__content {
    padding: 35px 0 40px;
}

.favorite__tab {
    margin-bottom: 30px;
}

.favorite__content__item {
    display: none;
}

.favorite__content__item.active {
    display: block;
}

.developer__list_x {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.developer__list_x .devaloper__slide_item {
    width: calc(100% / 6 - 8.5px);
}


@media screen and (max-width: 1100px) {
    .developer__list_x .devaloper__slide_item {
        width: calc(100% / 5 - 8px);
    }
}

@media screen and (max-width: 900px) {
    .developer__list_x .devaloper__slide_item {
        width: calc(100% / 4 - 8px);
    }
}

@media screen and (max-width: 850px) {
    .developer__list_x .devaloper__slide_item {
        width: calc(100% / 3 - 8px);
    }
}

@media screen and (max-width: 750px) {
    .developer__list_x .devaloper__slide_item {
        width: calc(100% / 4 - 8px);
    }

    .devaloper__slide_item__inner {
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .developer__list_x .devaloper__slide_item {
        width: calc(100% / 3 - 7.5px);
    }
}

@media screen and (max-width: 480px) {
    .developer__list_x .devaloper__slide_item {
        width: calc(100% / 2);
    }

    .developer__list_x {
        gap: 0px;
    }
}