<div class="devaloper__slide_item">
    <a href="#" class="devaloper__slide_item__inner">
        <div class="devaloper__slide_item__image">
            <img src="images/__content/developer/@@id.jpg">
        </div>
        <div class="devaloper__slide_item__title">@@title</div>
    </a>
</div>