<div class="property__card__full--object">
    <div class="property__card__full__inner">


        <div class="property__card__full__image__item__list js_card_slider_image js_slider__dots">
            @@for (var i = 0; i < 5; i++) {
                <a href="#" class="property__card__full__image__item">
                    <div class="property__card__full__image__item__inner">
                        <img src="images/__content/property/scheme.jpg">
                    </div>
                </a>
            }
        </div>

        @@include('../share_like.html',{"favorite": "false"})

        <div class="property__card__info property__card__info--full">
            <div class="property__card__info__top">
                <div class="property__card__info__type">Apartment</div>
                <div class="property__card__info__size">
                    <b>101 943</b> sqft
                </div>

                <div class="property__card__info__price">750 000 AED</div>

                <div class="property__card__info__char">
                    <span class="property__card__info__char__item">
                        Bed: <b>2</b>
                    </span>
                    <span class="property__card__info__char__item">
                        Bath: <b>2</b>
                    </span>
                    <span class="property__card__info__char__item">
                        Floor: <b>4</b>
                    </span>
                </div>
            </div>
        </div>



    </div>
</div>