<div class="object_floor_plan">
    <div class="container container--zero">
        <div class="container__inner">
            <div class="object_floor_plan__inner">
                <div class="title_q object_floor_plan__title">Floor plan</div>
                <div class="object_floor_plan__list js_object_floor_plan__list">
                    @@for (var i = 1; i <= 3; i++) {
                        <div class="object_floor_plan__item">
                            <a href="images/__content/object/plans/`+i+`.jpg" data-fancybox="object_plans" class="object_floor_plan__item__x">
                                <div class="object_floor_plan__item__x__image">
                                    <img src="images/__content/object/plans/`+i+`.jpg" alt="">
                                </div>
                                <div class="object_floor_plan__item__x__zoom">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5228 6.64677C10.7451 6.64677 10.7916 6.52642 10.7916 6.37795C10.7916 6.22949 10.7451 6.10914 10.5228 6.10914L7.16193 6.10914V2.74836C7.16193 2.526 7.04155 2.47955 6.89309 2.47955C6.74463 2.47955 6.6243 2.526 6.6243 2.74836V6.10914L3.2756 6.10914C3.05324 6.10914 3.00684 6.22954 3.00684 6.378C3.00684 6.52646 3.05324 6.64677 3.2756 6.64677L6.6243 6.64677V9.9955C6.6243 10.2179 6.74465 10.2643 6.89311 10.2643C7.04158 10.2643 7.16193 10.2179 7.16193 9.9955V6.64677L10.5228 6.64677Z" fill="#1864CE"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.809 2.61192C12.9941 4.79701 12.9941 8.33975 10.809 10.5249C8.62393 12.7099 5.08119 12.7099 2.8961 10.5249C0.710999 8.33975 0.710999 4.79701 2.8961 2.61192C5.08119 0.42682 8.62393 0.42682 10.809 2.61192ZM11.666 11.0378C14.0609 8.46189 14.0046 4.43136 11.4971 1.92384C8.932 -0.641278 4.77313 -0.641279 2.20801 1.92384C-0.357099 4.48895 -0.357099 8.64782 2.20801 11.2129C4.59869 13.6036 8.37373 13.7662 10.9527 11.7007L15.1095 15.8575C15.2995 16.0475 15.6076 16.0475 15.7976 15.8575C15.9876 15.6675 15.9876 15.3594 15.7976 15.1694L11.666 11.0378Z" fill="#1864CE"/>
                                    </svg>
                                </div>
                            </a>
                        </div>

                    }

                    @@for (var i = 1; i <= 3; i++) {
                        <div class="object_floor_plan__item">
                            <a href="images/__content/object/plans/`+i+`.jpg" data-fancybox="object_plans" class="object_floor_plan__item__x">
                                <div class="object_floor_plan__item__x__image">
                                    <img src="images/__content/object/plans/`+i+`.jpg" alt="">
                                </div>
                                <div class="object_floor_plan__item__x__zoom">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5228 6.64677C10.7451 6.64677 10.7916 6.52642 10.7916 6.37795C10.7916 6.22949 10.7451 6.10914 10.5228 6.10914L7.16193 6.10914V2.74836C7.16193 2.526 7.04155 2.47955 6.89309 2.47955C6.74463 2.47955 6.6243 2.526 6.6243 2.74836V6.10914L3.2756 6.10914C3.05324 6.10914 3.00684 6.22954 3.00684 6.378C3.00684 6.52646 3.05324 6.64677 3.2756 6.64677L6.6243 6.64677V9.9955C6.6243 10.2179 6.74465 10.2643 6.89311 10.2643C7.04158 10.2643 7.16193 10.2179 7.16193 9.9955V6.64677L10.5228 6.64677Z" fill="#1864CE"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.809 2.61192C12.9941 4.79701 12.9941 8.33975 10.809 10.5249C8.62393 12.7099 5.08119 12.7099 2.8961 10.5249C0.710999 8.33975 0.710999 4.79701 2.8961 2.61192C5.08119 0.42682 8.62393 0.42682 10.809 2.61192ZM11.666 11.0378C14.0609 8.46189 14.0046 4.43136 11.4971 1.92384C8.932 -0.641278 4.77313 -0.641279 2.20801 1.92384C-0.357099 4.48895 -0.357099 8.64782 2.20801 11.2129C4.59869 13.6036 8.37373 13.7662 10.9527 11.7007L15.1095 15.8575C15.2995 16.0475 15.6076 16.0475 15.7976 15.8575C15.9876 15.6675 15.9876 15.3594 15.7976 15.1694L11.666 11.0378Z" fill="#1864CE"/>
                                    </svg>
                                </div>
                            </a>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>