<div class="object_gallery">
    <div class="container container--zero">
        <div class="container__inner">
            <div class="object_gallery__inner object__inner">
                <div class="object_another__title title_q">Gallery</div>
                <div class="object_gallery__list js_grid">
                    @@for (var i = 1; i < 7; i++) {
                        <div class="object_gallery__item object_gallery__item--`+i+` grid-item" data-fancybox="object_gallery" data-src="images/__content/object/gallery/`+i+`.jpg">
                            <div class="object_gallery__item__inner">
                                <img src="images/__content/object/gallery/`+i+`.jpg">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>