<div class="object_info">
    <div class="container container--zero">
        <div class="container__inner">
            <div class="object_info__inner">
                <div class="object_info__price">
                    <div class="object_info__price__title">Price</div>
                    <div class="object_info__price__value">1 234 567 AED</div>
                </div>
                <div class="title_q object_info__title">Apartment for sale in Sunrise Bay</div>
                <div class="object_info__adress">
                    <div class="adress_x">
                        <div class="adress_x__view">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.47625 15C11.6053 15 14.9632 11.6421 14.9763 7.5C14.9894 3.35786 11.6528 0 7.52367 0C3.39459 0 0.0366873 3.35786 0.0235931 7.5C0.0104988 11.6421 3.34717 15 7.47625 15Z" fill="#008AFF" fill-opacity="0.2"></path>
                                <path d="M7.49663 11.7858C9.85611 11.7858 11.7749 9.86707 11.7823 7.50013C11.7897 5.1332 9.88303 3.21442 7.52355 3.21442C5.16408 3.21442 3.24532 5.1332 3.23788 7.50013C3.23045 9.86707 5.13716 11.7858 7.49663 11.7858Z" fill="#1864CE"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.51082 4.44205C11.239 5.00342 12.192 6.91091 11.6385 8.7013C11.3576 9.61028 10.7424 10.3142 9.97862 10.7142L9.98847 10.6834C11.3605 6.42439 5.77585 9.21492 5.38757 6.63746C5.95284 4.86612 7.79221 3.88391 9.51083 4.44206L9.51082 4.44205Z" fill="#1864CE"></path>
                            </svg>
                        </div>
                        <div class="adress_x__text">Dubai, Emaar Business Park 1 </div>
                    </div>
                </div>
                <div class="object_info__char">
                    <div class="object_info__char__item">
                        <div class="object_info__char__item__name">Bedrooms:</div>
                        <div class="object_info__char__item__value">3</div>
                    </div>
                    <div class="object_info__char__item">
                        <div class="object_info__char__item__name">Bathrooms:</div>
                        <div class="object_info__char__item__value">2</div>
                    </div>
                    <div class="object_info__char__item">
                        <div class="object_info__char__item__name">Floor:</div>
                        <div class="object_info__char__item__value">5 | 25</div>
                    </div>
                    <div class="object_info__char__item">
                        <div class="object_info__char__item__name">View:</div>
                        <div class="object_info__char__item__value">Street</div>
                    </div>
                    <div class="object_info__char__item">
                        <div class="object_info__char__item__name">Total area:</div>
                        <div class="object_info__char__item__value">634 sqft</div>
                    </div>
                    <div class="object_info__char__item">
                        <div class="object_info__char__item__name">Living area:</div>
                        <div class="object_info__char__item__value">123 sqft</div>
                    </div>
                    <div class="object_info__char__item">
                        <div class="object_info__char__item__name">Kitchen:</div>
                        <div class="object_info__char__item__value">13 sqft</div>
                    </div>
                    <div class="object_info__char__item">
                        <div class="object_info__char__item__name">Balcony:</div>
                        <div class="object_info__char__item__value">23 sqft</div>
                    </div>
                </div>

                <div class="object__info__call">
                    @@include('../../components/btn_call.html')
                </div>
            </div>
        </div>
    </div>
</div>