
<div class="bottom__fixmenu bottom__fixmenu--call">
    <div class="container">
        <a href="#" class="btn_default btn_blue btn_call_x">
            <div class="btn_call_x__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.036 10.4267C13.1152 10.4267 12.2111 10.2781 11.3544 9.98598C10.9345 9.83824 10.4185 9.97378 10.1622 10.2453L8.47118 11.5624C6.51003 10.4823 5.302 9.2363 4.26943 7.22807L5.50844 5.52877C5.83035 5.19709 5.94581 4.71258 5.80747 4.25798C5.52313 3.36937 5.37869 2.437 5.37869 1.48657C5.37873 0.799974 4.83734 0.241394 4.17191 0.241394H1.40994C0.744514 0.241394 0.203125 0.799974 0.203125 1.48653C0.203125 9.35628 6.40847 15.7586 14.036 15.7586C14.7014 15.7586 15.2428 15.2001 15.2428 14.5135V11.6718C15.2428 10.9853 14.7014 10.4267 14.036 10.4267Z" fill="white"/>
                </svg>
            </div>
        </a>
        <a href="#" class="btn_default btn_blue btn_call_x">
            <div class="btn_call_x__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.17053 0H9.16616C4.3565 0 0.445312 4.0365 0.445312 9.00001C0.445312 10.9688 1.06029 12.7935 2.10596 14.2751L1.01885 17.6186L4.37177 16.5128C5.7511 17.4555 7.39648 18 9.17053 18C13.9802 18 17.8914 13.9624 17.8914 9.00001C17.8914 4.03763 13.9802 0 9.17053 0ZM14.2462 12.7091C14.0358 13.3223 13.2006 13.8308 12.5343 13.9793C12.0786 14.0794 11.4832 14.1593 9.4791 13.302C6.91562 12.2063 5.26479 9.51864 5.13612 9.34426C5.01291 9.16989 4.10026 7.92114 4.10026 6.62963C4.10026 5.33813 4.73595 4.70926 4.99219 4.43926C5.20264 4.21763 5.55047 4.11638 5.88412 4.11638C5.99207 4.11638 6.08911 4.12201 6.17634 4.12651C6.43258 4.13776 6.56125 4.15351 6.73026 4.57088C6.9407 5.09401 7.45318 6.38551 7.51424 6.51826C7.57639 6.65101 7.63854 6.83101 7.55131 7.00538C7.46953 7.18538 7.39757 7.26526 7.2689 7.41826C7.14024 7.57126 7.01812 7.68826 6.88945 7.85251C6.77169 7.99539 6.63867 8.14839 6.78696 8.41276C6.93525 8.67151 7.44773 9.53439 8.20227 10.2274C9.17598 11.1218 9.96541 11.4075 10.2478 11.529C10.4583 11.619 10.709 11.5976 10.8628 11.4289C11.058 11.2118 11.2989 10.8518 11.5443 10.4974C11.7187 10.2431 11.939 10.2116 12.1702 10.3016C12.4057 10.386 13.652 11.0216 13.9082 11.1533C14.1645 11.286 14.3335 11.349 14.3956 11.4604C14.4567 11.5718 14.4567 12.0949 14.2462 12.7091Z" fill="white"/>
                </svg>
            </div>
        </a>
        <a href="#" class="btn_default btn_blue btn_call_x">
            <div class="btn_call_x__icon">
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1105 6.9415C18.098 6.88675 18.0752 6.83508 18.0434 6.78943C18.0116 6.74377 17.9713 6.70504 17.925 6.67543C17.8786 6.64582 17.8271 6.62591 17.7732 6.61685C17.7194 6.60779 17.6644 6.60975 17.6113 6.62262C17.5583 6.63549 17.5082 6.65901 17.4639 6.69185C17.4196 6.72469 17.3821 6.7662 17.3534 6.81401C17.3247 6.86182 17.3054 6.91499 17.2966 6.9705C17.2878 7.026 17.2897 7.08274 17.3022 7.13749C17.4935 7.97843 17.5519 8.84572 17.4752 9.70587C17.3997 10.5504 17.1983 11.3778 16.8779 12.1588C16.3367 13.4987 15.4571 14.6645 14.3307 15.5346C13.2044 16.4048 11.8724 16.9476 10.4736 17.1064C9.07473 17.2652 7.66019 17.0343 6.37728 16.4377C5.09436 15.841 3.99 14.9006 3.17921 13.7141L2.9547 13.3862L4.96908 13.9664C5.02162 13.9815 5.07655 13.9859 5.13072 13.9791C5.18489 13.9724 5.23724 13.9547 5.28478 13.9271C5.33233 13.8995 5.37413 13.8625 5.40781 13.8182C5.4415 13.7739 5.46639 13.7232 5.48108 13.669C5.49577 13.6148 5.49997 13.5582 5.49343 13.5023C5.4869 13.4465 5.46975 13.3925 5.44298 13.3434C5.41621 13.2944 5.38034 13.2513 5.33742 13.2165C5.29449 13.1818 5.24535 13.1561 5.1928 13.1409L2.18032 12.2733C2.12144 12.2564 2.05966 12.253 1.9994 12.2636C1.93913 12.2741 1.88185 12.2982 1.83163 12.3341C1.78142 12.37 1.7395 12.417 1.70886 12.4715C1.67823 12.5261 1.65963 12.5869 1.65439 12.6497L1.39105 15.8646C1.38217 15.9779 1.41713 16.0902 1.48831 16.177C1.55949 16.2638 1.66108 16.318 1.77087 16.3277C1.78253 16.3287 1.79423 16.329 1.80592 16.329C1.90992 16.3288 2.01008 16.2885 2.08661 16.2158C2.16313 16.1432 2.21044 16.0436 2.21918 15.9367L2.3747 14.0335L2.59325 14.34C3.7868 16.0163 5.50933 17.2114 7.46463 17.7196C8.17147 17.9054 8.89802 17.9996 9.62746 18C11.3378 17.9958 13.0093 17.4739 14.4347 16.4989C15.8601 15.524 16.9766 14.1389 17.6459 12.5155C18.2872 10.9458 18.4882 9.22187 18.2257 7.54015C18.194 7.33931 18.1556 7.13976 18.1105 6.9415ZM1.61867 11.3745C1.56558 11.3874 1.51054 11.3895 1.4567 11.3804C1.40286 11.3714 1.35128 11.3514 1.30494 11.3218C1.25859 11.2921 1.21839 11.2532 1.18665 11.2075C1.15491 11.1617 1.13225 11.1099 1.11997 11.0551C1.0732 10.8502 1.03368 10.6438 1.00141 10.4357C0.743747 8.76057 0.945754 7.04445 1.58458 5.48153C2.18021 4.03497 3.13273 2.77451 4.34736 1.8256C5.56198 0.876684 6.99636 0.272399 8.50774 0.0728795C10.0191 -0.12664 11.5548 0.085562 12.962 0.688369C14.3692 1.29118 15.5987 2.26357 16.5284 3.50878L16.7461 3.80143L16.9039 1.87593C16.9081 1.81949 16.923 1.76446 16.9478 1.714C16.9727 1.66355 17.007 1.61868 17.0488 1.58197C17.0906 1.54526 17.139 1.51745 17.1912 1.50015C17.2434 1.48284 17.2985 1.47637 17.3532 1.48113C17.4079 1.48588 17.4611 1.50175 17.5098 1.52783C17.5585 1.55392 17.6017 1.58969 17.6369 1.63308C17.6721 1.67648 17.6987 1.72665 17.715 1.78068C17.7313 1.83471 17.7371 1.89155 17.7321 1.9479L17.4687 5.16245C17.4636 5.22531 17.445 5.28623 17.4144 5.34086C17.3838 5.39548 17.3419 5.44247 17.2917 5.47846C17.2414 5.51446 17.1841 5.53857 17.1238 5.54909C17.0635 5.55961 17.0017 5.55627 16.9428 5.5393L13.9311 4.67163C13.825 4.64114 13.7349 4.56841 13.6808 4.46944C13.6266 4.37047 13.6128 4.25338 13.6424 4.14391C13.672 4.03445 13.7425 3.94158 13.8384 3.88574C13.9344 3.8299 14.0479 3.81566 14.154 3.84615L16.1574 4.42318L15.9112 4.08616C15.0768 2.94477 13.9652 2.05057 12.6887 1.49381C11.4122 0.937043 10.0158 0.737403 8.64063 0.915031C7.2654 1.09266 5.95993 1.64127 4.85593 2.50551C3.75193 3.36976 2.88846 4.51905 2.35264 5.83744C2.03216 6.61849 1.83062 7.44594 1.75516 8.29049C1.67838 9.15074 1.73679 10.0181 1.92813 10.8592C1.95303 10.9698 1.93446 11.0861 1.87647 11.1827C1.81848 11.2792 1.7258 11.3482 1.61867 11.3745Z" fill="white"/>
                    <path d="M13.5973 10.5299C13.0171 10.5299 12.4474 10.4363 11.9075 10.2523C11.643 10.1593 11.3178 10.2446 11.1563 10.4157L10.0908 11.2454C8.855 10.565 8.09379 9.78008 7.44314 8.51503L8.22387 7.44458C8.42671 7.23565 8.49947 6.93044 8.4123 6.64407C8.23313 6.08431 8.14211 5.49698 8.14211 4.89827C8.14213 4.46576 7.80099 4.11389 7.38169 4.11389H5.6413C5.222 4.11389 4.88086 4.46576 4.88086 4.89824C4.88086 9.85565 8.791 13.8887 13.5973 13.8887C14.0166 13.8887 14.3577 13.5368 14.3577 13.1044V11.3143C14.3577 10.8818 14.0166 10.5299 13.5973 10.5299Z" fill="white"/>
                </svg>
            </div>
        </a>
    </div>
</div>