<div class="object_developer_mobile">
    <div class="container container--zero">
        <div class="container__inner">
            <div class="object__inner object_developer_mobile__inner">
                @@include('promo_developer.html')
            </div>
        </div>
    </div>
</div>