<div class="object__promo">
    <div class="container container--zero">
        <div class="container__inner container__inner--transparent container__inner--zero">
            <a href="" class="page__back">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86331 0.247521C10.2648 0.597151 10.2899 1.18763 9.91924 1.5664L4.60202 7L9.91924 12.4336C10.2899 12.8124 10.2649 13.4028 9.86331 13.7525C9.46177 14.1021 8.83578 14.0785 8.46513 13.6997L1.90891 7L8.46513 0.300276C8.83578 -0.0784894 9.46177 -0.102109 9.86331 0.247521Z" fill="#1864CE"/>
                </svg>
                Back
            </a>
            <div class="object__promo__row">
                <div class="object__promo__slider__wrap">
                    @@include('../../components/share_like.html',{"favorite": "false"})
                    <div class="object__promo__slider js_object__promo__slider">
                        @@for (var i = 0; i < 4; i++) {
                            <a href="javascript:void(0)" data-fancybox="promo" data-src="images/pages/object/promo.jpg" class="object__promo__slide">
                                <div class="object__promo__slide__inner">
                                    <img src="images/pages/object/promo.jpg" alt="">
                                </div>
                            </a>
                        }
                    </div>
                </div>
                <div class="object__promo__slider_col_2">
                    <div class="object__promo__slider_col_2__2">
                        <a class="object__promo__slider_col_2__2__item" href="javascript:void(0)" data-fancybox="promo" data-src="images/pages/object/promo.jpg" >
                            <div class="object__promo__slider_col_2__2__item__inner">
                                <img src="images/pages/object/promo.jpg" alt="">
                            </div>
                        </a>
                        <a class="object__promo__slider_col_2__2__item" href="javascript:void(0)" data-fancybox="promo" data-src="images/pages/object/promo.jpg" >
                            <div class="object__promo__slider_col_2__2__item__inner">
                                <img src="images/pages/object/promo.jpg" alt="">
                            </div>
                        </a>
                        <a class="object__promo__slider_col_2__2__item object__promo__slider_col_2__2__item--video" href="javascript:void(0)" data-fancybox data-src="https://youtu.be/zWc0Bog4884" >
                            <div class="object__promo__slider_col_2__2__item__inner">
                                <img src="images/pages/object/promo.jpg" alt="">
                            </div>
                        </a>



                        <a class="object__promo__slider_col_2__2__item object__promo__slider_col_2__2__item--3d" href="javascript:void(0)" data-fancybox data-src="https://arcada-group.ru/3d/Moris_Torez/" data-fancybox data-type="iframe">
                            <div class="object__promo__slider_col_2__2__item--3d__text">
                                <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.53376 10.5819L1.34401 7.11122C1.06868 6.95691 0.74355 6.96328 0.47413 7.12853C0.204711 7.29373 0.0439453 7.58542 0.0439453 7.9088V15.9601C0.0439453 16.2859 0.214444 16.5883 0.488938 16.7493L6.67881 20.38C6.81526 20.46 6.96447 20.5 7.11373 20.5C7.26582 20.5 7.41787 20.4584 7.55614 20.3754C7.82999 20.211 7.99349 19.9177 7.99349 19.5908V11.3796C7.99349 11.0466 7.81738 10.741 7.53376 10.5819V10.5819Z" fill="white"/>
                                    <path d="M16.2176 5.01699C16.2172 4.67705 16.0352 4.36871 15.7427 4.2123L8.99296 0.601876C8.7374 0.465116 8.4328 0.466132 8.17818 0.604416L1.52772 4.21484C1.23815 4.37211 1.05803 4.67951 1.05762 5.01715C1.05724 5.35471 1.23664 5.66254 1.52579 5.82048L8.17629 9.45344C8.30505 9.52374 8.44643 9.55891 8.58788 9.55891C8.72759 9.55891 8.86734 9.5246 8.99481 9.45595L15.7447 5.82306C16.0368 5.66582 16.218 5.35694 16.2176 5.01699V5.01699Z" fill="white"/>
                                    <path d="M16.91 7.12859C16.6407 6.96335 16.3154 6.95682 16.0402 7.11125L9.85027 10.582C9.56673 10.741 9.39062 11.0466 9.39062 11.3796V19.5908C9.39062 19.9177 9.55412 20.211 9.82797 20.3754C9.96624 20.4585 10.1183 20.5 10.2704 20.5C10.4196 20.5 10.5689 20.46 10.7053 20.38L16.8952 16.7493C17.1697 16.5883 17.3402 16.2859 17.3402 15.9602V7.90887C17.3402 7.58549 17.1794 7.2938 16.91 7.12859V7.12859Z" fill="white"/>
                                </svg>
                                3D tour
                            </div>
                            <div class="object__promo__slider_col_2__2__item__inner">
                                <img src="images/pages/object/promo.jpg" alt="">
                            </div>
                        </a>
                    </div>

                    @@include('promo_developer.html')

                </div>
            </div>

        </div>
    </div>
</div>