<div class="modal__menu js_modal__menu">

    <div class="modal__menu__inner">

    <ul class="modal__menu__list">
        <li class="has_submenu js_modal__menu__hassubmenu">
            <a href="javascript:void(0)">Buy</a>
            <button class="js_btn_modal__menu__hassubmenu btn_modal__menu__hassubmenu">
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path d="M1.5 1L6.5 6L11.5 1" stroke="#203758" stroke-width="2" stroke-linecap="round"></path>
                </svg>
            </button>
            <div class="modal__menu__sub">
                <div class="menu_buy_rent__content">
                    <div class="menu_buy_rent__col_1">
                        <div class="menu_buy_rent__content__title">Residential</div>
                        <div class="menu_buy_rent__col_list">
                            <ul>
                                <li><a href="">Apartments</a></li>
                                <li><a href="">Villas | Mansions</a></li>
                                <li><a href="">Townhouses</a></li>
                                <li><a href="">Floor | Part of the building</a></li>
                                <li><a href="">Buildings</a></li>
                                <li><a href="">Lands</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="menu_buy_rent__col_2">
                        <div class="menu_buy_rent__content__title">Commercial</div>
                        <div class="menu_buy_rent__col_list menu_buy_rent__col_list--2">
                            <ul>
                                <li><a href="">Offices</a></li>
                                <li><a href="">Shops</a></li>
                                <li><a href="">Cafe | Restaurants</a></li>
                                <li><a href="">Co-workings</a></li>
                                <li><a href="">Hotels</a></li>
                                <li><a href="">Factories</a></li>
                                <li><a href="">Retails</a></li>
                                <li><a href="">Buildings</a></li>
                                <li><a href="">Hotel rooms</a></li>
                                <li><a href="">Parkings</a></li>
                                <li><a href="">Warehouses</a></li>
                                <li><a href="">Lands</a></li>
                                <li><a href="">Farms</a></li>
                            </ul>
                        </div>
                        <div class="menu_buy_rent__content__bottom">
                            <div class="menu_buy_rent__content__bottom__link">
                                <a href="">Free Appointment Space</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li class="has_submenu js_modal__menu__hassubmenu">
            <a href="javascript:void(0)">Rent</a>
            <button class="js_btn_modal__menu__hassubmenu btn_modal__menu__hassubmenu">
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path d="M1.5 1L6.5 6L11.5 1" stroke="#203758" stroke-width="2" stroke-linecap="round"></path>
                </svg>
            </button>
            <div class="modal__menu__sub">
                <div class="menu_buy_rent__content">
                    <div class="menu_buy_rent__col_1">
                        <div class="menu_buy_rent__content__title">Residential</div>
                        <div class="menu_buy_rent__col_list">
                            <ul>
                                <li><a href="">Apartments</a></li>
                                <li><a href="">Villas | Mansions</a></li>
                                <li><a href="">Townhouses</a></li>
                                <li><a href="">Floor | Part of the building</a></li>
                                <li><a href="">Buildings</a></li>
                                <li><a href="">Lands</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="menu_buy_rent__col_2">
                        <div class="menu_buy_rent__content__title">Commercial</div>
                        <div class="menu_buy_rent__col_list menu_buy_rent__col_list--2">
                            <ul>
                                <li><a href="">Offices</a></li>
                                <li><a href="">Shops</a></li>
                                <li><a href="">Cafe | Restaurants</a></li>
                                <li><a href="">Co-workings</a></li>
                                <li><a href="">Hotels</a></li>
                                <li><a href="">Factories</a></li>
                                <li><a href="">Retails</a></li>
                                <li><a href="">Buildings</a></li>
                                <li><a href="">Hotel rooms</a></li>
                                <li><a href="">Parkings</a></li>
                                <li><a href="">Warehouses</a></li>
                                <li><a href="">Lands</a></li>
                                <li><a href="">Farms</a></li>
                            </ul>
                        </div>
                        <div class="menu_buy_rent__content__bottom">
                            <div class="menu_buy_rent__content__bottom__link">
                                <a href="">Free Appointment Space</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li><a href="#">Developers</a></li>
        <li><a href="#">Agencies</a></li>
        <li><a href="#">Hotels</a></li>
        <li><a href="#">Services</a></li>
    </ul>
    </div>
</div>