

<form action="javasscript:void(0)" class="filter_x filter_x--project_object">
    <div class="filter_x__mobile__top">
        <div class="filter_x__mobile__back js_btn_project_object__top_filter">
            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.04508 0.676801C7.3319 0.926537 7.34978 1.34831 7.08503 1.61886L3.28702 5.5L7.08503 9.38114C7.34978 9.65169 7.3319 10.0735 7.04508 10.3232C6.75827 10.5729 6.31113 10.5561 6.04638 10.2855L1.36337 5.5L6.04638 0.714483C6.31113 0.443936 6.75827 0.427065 7.04508 0.676801Z" fill="#203D58"/>
            </svg>
            Back
        </div>
        <div class="filter_x__mobile__title">Filter</div>
        <div class="filter_x__mobile__clear">
            <button type="reset">clear</button>
        </div>
    </div>
<div class="btn_filter_x--project_object__close js_btn_project_object__top_filter"></div>



<form action='javascript:void(0)' class="filter_x js_filter_x">

    <div class="filter_x_list">
        <div class="filter_x__item__field filter_x__item__field--country">
            <select name="country" required class='js_select' placeholder='Choose something'>
                <option value="1" selected>United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
                <option value="1">United Arabian Emirates</option>
            </select>
        </div>



        <div class="filter_x__item__field filter_x__item__field--type">
            <div class="filter_type js_filter_type">
                <div class="filter_type__view js_filter_type__view">
                    <div class="filter_type__view__text js_filter_type_view__text" data-text="Apartment">Apartment</div>
                </div>
                <div class="filter_type__modal js_filter_type_view__modal">
                    <div class="filter_type__modal__inner">
                        <div class="filter_type__modal__top js_filter_type__modal__top">
                            <a href="javascript:void(0)" class="filter_type__tab active">Residantal</a>
                            <a href="javascript:void(0)" class="filter_type__tab">Commercial</a>
                        </div>
                        <div class="filter_type__modal__list__wrap js_filter_type__modal__list__wrap">
                            <div class="filter_type__modal__list active">
                                <label class="filter_type__field">
                                    <input type="radio" name="residantal" value="Apartment">
                                    <div class="filter_type__field__view">Apartment</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="residantal" value="Room">
                                    <div class="filter_type__field__view">Room</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="checkbox" name="residantal" value="Villa | Mansion">
                                    <div class="filter_type__field__view">Villa | Mansion</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="residantal" value="Townhouse">
                                    <div class="filter_type__field__view">Townhouse</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="residantal" value="Floor | Part of the building">
                                    <div class="filter_type__field__view">Floor | Part of the building</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="residantal" value="Building">
                                    <div class="filter_type__field__view">Building</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="residantal" value="Land">
                                    <div class="filter_type__field__view">Land</div>
                                </label>
                            </div>

                            <div class="filter_type__modal__list">
                                <label class="filter_type__field">
                                    <input type="radio" name="commercial" value="Hotel room">
                                    <div class="filter_type__field__view">Hotel room</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="commercial" value="Office">
                                    <div class="filter_type__field__view">Office</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="commercial" value="Co-working">
                                    <div class="filter_type__field__view">Co-working</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="commercial" value="Retail">
                                    <div class="filter_type__field__view">Retail</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="commercial" value="Cafe | Restaurant">
                                    <div class="filter_type__field__view">Cafe | Restaurant</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="commercial" value="Warehouse">
                                    <div class="filter_type__field__view">Warehouse</div>
                                </label>
                                <label class="filter_type__field">
                                    <input type="radio" name="commercial" value="Parking">
                                    <div class="filter_type__field__view">Parking</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="filter_x__item__field filter_x__item__field--bedroom">
            <div class="filter_bedrooms js_filter_bedrooms">
                <div class="filter_bedrooms__view js_filter_bedrooms_view">
                    <div class="filter_bedrooms__view__text js_filter_bedrooms_view__text" data-text="Bedrooms">Bedrooms</div>
                </div>
                <div class="filter_bedrooms__modal js_filter_bedrooms_view__modal">
                    <div class="filter_bedrooms__modal__inner">
                        <div class="filter_bedrooms__modal__list">
                            <label class="filter_bedrooms__checkbox">
                                <input type="checkbox" name="bedrooms" value="Studio">
                                <div class="filter_bedrooms__checkbox__text">Studio</div>
                            </label>
                            <label class="filter_bedrooms__checkbox">
                                <input type="checkbox" name="bedrooms" value="1">
                                <div class="filter_bedrooms__checkbox__text">1</div>
                            </label>
                            <label class="filter_bedrooms__checkbox">
                                <input type="checkbox" name="bedrooms" value="2">
                                <div class="filter_bedrooms__checkbox__text">2</div>
                            </label>
                            <label class="filter_bedrooms__checkbox">
                                <input type="checkbox" name="bedrooms" value="3">
                                <div class="filter_bedrooms__checkbox__text">3</div>
                            </label>
                            <label class="filter_bedrooms__checkbox">
                                <input type="checkbox" name="bedrooms" value="4">
                                <div class="filter_bedrooms__checkbox__text">4</div>
                            </label>
                            <label class="filter_bedrooms__checkbox">
                                <input type="checkbox" name="bedrooms" value="5+">
                                <div class="filter_bedrooms__checkbox__text">5+</div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter_x__item__field filter_x__item__field--price">
            <div class="filter_price js_filter_price">
                <div class="filter_price__view js_filter_price__view">
                    <input type="hidden" name="currency" class="js_currency_value" value="AED">
                    <div class="filter_price__view__text js_filter_price__view__text"></div>
                </div>
                <div class="filter_price__modal js_filter_price__modal">
                    <div class="filter_price__modal__inner">
                        <div class="filter_price__modal__top js_filter_price__modal__top --hide js_only_rent">
                            <a href="javascript:void(0)" class="filter_price__tab active">Monthly</a>
                            <a href="javascript:void(0)" class="filter_price__tab">Yearly</a>
                        </div>
                        <div class="filter_price__modal__content">
                            <div class="filter_price__modal__content__row">
                                <div class="filter_price__modal__field">
                                    <div class="filter_price__modal__field__text_1">min</div>
                                    <input type="number" name="price_from" placeholder="1 200 000" value="1 200 000">
                                    <div class="filter_price__modal__field__text_2">AED</div>
                                </div>
                                <div class="filter_price__modal__field">
                                    <div class="filter_price__modal__field__text_1">max</div>
                                    <input type="number" name="price_to" placeholder="5 200 000" value="5 200 000">
                                    <div class="filter_price__modal__field__text_2">AED</div>
                                </div>
                            </div>
                            <div class="filter_price__modal__content__range">
                                <div class="js_filter_price__modal__content__range filter_price__modal__content__range_x" data-min="1000" data-max="100000" data-step="1000"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter_x__item__field__more">
            <a href="javascript:void(0)" data-fancybox data-src="#js_more_filter" class='filter_x__item__field__more__link'>
                <span class="filter_x__item__field__more__link__text">More filters</span>
                <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16 0.873026C16 0.390867 15.6091 0 15.127 0H4.65066C4.1685 0 3.77764 0.390867 3.77764 0.873026C3.77764 1.35519 4.1685 1.74605 4.65066 1.74605H15.127C15.6091 1.74605 16 1.35519 16 0.873026Z"
                        fill="#203D58" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16 5.00016C16 4.518 15.6091 4.12714 15.127 4.12714H4.65066C4.1685 4.12714 3.77764 4.518 3.77764 5.00016C3.77764 5.48232 4.1685 5.87319 4.65066 5.87319H15.127C15.6091 5.87319 16 5.48232 16 5.00016Z"
                        fill="#203D58" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16 9.12699C16 8.64483 15.6091 8.25397 15.127 8.25397H4.65066C4.1685 8.25397 3.77764 8.64483 3.77764 9.12699C3.77764 9.60915 4.1685 10 4.65066 10H15.127C15.6091 10 16 9.60915 16 9.12699Z"
                        fill="#203D58" />
                    <path
                        d="M0.285686 0.873026C0.285686 1.35519 0.676553 1.74605 1.15871 1.74605C1.64087 1.74605 2.03174 1.35519 2.03174 0.873026C2.03174 0.390867 1.64087 0 1.15871 0C0.676553 0 0.285686 0.390867 0.285686 0.873026Z"
                        fill="#203D58" />
                    <path
                        d="M0.285686 5.00016C0.285686 5.48232 0.676553 5.87319 1.15871 5.87319C1.64087 5.87319 2.03174 5.48232 2.03174 5.00016C2.03174 4.518 1.64087 4.12714 1.15871 4.12714C0.676553 4.12714 0.285686 4.518 0.285686 5.00016Z"
                        fill="#203D58" />
                    <path
                        d="M0.285686 9.12699C0.285686 9.60915 0.676553 10 1.15871 10C1.64087 10 2.03174 9.60915 2.03174 9.12699C2.03174 8.64483 1.64087 8.25397 1.15871 8.25397C0.676553 8.25397 0.285686 8.64483 0.285686 9.12699Z"
                        fill="#203D58" />
                </svg>
            </a>
        </div>

        <div class="filter_x__item__field filter_x__item__field--map">
            <button class='filter_x__item__btn_map'>
                <div class="filter_x__item__btn_map__text">Map</div>
            </button>
        </div>

        <div class="filter_x__item__field filter_x__item__field--submit">
            <buttton class='filter_x_btn btn_default'>
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <path
                        d="M24 24L16.5 16.5M1 10C1 11.1819 1.23279 12.3522 1.68508 13.4442C2.13738 14.5361 2.80031 15.5282 3.63604 16.364C4.47177 17.1997 5.46392 17.8626 6.55585 18.3149C7.64778 18.7672 8.8181 19 10 19C11.1819 19 12.3522 18.7672 13.4442 18.3149C14.5361 17.8626 15.5282 17.1997 16.364 16.364C17.1997 15.5282 17.8626 14.5361 18.3149 13.4442C18.7672 12.3522 19 11.1819 19 10C19 7.61305 18.0518 5.32387 16.364 3.63604C14.6761 1.94821 12.3869 1 10 1C7.61305 1 5.32387 1.94821 3.63604 3.63604C1.94821 5.32387 1 7.61305 1 10V10Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>
                <div class="filter_x_btn__text">Show 123 properties</div>
            </buttton>
        </div>



    </div>





    <div id="js_more_filter" class="modal_default modal_more_filter">
        <div class="modal_more_filter__inner">
            <div class="modal_more_filter__title modal_1__title">More filters</div>
            <div class="modal_more_filter__form">
                <div class="more_filter__list">


                    <!-- radio  -->
                    <div class="more_filter__block  js_only_buy">
                        <div class="more_filter__block__title">Completion Status</div>
                        <div class="more_filter__block__content">
                            <div class="field_choose__list">
                                <label class="field_choose">
                                    <input type="radio" name="completion_status" value="1" checked>
                                    <div class="field_choose__view">All</div>
                                </label>
                                <label class="field_choose">
                                    <input type="radio" name="completion_status" value="2">
                                    <div class="field_choose__view">Off-plan</div>
                                </label>
                                <label class="field_choose">
                                    <input type="radio" name="completion_status" value="3">
                                    <div class="field_choose__view">Ready projects</div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- select  -->
                    <div class="more_filter__block">
                        <div class="more_filter__block__title">District</div>
                        <div class="more_filter__block__content">
                            <select name="" id="" class="js_select" placeholder="All districts">
                                <option value="">All Districts</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>


                    <!-- area  -->
                    <div class="more_filter__block">
                        <div class="more_filter__block__title">Area</div>
                        <div class="more_filter__block__content">
                            <div class="more_filter__block__from_to">
                                <div class="more_filter__block__from_to__field">
                                    <div class="more_filter__block__from_to__field__text_1">min</div>
                                    <input type="number" name="area_from" placeholder="0" value="0">
                                    <div class="more_filter__block__from_to__field__text_2">sqft</div>
                                </div>
                                <div class="more_filter__block__from_to__field">
                                    <div class="more_filter__block__from_to__field__text_1">max</div>
                                    <input type="number" name="area_to" placeholder="1 500" value="1 500">
                                    <div class="more_filter__block__from_to__field__text_2">sqft</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- floor  -->
                    <div class="more_filter__block">
                        <div class="more_filter__block__title">Floor</div>
                        <div class="more_filter__block__content">
                            <div class="more_filter__block__content--floor">
                                <div class="more_filter__block__from_to">
                                    <div class="more_filter__block__from_to__field more_filter__block__from_to__field--floor">
                                        <div class="more_filter__block__from_to__field__text_1">min</div>
                                        <input type="number" name="floor__min" placeholder="0" value="0">
                                    </div>
                                    <div class="more_filter__block__from_to__field more_filter__block__from_to__field--floor">
                                        <div class="more_filter__block__from_to__field__text_1">max</div>
                                        <input type="number" name="floor__max" placeholder="25" value="25">
                                    </div>
                                </div>
                                <div class="more_filter__block__content--floor__choose">
                                    <label class="field_choose">
                                        <input type="checkbox" name="floor" value="Penthause">
                                        <div class="field_choose__view">Penthause</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="floor" value="not 1st living floor">
                                        <div class="field_choose__view">not 1st living floor</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Bathrooms  -->
                    <div class="more_filter__block">
                        <div class="more_filter__block__title">Bathrooms</div>
                        <div class="more_filter__block__content">
                            <div class="field_choose__list">
                                <div class="field_choose__list--bathroom">
                                    <label class="field_choose">
                                        <input type="checkbox" name="bathrooms" value="1">
                                        <div class="field_choose__view">1</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="bathrooms" value="2">
                                        <div class="field_choose__view">2</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="bathrooms" value="3">
                                        <div class="field_choose__view">3</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="bathrooms" value="4">
                                        <div class="field_choose__view">4</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="bathrooms" value="5+">
                                        <div class="field_choose__view">5+</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="bathrooms" value="Shower">
                                        <div class="field_choose__view">Shower</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="bathrooms" value="Bath">
                                        <div class="field_choose__view">Bath</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- checkbox  -->
                    <div class="more_filter__block">
                        <div class="more_filter__block__title">Amenities</div>
                        <div class="more_filter__block__content">
                            <div class="field_choose__list">

                                <div class="field_choose__list__group">
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Unfurnished">
                                        <div class="field_choose__view">Unfurnished</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Kitchen furniture">
                                        <div class="field_choose__view">Kitchen furniture</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Rooms furniture ">
                                        <div class="field_choose__view">Rooms furniture</div>
                                    </label>
                                </div>

                                <div class="field_choose__list__group">
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Washing machine">
                                        <div class="field_choose__view">Washing machine</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Air-conditioner">
                                        <div class="field_choose__view">Air-conditioner</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Dishwasher">
                                        <div class="field_choose__view">Dishwasher</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Drying Machine">
                                        <div class="field_choose__view">Drying Machine</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Small household appliances">
                                        <div class="field_choose__view">Small household appliances</div>
                                    </label>
                                </div>

                                <div class="field_choose__list__group">
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Walk in closet">
                                        <div class="field_choose__view">Walk in closet</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Laundry room">
                                        <div class="field_choose__view">Laundry room</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Maids room">
                                        <div class="field_choose__view">Maids room</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Study room">
                                        <div class="field_choose__view">Study room</div>
                                    </label>
                                </div>

                                <div class="field_choose__list__group --hide js_only_rent">
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Kids allowed">
                                        <div class="field_choose__view">Kids allowed</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Pets allowed">
                                        <div class="field_choose__view">Pets allowed</div>
                                    </label>
                                </div>

                                <div class="field_choose__list__group">
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="TV">
                                        <div class="field_choose__view">TV</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Internet">
                                        <div class="field_choose__view">Internet</div>
                                    </label>
                                    <label class="field_choose">
                                        <input type="checkbox" name="amenities" value="Smart house">
                                        <div class="field_choose__view">Smart house</div>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- checkbox  -->
                    <div class="more_filter__block">
                        <div class="more_filter__block__title">View</div>
                        <div class="more_filter__block__content">
                            <div class="field_choose__list">
                                <label class="field_choose">
                                    <input type="checkbox" name="view" value="Any" checked>
                                    <div class="field_choose__view">Any</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="view" value="Street">
                                    <div class="field_choose__view">Street</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="view" value="Yard">
                                    <div class="field_choose__view">Yard</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="view" value="Mountains">
                                    <div class="field_choose__view">Mountains</div>
                                </label>

                                <label class="field_choose">
                                    <input type="checkbox" name="view" value="Water">
                                    <div class="field_choose__view">Water</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="view" value="Landmark">
                                    <div class="field_choose__view">Landmark</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="view" value="Park">
                                    <div class="field_choose__view">Park</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="view" value="Forest">
                                    <div class="field_choose__view">Forest</div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- checkbox  -->
                    <div class="more_filter__block">
                        <div class="more_filter__block__title">Parking</div>
                        <div class="more_filter__block__content">
                            <div class="field_choose__list">
                                <label class="field_choose">
                                    <input type="checkbox" name="parking" value="Any" checked>
                                    <div class="field_choose__view">Any</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="parking" value="Ground">
                                    <div class="field_choose__view">Ground</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="parking" value="Covered">
                                    <div class="field_choose__view">Covered</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="parking" value="3">
                                    <div class="field_choose__view">Ready</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="parking" value="Underground">
                                    <div class="field_choose__view">Underground</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="parking" value="Vallet">
                                    <div class="field_choose__view">Vallet</div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- checkbox  -->
                    <div class="more_filter__block">
                        <div class="more_filter__block__title">Metro</div>
                        <div class="more_filter__block__content">
                            <div class="field_choose__list">
                                <label class="field_choose">
                                    <input type="checkbox" name="metro" value="any" checked>
                                    <div class="field_choose__view">Any</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="metro" value="walk">
                                    <div class="field_choose__view">Walk</div>
                                </label>
                                <label class="field_choose">
                                    <input type="checkbox" name="metro" value="3">
                                    <div class="field_choose__view">Transport</div>
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="more_filter__bottom">
                        <button type="reset" class="btn_default btn_ghost btn_filter_reset">Reset</button>
                        <button type="submit" class="btn_default btn_blue btn_filter_submit">Show 1 000 properties</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</form>