<div class="object_map__inner">
    <div class="js_object_map object_map_x" data-lat="24.965006384961285" data-lng="55.077761355221625"></div>
    <div class="js_object_map__points object_map__points">
        <div class="object_map__points__list">

            <div class="object_map__point__item" data-request="underground" data-icon="images/icons/map/metro.svg">
                <div class="object_map__point__item__icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.5714 0H1.42858C0.639669 0 0 0.639669 0 1.42858V18.5714C0 19.3603 0.639669 20 1.42858 20H18.5714C19.3603 20 20 19.3603 20 18.5714V1.42858C20 0.639669 19.3603 0 18.5714 0V0ZM15.7143 15.7143H12.8572V9.57589L10.657 12.1429H9.34298L7.14283 9.57589V15.7143H4.28571V4.99998H6.98356L10 8.5191L13.0164 4.99998H15.7143V15.7143Z" fill="#203D58"/>
                    </svg>
                </div>
                <div class="object_map__point__item__text">Metro</div>
            </div>

            <div class="object_map__point__item" data-request="School"  data-icon="images/icons/map/school.svg">
                <div class="object_map__point__item__icon">
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.05944 0.360229C3.0589 0.360229 3.0583 0.360229 3.05776 0.360229C2.8686 0.360229 2.69069 0.433967 2.55634 0.567974C2.42052 0.703463 2.3457 0.883867 2.3457 1.07592V11.8076C2.3457 12.2011 2.66712 12.5221 3.06227 12.5231C4.72814 12.5271 7.51912 12.8743 9.44451 14.8892V3.65815C9.44451 3.52475 9.41044 3.39943 9.34613 3.29573C7.76586 0.750803 4.72908 0.364135 3.05944 0.360229Z" fill="#203D58"/>
                        <path d="M17.6544 11.8076V1.0758C17.6544 0.883745 17.5796 0.703341 17.4438 0.567852C17.3094 0.433845 17.1314 0.360107 16.9424 0.360107C16.9418 0.360107 16.9412 0.360107 16.9407 0.360107C15.2711 0.36408 12.2343 0.750748 10.654 3.29567C10.5897 3.39938 10.5557 3.5247 10.5557 3.6581V14.889C12.4811 12.8742 15.272 12.5269 16.9379 12.523C17.333 12.522 17.6544 12.201 17.6544 11.8076Z" fill="#203D58"/>
                        <path d="M19.2846 2.83508H18.7657V11.8076C18.7657 12.8124 17.9471 13.6317 16.9407 13.6342C15.5277 13.6375 13.1979 13.9138 11.5479 15.4755C14.4016 14.7768 17.41 15.231 19.1244 15.6217C19.3385 15.6705 19.5597 15.6201 19.7312 15.4834C19.9022 15.347 20.0002 15.1432 20.0002 14.9244V3.55064C20.0003 3.15609 19.6792 2.83508 19.2846 2.83508Z" fill="#203D58"/>
                        <path d="M1.23448 11.8076V2.83508H0.715558C0.321079 2.83508 0 3.15609 0 3.55064V14.9242C0 15.1431 0.0980475 15.3468 0.268957 15.4832C0.440338 15.6198 0.661349 15.6704 0.875761 15.6215C2.59024 15.2307 5.59867 14.7766 8.45228 15.4753C6.80231 13.9137 4.47247 13.6375 3.05947 13.6341C2.05321 13.6317 1.23448 12.8124 1.23448 11.8076Z" fill="#203D58"/>
                    </svg>
                </div>
                <div class="object_map__point__item__text">School</div>
            </div>

            <div class="object_map__point__item" data-request="Kindergarten"  data-icon="images/icons/map/kindergarten.svg">
                <div class="object_map__point__item__icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.94916 15.7957C9.81838 15.9787 9.67279 16.152 9.51232 16.3125C8.73408 17.091 7.69932 17.5197 6.59869 17.5197C5.49807 17.5197 4.46334 17.091 3.6851 16.3125C2.07869 14.7056 2.07869 12.0909 3.6851 10.484C3.84674 10.3223 4.0192 10.176 4.20084 10.0453C3.79018 9.39609 3.44334 8.74683 3.17768 8.12187C3.16811 8.09933 3.1592 8.07703 3.14982 8.05457C2.69033 8.32648 2.26502 8.65644 1.87818 9.04335C-0.623457 11.5458 -0.623457 15.6177 1.87818 18.1201C3.0901 19.3324 4.70143 20 6.41537 20C8.12928 20 9.74061 19.3324 10.9525 18.1201C11.334 17.7385 11.6652 17.3094 11.9388 16.8471C11.9168 16.838 11.895 16.8292 11.8729 16.8198C11.2478 16.5539 10.5985 16.2068 9.94916 15.7957V15.7957Z" fill="#203D58"/>
                        <path d="M15.5623 10.2485C14.6097 10.3602 13.7364 10.7732 13.0827 11.4271L13.0568 11.4531C12.7365 11.7735 12.3118 11.9496 11.86 11.9497C11.86 11.9497 11.8598 11.9497 11.8597 11.9497C11.4079 11.9497 10.9832 11.7737 10.6638 11.4541L8.48836 9.27804C7.82938 8.61874 7.82942 7.54616 8.4884 6.88698L8.61004 6.76534C9.22481 6.15034 9.62059 5.32886 9.74262 4.42905C8.90957 3.92761 8.09059 3.54913 7.35117 3.32948C5.62938 2.81804 4.72664 3.2521 4.27254 3.70632C3.48485 4.49425 3.46629 5.90499 4.22024 7.6787C4.88242 9.23651 6.10117 10.9692 7.56403 12.4325C9.02688 13.8958 10.759 15.115 12.3164 15.7774C13.1827 16.1459 13.9623 16.3299 14.6251 16.3299C15.3191 16.3299 15.885 16.1281 16.2879 15.725C16.7429 15.27 17.1771 14.365 16.6622 12.6378C16.4418 11.8986 16.0633 11.0805 15.5623 10.2485V10.2485Z" fill="#203D58"/>
                        <path d="M18.6189 1.28306C17.7461 0.433918 16.5902 -0.0216683 15.3634 0.000792591C14.1355 0.0230973 12.9951 0.520949 12.1523 1.40263C11.4208 2.16778 10.977 3.17079 10.9025 4.22689C10.8121 5.50857 10.2824 6.69454 9.41095 7.5663L9.28943 7.68786C9.0715 7.90583 9.0715 8.25915 9.28939 8.47712L11.4649 10.6533C11.5696 10.758 11.7116 10.8168 11.8597 10.8168C12.0078 10.8168 12.1498 10.7579 12.2545 10.6532L12.2814 10.6262C13.1852 9.72212 14.4107 9.17853 15.7322 9.09552C16.8388 9.02599 17.8803 8.55544 18.665 7.77048C19.5336 6.90161 20.0072 5.74642 19.9986 4.51763C19.9901 3.28903 19.5001 2.14032 18.6189 1.28306V1.28306Z" fill="#203D58"/>
                    </svg>
                </div>
                <div class="object_map__point__item__text">Kindergarten</div>
            </div>

            <div class="object_map__point__item" data-request="Grocery"  data-icon="images/icons/map/grocery.svg">
                <div class="object_map__point__item__icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.833333 0.833374C0.373096 0.833374 0 1.20647 0 1.66671C0 2.12694 0.373096 2.50004 0.833333 2.50004H2.31608C2.43741 2.50004 2.55567 2.53822 2.65409 2.60916C2.75252 2.68011 2.82613 2.78023 2.86449 2.89533L5.61198 11.1394C5.73399 11.5054 5.7495 11.8995 5.65592 12.2738L5.42969 13.1804C5.09773 14.5082 6.13132 15.8334 7.5 15.8334H17.5C17.9602 15.8334 18.3333 15.4603 18.3333 15C18.3333 14.5398 17.9602 14.1667 17.5 14.1667H7.5C7.17551 14.1667 6.9672 13.9005 7.0459 13.5857L7.21651 12.9042C7.24542 12.7888 7.31208 12.6863 7.40591 12.6131C7.49974 12.5398 7.61535 12.5 7.73437 12.5H16.6667C17.0255 12.5002 17.3441 12.2707 17.4577 11.9304L19.6794 5.26371C19.8593 4.72389 19.4574 4.16645 18.8883 4.16671H5.46224C5.34091 4.16671 5.22265 4.12853 5.12422 4.05759C5.02579 3.98664 4.95218 3.88653 4.91381 3.77142L4.12435 1.40304C4.0108 1.06267 3.69214 0.833187 3.33333 0.833374H0.833333ZM6.66667 16.6667C5.74619 16.6667 5 17.4129 5 18.3334C5 19.2538 5.74619 20 6.66667 20C7.58714 20 8.33333 19.2538 8.33333 18.3334C8.33333 17.4129 7.58714 16.6667 6.66667 16.6667ZM16.6667 16.6667C15.7462 16.6667 15 17.4129 15 18.3334C15 19.2538 15.7462 20 16.6667 20C17.5871 20 18.3333 19.2538 18.3333 18.3334C18.3333 17.4129 17.5871 16.6667 16.6667 16.6667Z" fill="#203D58"/>
                    </svg>
                </div>
                <div class="object_map__point__item__text">Grocery</div>
            </div>

            <div class="object_map__point__item" data-request="restaurant"  data-icon="images/icons/map/restaurant.svg">
                <div class="object_map__point__item__icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.4793 17.0049L11.637 9.1625L2.47446 0H1.7584L1.61219 0.371523C1.22629 1.35215 1.06141 2.35512 1.13543 3.27188C1.21981 4.31688 1.6168 5.2216 2.28356 5.88836L9.43629 13.0411L10.3797 12.0977L16.9924 19.4919C17.6502 20.1497 18.7825 20.1888 19.4793 19.4919C20.165 18.8062 20.165 17.6906 19.4793 17.0049Z" fill="#203D58"/>
                        <path d="M6.12207 11.3844L0.520078 16.9864C-0.165547 17.672 -0.165547 18.7877 0.520078 19.4733C1.17141 20.1246 2.29816 20.1821 3.00699 19.4733L8.60902 13.8713L6.12207 11.3844Z" fill="#203D58"/>
                        <path d="M19.1504 3.3301L15.9726 6.50783L15.1436 5.67885L18.3213 2.50107L17.4923 1.67209L14.3146 4.84982L13.4856 4.02084L16.6634 0.843105L15.8345 0.0141602L11.6895 4.15908C11.1825 4.66615 10.8797 5.33943 10.8369 6.05498C10.8261 6.23627 10.785 6.41459 10.7168 6.5842L13.4093 9.27674C13.5789 9.2085 13.7573 9.16744 13.9386 9.15662C14.6541 9.11393 15.3274 8.81107 15.8345 8.304L19.9794 4.15912L19.1504 3.3301Z" fill="#203D58"/>
                    </svg>
                </div>
                <div class="object_map__point__item__text">Restaurant</div>
            </div>

            <div class="object_map__point__item" data-request="Hospital" data-icon="images/icons/map/hospital.svg">
                <div class="object_map__point__item__icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.138 20H6.86199C6.5384 20 6.27605 19.7377 6.27605 19.4141V13.7239H0.585938C0.262344 13.7239 0 13.4616 0 13.138V6.86199C0 6.5384 0.262344 6.27605 0.585938 6.27605H6.27605V0.585938C6.27605 0.262344 6.5384 0 6.86199 0H13.138C13.4616 0 13.7239 0.262344 13.7239 0.585938V6.27605H19.4141C19.7377 6.27605 20 6.5384 20 6.86199V13.138C20 13.4616 19.7377 13.7239 19.4141 13.7239H13.7239V19.4141C13.7239 19.7377 13.4616 20 13.138 20V20Z" fill="#203D58"/>
                    </svg>
                </div>
                <div class="object_map__point__item__text">Hospital</div>
            </div>

            <div class="object_map__point__item" data-request="Pharmacies" data-icon="images/icons/map/pharmacies.svg">
                <div class="object_map__point__item__icon">

                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9997 0.98938C14.3411 0.98938 12.9971 2.33338 12.9971 3.99205H16.9971C18.6557 3.99205 19.9997 2.64805 19.9997 0.98938H15.9997V0.98938Z" fill="#203D58"/>
                        <path d="M4 0.98938H0C0 2.64805 1.344 3.99205 3.00267 3.99205H7.00267C7.00267 2.33338 5.65867 0.98938 4 0.98938Z" fill="#203D58"/>
                        <path d="M15.0027 5.99202H13.0027C12.4481 5.99202 12.0001 6.44002 12.0001 6.99468C12.0001 7.54935 12.4481 7.99735 13.0027 7.99735H15.0027C15.5521 7.99735 16.0054 8.44535 16.0054 9.00002V9.33068C16.0054 9.81602 15.6587 10.2267 15.1841 10.312L11.0027 11.0747V3.71469C11.5947 3.36802 12.0001 2.73335 12.0001 1.99735C12.0001 0.893352 11.1041 0.00268555 10.0054 0.00268555C8.90141 0.00268555 8.01074 0.898686 8.01074 1.99735C8.01074 2.73335 8.41608 3.36802 9.00808 3.71469V11.0694L4.83208 10.312C4.35741 10.2267 4.01074 9.81068 4.01074 9.33068V9.00002C4.01074 8.45068 4.45874 7.99735 5.01341 7.99735H7.01341C7.56808 7.99735 8.01608 7.54935 8.01608 6.99468C8.01608 6.44002 7.56808 5.99202 7.01341 5.99202H5.01341C3.36008 5.99202 2.01074 7.33602 2.01074 8.99468V9.32535C2.01074 10.776 3.04541 12.0187 4.47474 12.2747L5.24808 12.4134C4.49608 12.9627 4.01074 13.848 4.01074 14.8294V14.9894C4.01074 16.6427 5.35474 17.992 7.01341 17.992H9.01341V18.9947C9.01341 19.5494 9.46141 19.9974 10.0161 19.9974C10.5707 19.9974 11.0187 19.5494 11.0187 18.9947V17.992H13.0187C14.6721 17.992 16.0214 16.648 16.0214 14.9894V14.8294C16.0214 13.8427 15.5307 12.9574 14.8001 12.408L15.5574 12.2694C16.9867 12.008 18.0214 10.7707 18.0214 9.32002V8.98935C18.0001 7.33602 16.6561 5.99202 15.0027 5.99202ZM8.99741 15.992H6.99741C6.44808 15.992 5.99474 15.544 5.99474 14.9894V14.8294C5.99474 14.312 6.40008 13.8747 7.00808 13.8214L8.99741 13.4587V15.992ZM14.0001 14.9894C14.0001 15.5387 13.5521 15.992 12.9974 15.992H10.9974V13.4587L13.0827 13.8374C13.5947 13.88 14.0001 14.3174 14.0001 14.8347V14.9894Z" fill="#203D58"/>
                    </svg>
                </div>
                <div class="object_map__point__item__text">Pharmacies</div>
            </div>

            <div class="object_map__point__item" data-request="GYM" data-icon="images/icons/map/gym.svg">
                <div class="object_map__point__item__icon">
                    <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.40039 3.21655H13.5993V6.76464H6.40039V3.21655Z" fill="#203D58"/>
                        <path d="M18.9545 2.25159H18.4551V7.48382H18.9545C19.5317 7.48311 19.9996 7.01543 20.0001 6.43805V3.297C19.9994 2.7198 19.5315 2.25212 18.9545 2.25159Z" fill="#203D58"/>
                        <path d="M16.4961 0.0390625H14.5127V9.94203H16.4961C17.0733 9.94132 17.5412 9.47364 17.5417 8.89644V1.08465C17.5412 0.507456 17.0733 0.039776 16.4961 0.0390625Z" fill="#203D58"/>
                        <path d="M2.45801 1.08465V8.89644C2.45854 9.47364 2.9264 9.94149 3.5036 9.94203H5.48705V0.0390625H3.5036C2.9264 0.039776 2.45854 0.507456 2.45801 1.08465Z" fill="#203D58"/>
                        <path d="M0 3.29718V6.43805C0.000535105 7.01543 0.468393 7.48311 1.04559 7.48382H1.54502V2.25159H1.04559C0.468393 2.25212 0.00071347 2.71998 0 3.29718Z" fill="#203D58"/>
                    </svg>
                </div>
                <div class="object_map__point__item__text">GYM</div>
            </div>


        </div>
    </div>
</div>