.developer__hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.developer__page__hero .container__inner {
    position: relative;
    overflow: hidden;
}

.developer__hero__content {
    position: relative;
    height: 440px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 40px;
}

.developer__hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.developer__hero__share {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 2;
}

.developer__hero__share>* {
    position: static;
}

.developer__hero__image:before {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    content: '';
    background: #1D1D1D;
    opacity: 0.6;
}

.developer__page__hero {
    margin-bottom: 10px;
}

.developer__page__top__line .container__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.developer__page__top__line__info {
    display: flex;
    flex: 1;
    gap: 0px 68px;
    flex-wrap: wrap;
}

.developer__page__top__line__item__title {
    line-height: 1.25;


    /* Main/blue dark */
    font-weight: 400;
    margin-bottom: 2px;
}

.developer__page__top__line__item {
    text-align: center;
    padding: 17px 0;
    font-size: 16px;
    position: relative;
}

.developer__page__top__line__item__value {
    color: #203D58;
    font-weight: 700;
    font-size: 17px;
}

.developer__page__top__line__item:after {
    content: '';
    width: 1px;
    background: #E3ECF8;
    position: absolute;
    height: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -33px;
}

.developer__page__top__line__item:last-child:after {
    display: none;
}

.developer__hero__name {
    display: flex;
    align-items: center;
    flex: 1;
}

.developer__hero__name__logo {
    display: flex;
    width: 185px;
    height: 120px;
    align-items: center;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    margin-right: 21px;
}

.developer__hero__name__title {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    flex: 1;
    line-height: 1.1;
}

.developer__hero__add__info {
    width: 320px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: -20px;
}

.developer__hero__add__info_col {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}


.developer__page__top__line__contact {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
}

.developer__hero__experience__value {
    font-weight: 700;
}

.developer__hero__experience__title {
    margin-bottom: 5px;
}



.developer__page__top__line {
    margin-bottom: 10px;
}

.developer_map {
    height: 580px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(32, 55, 88, 0.11);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.developer__catalog__top__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
    margin-right: 28px;
}

.developer__catalog__top {
    padding-top: 90px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.developer__catalog__top__tags a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    padding: 14px 30px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100px;
    cursor: pointer;
}

.developer__catalog__top__tags {
    margin-top: -9px;
    display: flex;
    gap: 10px;
    flex: 1;
    margin-right: 20px;
    flex-wrap: wrap;
}

.developer__catalog__top__tags a.active {
    background: #F2F5FB;
    border-color: transparent;
    color: #2F80ED;
    pointer-events: none;
}

.developer__catalog__top__tags a:hover {
    color: #008AFF;
    border-color: #008AFF;
}

.btn_developer__catalog__top__more {
    margin-top: -10px;
    position: relative;
    border: 1px solid #1864CE;
    color: #1864CE;
}

.developer__catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 30px 20px;
}

.loaded .property__develop__card {
    transition: 0.35s ease-in-out;
}

.property__develop__card {
    width: calc(100% / 3 - 13.5px);
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
    position: relative;
    border-radius: 18px;
}

.property__develop__card__info__date__wrap {
    border-top: 1px solid #E3ECF8;
    padding: 13px 0;
    margin-top: 15px;
}


.property__develop__card__info__date__name {
    text-transform: uppercase;
    margin-bottom: 4px;
}

.property__develop__card__info__date__value {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    align-items: center;
}

.property__develop__card__info__date__value b {
    font-weight: 600;
    line-height: 1;
    color: #1864CE;
}


.property__develop__card .slick-arrow {
    opacity: 0;
    pointer-events: none;
}


.property__develop__card:hover .slick-arrow {
    opacity: 1;
    pointer-events: all;
}


.property__develop__card:hover .slick-disabled {
    opacity: 0.35;
}


.property__develop__card__inner {
    border-radius: 14px 14px 0 0;
}

.property__develop__card__image__item {
    font-size: 0;
}

.property__develop__card__image__item__inner {
    padding-top: 78%;
    position: relative;
}

.property__develop__card__image__item__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.property__develop__card__add_info {
    border-top: 1px solid #E3ECF8;
    display: flex;
    flex-direction: column;
    gap: 8.5px;
    padding-top: 14px;
    font-size: 14px;
}

.property__develop__card__add_info__list {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.property__develop__card__add_info__price {
    flex: 1;
    text-align: right;
}

.property__develop__card__add_info__name {
    width: 30px;
    font-weight: 600;
}

.property__develop__card:hover {
    z-index: 2;
}

.developer__catalog__wrap {
    padding-bottom: 60px;
}

.developer__catalog {
    margin-bottom: 10px;
}

.btn_developer__catalog__wrap {
    display: flex;
    justify-content: center;
}

.btn_developer__catalog__top__more:hover {
    color: #008AFF;
}


.btn_developer__catalog__top__more.active {
    color: #008aff;
    border-color: #008aff;
}

.btn_filter__mobile {
    display: none;
}

.filter_x__item__field--develop {
    flex: 1;
}

.developer__catalog__filter {
    padding-bottom: 30px;
}

.developer__catalog .container__inner {
    padding-bottom: 30px;
}

.developer__catalog__wrap {
    padding-bottom: 30px;
    margin-top: 30px;
}

.property__develop__card:hover {
    color: inherit;
}

.developer_map__inner {
    position: relative;
}

.developer_map__info {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 725px;
    z-index: 2;
    background: #fff;
    border-radius: 10px 0 0 10px;
    padding: 0;
}

.developer_map__info__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    height: 100%;
}

.developer_map__col_1 {
    width: 52.5%;
    border-right: 1px solid #E3ECF8;
    padding: 20px;
}

.developer_map__col_2 {
    width: 47.5%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
}


.developer_map__col_2::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    background: rgb(0 0 0 / 0.05)
}

.developer_map__col_2::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.developer_map__property_card {
    border-radius: 8px;
}

.developer_map__property_card .property__develop__card {
    width: 100%;
}

.developer_map__flat .property__card {
    padding: 0;
}

.developer_map__flat .property__card__inner {
    width: 100%;
}


.developer_map__flat .property__card__full--object {
    width: 100%;
    margin-bottom: 20px;
}

.developer_map__flat .property__card__full__add_info {
    display: none;
}

.developer_map__flat .property__card__object {
    display: none;
}

.developer_map__flat .property__card__adress {
    display: none;
}

.developer_map__flat .property__card__full--object:last-child {
    margin-bottom: 0;
}

.developer_map__flat .property__card__info__top {
    border: none;
    margin-bottom: 0;
}

.developer_map__flat .property__card__info {
    padding: 15px 15px 10px;
}

.developer_map__flat .property__card__full__image__item__inner {
    padding-top: 100%;
}


.developer_map__info.active {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
    pointer-events: all;
}

.developer_map__info {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100px, 0);
    transition: 0.25s ease-in-out;
    pointer-events: none;
}

.developer_map__info__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    z-index: 3;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
}

.developer_map__info__close:before,
.developer_map__info__close:after {
    content: '';
    width: 50%;
    height: 1.5px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #203d58;
    display: block;
    transform: rotate(45deg);
    position: absolute;
}

.developer_map__info__close:before {
    transform: rotate(-45deg);
}

.developer__catalog__inner {
    position: relative;
}


.develop__card__image__item_list .slick-dots-container {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
}

.develop__card__image__item_list .slick-list {
    border-radius: 18px 18px 0 0;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.develop__card__image__item_list {
    font-size: 0;
}

@media screen and (max-width: 1250px) {
    .property__develop__card {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 1200px) {
.developer__catalog__top {
    max-width: 640px;
    margin: 0 auto 20px;
}
}


@media screen and (max-width: 1100px) {
    .developer_map__info {
        width: 100%;
        order: 2;
        position: relative;
        height: 640px;
        margin-top: 10px;
        top: 0;
        margin-bottom: 0;
        transform: translate(0px, 100px);
        height: 0;
    }

    .developer_map__inner {
        display: flex;
        flex-direction: column;
    }

    .developer_map__info.active {
        height: 550px;
        top: -190px;
        margin-bottom: -190px;
    }
}

@media screen and (max-width: 1000px) {

    .filter_x__item__field--develop {
        flex-basis: calc(100% / 3 - 20px);
    }

    .filter_x_list--develop {
        flex-wrap: wrap;
        max-width: 100%;
    }

    .developer__hero__name__title {
        font-size: 32px;
    }

    .developer__hero__name__logo {
        width: 137px;
        height: 90px;
    }

    .developer__hero__content {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .developer__hero__name {
        flex: none;
    }

    .developer__hero__add__info {
        width: 100%;
        margin: 24px 0 0 -20px;
        align-items: center;
        justify-content: flex-start;
    }

    .developer__hero__add__info_col {
        flex-direction: row;
        padding: 5px 20px;
    }

    .developer__hero__experience__title {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .developer__page__top__line .container__inner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 18px 40px;
    }

    .developer__page__top__line__contact {
        margin: 0 0 22px;
    }
}

@media screen and (max-width: 800px) {
    .property__develop__card {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 750px) {

    .developer__page__top__line__contact {    display: none;}
    .project_object_top.project_object_top--developer {
        background: #fff;
        top: 0;
        bottom: auto;
    }

    .developer_map__col_1 {
        width: 100%;
        border: none;
        padding: 0;
    }

    .developer_map__info__inner {
        max-width: 550px;
        margin: 0 auto;
        overflow: scroll;
    }

    .developer_map__info .property__develop__card__image__item {
        height: 140px;
    }

    .developer_map__info .property__develop__card__image__item .property__develop__card__image__item__inner {
        height: 100%;
        padding: 0;
    }

    .developer_map__col_2 {
        width: 100%;
        height: auto;
    }

    .developer_map__info__close {
        top: -35px;
    }

    .developer_map__info {
        overflow: visible;
    }

    .developer__catalog__filter {
        display: none;
    }

    .developer_map__info .property__develop__card {
        border-radius: 0;
    }

    .developer_map__info .developer_map__property_card {
        border-radius: 0;
    }

    .btn_filter__mobile {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding: 13px 20px;
        border: 1px solid #cdd6e0;
        border-radius: 8.75px;
        appearance: none;
        background: transparent;
        margin-bottom: 0;
        color: inherit
    }

    .btn_filter__mobile__text {
        font-weight: 600;
        font-size: 16px;
        margin-left: 10px;
    }

    .btn_filter__mobile:hover {
        border-color: #008aff;
        color: #008aff;
    }

    .btn_filter__mobile:hover path {
        fill: #008aff;
    }

    .developer__catalog__top__tags {
        display: none;
    }

    .developer__catalog__top {
        justify-content: space-between;
        padding-top: 30px;
        align-items: center;
    }

    .developer__catalog__top__title {
        font-size: 22px;
    }

    .developer_map {
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .developer__page__top__line__item:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #E3ECF8;
        left: 0;
        bottom: -5px;
    }

    .developer__page__top__line__item:last-child:before {
        display: none;
    }

    .developer__page__top__line__item:nth-last-child(2):before {
        display: none;
    }

    .developer__page__top__line__item:nth-child(2n):after {
        display: none;
    }

    .developer__hero__name {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .developer__hero__add__info {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        max-width: 270px;
        margin-top: 12px;
    }

    .developer__hero__add__info_col:first-child {
        border-right: none;
        border-top: 1px solid;
    }

    .developer__hero__add__info_col {
        width: 100%;
        padding: 11px 0;
    }

    .developer__hero__content {
        padding-bottom: 30px;
    }

    .developer__hero__name__title {
        font-size: 28px;
        font-weight: 500;
    }

    .developer__hero__name__logo {
        width: 125px;
        height: 71px;
        padding: 22px;
        margin-right: 0;
    }

    .developer__page__top__line__info {
        justify-content: center;
        gap: 10px;
    }



    .developer__page__top__line__item {
        flex: 1;
        flex-basis: calc(50% - 5px);
    }


    .developer__page__top__line__item:after {
        right: -5px;
        height: 80%;
    }
}

@media screen and (max-width: 550px) {
    .developer__page__top__line__contact {
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .property__develop__card__add_info {
        font-size: 12px;
        gap: 7.5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 400px) {
    .developer__page__top__line__item {
        font-size: 14px;
    }

    .developer__page__top__line .container__inner {
        padding: 18px 20px;
    }
}