<div class="filter_x_top js_filter_x_top">
    <label class="filter_x_top__btn">
        <input type="radio" name="type_" value="0" checked>
        <div class="filter_x_top__btn__view">Buy</div>
    </label>

    <label class="filter_x_top__btn">
        <input type="radio" name="type_" value="1">
        <div class="filter_x_top__btn__view">Rent</div>
    </label>
</div>