<div class="favorite__section">
    <div class="project_object__list js_project_object__list">
        @@for (var i = 0; i < 4; i++) {
            @@include('card/object_full--favorite.html')
        }
    </div>
</div>