<div class="favorite__section">
    <div class="developer__list_x">
        @@loop('card/developer_point--favoite.html', [
            {"id": "1", "title": "EMAAR PROPERTIES" },
            {"id": "2", "title": "AZIZI" },
            {"id": "3", "title": "DAMAC" },
            {"id": "1", "title": "EMAAR PROPERTIES" },
            {"id": "2", "title": "AZIZI" },
            {"id": "4", "title": "SOBHA" },
            {"id": "3", "title": "DAMAC" },
            {"id": "4", "title": "SOBHA" },
            {"id": "4", "title": "SOBHA" },
            {"id": "3", "title": "DAMAC" },
            {"id": "2", "title": "AZIZI" },
            {"id": "1", "title": "EMAAR PROPERTIES" },
        ])
    </div>
</div>