.select2-dropdown {
    min-width: 300px;
}

.filter_x {
    padding-top: 74px;
}

.filter_x.filter_x--developer {
    padding: 25px 0 15px;
}

.filter_x_top {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.filter_x_top__line {
    position: absolute;
}

.loaded .filter_x_top__btn {
    transition: 0.25s ease-in-out;
}

.filter_x_top__btn {
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 32px 11px;
    color: #B4BAC2;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.filter_x_top__btn.active {
    color: #203758;
}

.filter_x_top__btn {
    cursor: pointer;
}

.filter_x_top__btn input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.filter_x_top__btn input:checked+.filter_x_top__btn__view {
    color: #203759;
}

.filter_x_top__btn__view {
    transition: 0.25s;
}

.filter_x_top__btn__view:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -1px;
    height: 1px;
    background: #203758;
    left: 0;
    transition: 0.25s;
    opacity: 0;
}

.filter_x_top__btn input:checked+.filter_x_top__btn__view:after {
    opacity: 1;
}

.filter_x_top__btn:hover {
    color: #008AFF;
}

.filter_x_top__btn:hover:after {
    background: #008AFF;
}

.filter_x_list {
    display: flex;
    gap: 10px;
    position: relative;
}

.filter_x_list.filter_x_list--developer {
    display: none;
    margin-bottom: 20px;
}

.filter_x__item__field--country {
    flex: 1 0 28.45%;
}

.select2-container {
    width: 100% !important;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.filter_x__item__field--city {
    flex: 1 0 26.6%;
}

.filter_x__item__field {
    width: 190px;
}

.filter_x__item__field__more {
    position: absolute;
    bottom: -42px;
    right: 0;
    display: inline-flex;
    font-weight: 500;
    text-decoration: none;
}

.filter_x__item__field--map {
    width: 72px;
}

.filter_x__item__field--submit {
    width: 68px;
}

.filter_x_btn {
    background: #1864CE;
    border-radius: 8.75px;
    box-shadow: 0px 5px 7px rgba(32, 55, 88, 0.11);
    padding: 12.5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaded .filter_x__item__btn_map {
    transition: 0.25s ease-in-out;
}

.filter_x__item__btn_map {
    border: 1px solid #1864CE;
    border-radius: 8.75px;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 600;
    color: #1864CE;
    height: 100%;
}

.filter_x__item__btn_map svg {
    margin-right: 5px;
}

.filter_x__item__field__more svg {
    margin-left: 7px;
}

.filter_x__item__field__more__link {
    text-decoration: none;
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: left;
    padding: 6px 15px;
    line-height: 1;
    font-weight: 400;
    padding-right: 40px;
    display: block;
    width: 100%;
    color: inherit;
}

.select2-container .select2-selection--single {
    border-radius: 10px;
    border: 1px solid #ced6e0;
    width: 100%;
    height: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45862 1.5L6.45862 6.5L11.4586 1.5' stroke='%231D1D1D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    transition: 0.25s ease-in-out;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.filter_x__item__field input {
    border: 1px solid #CED6E0;
    padding: 12px 15px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    height: 100%;
}

span.selection {
    height: 100%;
    display: flex;
    width: 100%;
}

.filter_price__modal__field input:focus {
    border-color: #1864ce;
}

.filter_x__item__btn_map:hover {
    border-color: #008AFF;
    color: #008AFF;
}

.filter_x__item__btn_map path,
.filter_x__item__btn_map ellipse {
    transition: 0.25s
}

.filter_x__item__btn_map:hover path {
    fill: #fff;
}

.filter_x__item__btn_map:hover ellipse {
    fill: #2F80ED
}

.filter_x__item__field__more__link:hover path {
    fill: #2F80ED;
}

.filter_x__item__field__more__link path {
    transition: 0.25s;
}

.filter_x_btn:hover {
    background: #2F80ED;
}

.select2-results__option.select2-results__option--disabled {
    display: none;
}

.select2-dropdown {
    border-color: #cdd6e0;
    font-size: 13.5px;
    font-weight: 500;
}

.select2-container--open .select2-dropdown {
    overflow: hidden;
}


.select2.select2-container.select2-container--open .select2-selection--single {
    background: #fff;
    border-color: #1864CE;
    border-radius: 10px;
}


.select2.select2-container.select2-container--open .select2-selection__arrow {
    transform: rotate(180deg);
}

.select2-container--open .select2-dropdown--below {
    top: 10px;
}

.select2-container--open .select2-dropdown {
    overflow: hidden;
    border: 1px solid #1864CE;
    box-shadow: 0px 4px 10px rgba(32, 55, 88, 0.15);
    border-radius: 8.75px;
    padding: 15px;
}



.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    display: none;
}

.select2-container--default .select2-results>.select2-results__options {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.select2-results__option {
    padding: 6px 15px;
    border-radius: 6px
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    color: #2f80ed;
    background: transparent;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable.select2-results__option--selected {
    color: #2f80ed;
    background: #F2F5FB;
}

.select2-container--default .select2-results__option--selected {
    color: #203d58;
    background: #F2F5FB;
}

.select2-container--below.select2-container--open .select2-selection--single {
    border-bottom: 1px solid transparent;
}

.select2-container--above.select2-container--open .select2-selection--single {
    border-top: 1px solid transparent;
}

span.select2-dropdown.select2-dropdown--above {
    top: -10px
}

.select2-selection--single.select2-selection--clearable {
    background: #F2F5FB;
    font-weight: 600;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}

.filter_x__item__field__country__view {
    border: 1px solid #CED6E0;
    border-radius: 8.75px;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 9px 15px;
    cursor: pointer;
    text-align: left;
}

.filter_x__item__field__country__view__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.select2-container--default .select2-selection--clearable.select2-selection--single .select2-selection__rendered {
    font-weight: 500;
}

.filter_x__item__field__country__view.filter--choosed {
    background: #f3f5fb;
    font-weight: 600;
}

.filter_x__item__field input::placeholder {
    color: #203758;
    opacity: 1;
}

.filter_x__item__field input:-ms-input-placeholder {
    color: #203758;
}

.filter_x__item__field input::-ms-input-placeholder {
    color: #203758;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: inherit;
    font-weight: 400;
}




// ---------------------
// ---------------------
// ---------------------
// ---------------------


.filter_price__modal {
    position: absolute;
    z-index: 10;
    top: calc(100% + 10px);
    border: 1px solid #1864CE;
    box-shadow: 0px 4px 10px rgba(32, 55, 88, 0.15);
    border-radius: 15px;
    background: #fff;
    padding: 20px;
    width: 400px;
    left: 50%;
    transition: 0.25s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10px);
    pointer-events: none;
    border-radius: 8.75px;
}

.filter_price {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdd6e0;
    border-radius: 8.75px;
}

.filter_price__modal__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.filter_price__modal__content__row {
    display: flex;
    gap: 10px;
    margin-bottom: 13px;
}

.filter_price__tab {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 13px 20px;
    font-weight: 400;
    text-decoration: none;
}

.filter_price__tab.active:hover {
    border-color: transparent;
    color: #1864ce;
}
.filter_price__modal__top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter_price__tab.active {
    background: #f2f5fb;
    border-color: transparent;
    color: #1864ce;
    pointer-events: none;
}

.filter_price__tab:hover {
    color: #008aff;
    border-color: #008aff;
}

.filter_price__modal__field__text_1 {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
    color: #B4BAC2;
    left: 15px;
}

.filter_price__modal__field__text_2 {
    position: absolute;
    color: #B4BAC2;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.filter_price__modal__field {
    position: relative;
    flex: 1;
    font-size: 15px;
}

.filter_price__modal__field input {
    padding: 12px 15px;
    text-align: center;
}

.noUi-target {
    background: #E2E8EF;
    border-radius: 1px;
    height: 2px;
    box-shadow: none;
    border: none;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none;
}

.noUi-horizontal .noUi-handle {
    background: transparent;
    border: none;
    background: #1864CE;
    width: 11px;
    height: 11px;
    border-radius: 505%;
    box-shadow: none;
    top: -4.5px;
    right: -5.5px;
}

.noUi-connect {
    background: #1964ce;
}



.filter_price__modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    pointer-events: all;
}

.filter_price__view,
.filter_bedrooms__view {
    height: 100%;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 12px 15px;
}

.filter_bedrooms__view__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 18px;
}

.filter_bedrooms__modal {
    position: absolute;
    z-index: 10;
    top: calc(100% + 10px);
    border: 1px solid #1864ce;
    box-shadow: 0 4px 10px rgb(32 55 88 / 15%);
    border-radius: 15px;
    background: #fff;
    padding: 15px;
    width: 400px;
    left: 50%;
    transition: 0.25s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10px);
    pointer-events: none;
    border-radius: 8.75px;
}

.filter_bedrooms__modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    pointer-events: all;
}

.filter_bedrooms {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdd6e0;
    border-radius: 8.75px;
}

.filter_bedrooms__checkbox__text {
    background: #fff;
    border: 1px solid #e2e8ef;
    border-radius: 100px;
    padding: 10px 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    transition: 0.25s ease-in-out;
    font-size: 15px;
}

.filter_bedrooms__checkbox input {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
}

.filter_bedrooms__modal__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.filter_bedrooms__checkbox input:checked+.filter_bedrooms__checkbox__text {
    background: #F2F5FB;
    border-color: transparent;
    color: #1864CE;
}

.filter_bedrooms__checkbox__text:hover {
    border-color: #1864CE;
    color: #1864CE;
}

.filter_price.active {
    border-color: #1864CE;
}

.filter_bedrooms__view__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter_bedrooms__view:after {
    height: 100%;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45862 1.5L6.45862 6.5L11.4586 1.5' stroke='%231D1D1D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .25s ease-in-out;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.filter_bedrooms.active .filter_bedrooms__view:after {
    transform: rotate(180deg);
}

.filter_bedrooms.active {
    background: #fff;
    border-color: #1a63ce;
}

.filter_price__view__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px
}

.filter_price__view:after {
    content: '';
    height: 100%;
    width: 45px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45862 1.5L6.45862 6.5L11.4586 1.5' stroke='%231D1D1D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .25s ease-in-out;
    position: absolute;
    right: 0;
    transition: 0.325s ease-in-out;
}

.filter_price__modal__content__range {
    padding: 0 5px;
}


.filter_price.active .filter_price__view:after {
    transform: rotate(180deg);
}


.modal_more_filter__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 5px;
}

.modal_more_filter__inner {
    padding: 32px 40px;
}

.modal_more_filter {
    max-width: 740px;
    width: 100%;
}

.more_filter__block__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 20px;
}

.field_choose__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.more_filter__block {
    border-bottom: 1px solid #E3ECF8;
    padding: 30px 0;
}

.more_filter__bottom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 30px;
}

.btn_filter_submit {
    padding: 16px;
    font-weight: 600;
}

.btn_filter_reset {
    background: transparent;
    padding: 15px 15px;
}

.field_choose input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.field_choose__view {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 13px 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    transition: .25s ease-in-out;
    line-height: 1.25;
    cursor: pointer;
}

.field_choose__view--border {
    border-color: #ced6e0;
}

.field_choose input:checked+.field_choose__view {
    background: #f2f5fb;
    border-color: transparent;
    color: #1864ce;
    cursor: default;
}

.field_choose__view:hover {
    border-color: #1864ce;
    color: #1864ce
}

.more_filter__block .select2-container {
    max-width: 340px;
}

.field_choose__list--bathroom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.field_choose__list__group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid #E3ECF8;
    width: 100%;
    padding: 25px 0;
}

.field_choose__list__group:last-child {
    border: none;
    padding-bottom: 0;
}

.field_choose__list__group:first-child {
    padding-top: 5px;
}

.field_choose__list--bathroom .field_choose__view {
    padding: 13px 18.5px;
}

.more_filter__block__from_to__field input {
    border: 1px solid #ced6e0;
    padding: 13px 15px;
    width: 160px;
    display: flex;
    border-radius: 10px;
    height: 100%;
    padding: 13px 55px;
}

.more_filter__block__from_to {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.more_filter__block__from_to__field__text_1 {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
    color: #b4bac2;
    left: 15px;
}

.more_filter__block__from_to__field {
    position: relative;
}

.more_filter__block__content--floor {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.more_filter__block__content--floor__choose {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.more_filter__block__from_to__field__text_2 {
    position: absolute;
    color: #b4bac2;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.more_filter__block__content--floor .more_filter__block__from_to__field input {
    padding-right: 20px;
    width: 100px;
}

.select2-container .select2-selection--single:focus {
    outline: none !important
}


.filter_type__view {
    height: 100%;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 12px 15px;
}

.filter_type__view.choosed {
    background: #F2F5FB;
    font-weight: 500;
    border-radius: 8.75px;
}

.filter_price__view.choosed,
.filter_bedrooms__view.choosed {
    background: #f3f5fb;
    border-radius: 8px;
    border-color: transparent;
    font-weight: 500;
}

.filter_type {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdd6e0;
    border-radius: 8.75px;
}

.filter_type__modal {
    position: absolute;
    z-index: 10;
    top: calc(100% + 10px);
    border: 1px solid #1864ce;
    box-shadow: 0 4px 10px rgb(32 55 88 / 15%);
    border-radius: 8.75px;
    background: #fff;
    padding: 17px 15px 12px;
    width: 340px;
    left: 50%;
    transition: .25s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10px);
    pointer-events: none;
}

.filter_x__item__field--type {
    flex: 1 0 26.6%;
}



.filter_type__view:after {
    height: 100%;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45862 1.5L6.45862 6.5L11.4586 1.5' stroke='%231D1D1D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .25s ease-in-out;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}

.filter_type__modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    pointer-events: all;
}

.filter_type__view__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 25px;
}

.filter_type.active {
    background: #fff;
    border-color: #1a63ce;
}

.filter_type.active .filter_type__view:after {
    transform: rotate(180deg);
}


.filter_type__modal__list {
    display: none;
    position: relative;
}

.filter_type__modal__list.active {
    display: block;
    text-align: -webkit-auto;
}

.filter_type__field {
    margin: 5px 0;
    display: block;
}

.filter_type__field input {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: -1;
}

.filter_type__field__view {
    font-weight: 400;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 6px;
}

.filter_type__modal__top {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    justify-content: center;
    max-width: 265px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.filter_type__tab.active {
    color: inherit;
}

.filter_x__item__field--price--developer .filter_price__modal {
    right: 0;
    left: auto;
    transform: none;
}

.filter_type__tab {
    color: #B4BAC2;
    flex: 1;
    text-decoration: none;
    border-bottom: 1.5px solid;
    padding: 5px;
}

.filter_type__field__view:hover {
    color: #1864CE;
}

.filter_type__modal__list__wrap {
    text-align: left;
}

.filter_type__field input:checked+.filter_type__field__view {
    background: #F2F5FB;
}

.filter_dropWithCheckbox__modal {
    position: absolute;
    z-index: 10;
    top: calc(100% + 10px);
    border: 1px solid #1864ce;
    box-shadow: 0 4px 10px rgb(32 55 88 / 15%);
    border-radius: 15px;
    background: #fff;
    padding: 15px;
    width: 310px;
    left: 50%;
    transition: 0.25s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10px);
    pointer-events: none;
    border-radius: 8.75px;
}

.filter_dropWithCheckbox__modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    pointer-events: all;
}


.filter_x__item__field--country--object_list {
    width: 100px;
    flex: none;
}

.filter_x--developer .filter_x__item__field {
    flex: 1;
}

.filter_x--project_object .filter_x__item__field {
    flex: 1;
    width: 178px;
}

.filter_x--project_object .filter_x__item__field.filter_x__item__field--submit {
    width: 70px;
    flex: none;
}

.filter_x--project_object .filter_x__item__field.filter_x__item__field--map {
    width: 70px;
    flex: none;
}

.filter_x.filter_x--project_object {
    padding: 40px 0 80px;
}

.filter_x__mobile__top {
    display: none;
}

.filter_type__modal__list input[type="radio"] {
    width: 0;
    height: 0;
}

.more_filter__bottom.more_filter__bottom--developer .btn_filter_submit {
    width: 100%;
}

.more_filter__bottom.more_filter__bottom--developer {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
    display: none;
}

.filter_x--project_o .filter_x__item__field {
    flex: 1;
}

.filter_dropWithCheckbox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdd6e0;
    border-radius: 8.75px;
}

.filter_dropWithCheckbox__view {
    height: 100%;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 12px 15px;
}

.filter_dropWithCheckbox.active {
    background: #fff;
    border-color: #1a63ce;
}

.filter_dropWithCheckbox__view__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 18px;
}


.filter_dropWithCheckbox__view:after {
    height: 100%;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45862 1.5L6.45862 6.5L11.4586 1.5' stroke='%231D1D1D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    transition: 0.25s ease-in-out;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}

.filter_dropWithCheckbox.active .filter_dropWithCheckbox__view:after {
    transform: rotate(180deg);
}


.filter_dropWithCheckbox__view.choosed {
    background: #f3f5fb;
    border-radius: 8px;
    border-color: transparent;
    font-weight: 500
}


.filter_dropWithCheckbox__modal.filter_dropWithCheckbox__modal--bedroom {
    width: 400px;
}

.btn_filter_bottom {
    display: none;
}

// ---------------------
// ---------------------
// ---------------------
// ---------------------

@media screen and (max-width: 1200px) {

    .filter_price__tab {
        padding: 9px 20px;
        font-size: 14px;
        min-width: 100px;
    }

    .filter_price__modal__top {
        margin-bottom: 17px;
    }

    .filter_price__modal.active {
        transform: none;
    }

    .filter_price__modal {
        left: -2px;
        transform: none;
        padding: 15px 15px 20px;
        border-radius: 10px;
        width: 410px;
    }

    .filter_price__modal__field input {
        padding: 11px 45px;
    }

    .filter_price__modal__field__text_1 {
        font-size: 14px;
    }

    .filter_price__modal__field__text_2 {
        font-size: 14px;
    }

    .filter_bedrooms__checkbox__text {
        padding: 10px 15.5px;
        font-size: 14px;
    }

    .filter_bedrooms__modal {
        width: 375px;
        padding: 10px 11px;
        right: -1px;
        left: auto;
        transform: none;
        border-radius: 10px;
    }

    .filter_bedrooms__modal.active {
        transform: none;
    }



    .filter_x_list {
        flex-wrap: wrap;
        max-width: 650px;
        margin: 0 auto;
    }

    .filter_x__item__field {
        flex: 1 0 200px;
        font-size: 15px;
    }

    .filter_x__item__field--map {
        flex: none;
    }

    .filter_x__item__field--submit {
        flex: none;
        width: 150px;
    }

    .home__top__title {
        font-size: 36px;
    }

    .home__top .container__inner {
        padding: 45px 40px 80px;
    }

    .filter_x {
        padding-top: 50px;
    }
}


@media screen and (max-width: 1000px) {
    .modal_more_filter__title {
        font-size: 26px;
        margin-bottom: 5px;
    }

    .more_filter__block__title {
        font-size: 17px;
    }

    .field_choose__view {
        font-size: 14px;
        padding: 12px 23px;
    }

    .field_choose__list__group {
        padding: 20px 0;
    }

    .more_filter__block {
        padding: 25px 0;
    }
}


@media screen and (max-width: 750px) {

    .more_filter__bottom.more_filter__bottom--developer {
        display: block;
    }

    .filter_x_list.filter_x_list--developer {
        display: none;
        margin-bottom: 20px;
    }

    .filter_x_list.filter_x_list--developer {
        display: flex;
        margin: 40px auto 20px;
    }

    .filter_x_list.filter_x_list--developer .developer__catalog__top__tags {
        display: flex;
        margin-right: 0;
    }


    .filter_price__modal.filter_price__modal--mobile_left {
        left: -1px;
        right: auto;
    }

    .filter_x__mobile__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
    }

    .filter_x__mobile__back {
        display: inline-flex;
        gap: 10px;
        align-items: center;
        color: inherit;
        font-weight: 500;
    }

    .filter_x__mobile__clear button {
        background: transparent;
        border: none;
        color: #1864CE;
        text-decoration: underline;
        font-weight: 500;
    }

    .filter_price__modal.filter_price__modal--mobile_left {
        left: -1px;
        right: auto;
    }


    .filter_x__item__field.filter_x__item__field--type.filter_x__item__field--type--object_list {
        width: 100%;
        flex: none;
    }



    .filter_x--project_object .filter_x__item__field {
        flex-basis: calc(50% - 7px);
    }

    .filter_x--project_object .filter_x__item__field.filter_x__item__field--map {
        flex-basis: calc(50% - 6px);
        width: auto;
    }

    .filter_x--project_object .filter_x__item__field.filter_x__item__field--submit {
        width: 100%;
    }

    .filter_x__mobile__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        align-items: flex-end;
        max-width: 400px;
        margin: 0 auto 30px;
    }

    .filter_x__item__field--type--developer.filter_x__item__field {
        width: 100%;
        flex: none;
    }

    .filter_x__item__field--bathroom--developer .filter_dropWithCheckbox__modal {
        right: -1px;
        left: auto;
        transform: none;
        width: calc(100vw - 40px);
        max-width: 400px;
        padding: 10px 11px;
    }

    .filter_x__item__field--bathroom--developer .filter_bedrooms__modal__list {
        gap: 5px;
        justify-content: space-evenly;
    }

    .filter_type__modal {
        max-width: 400px;
        width: calc(100vw - 38px)
    }

    .filter_price__modal {
        right: -1px;
        left: auto;
        width: calc(100vw - 38px);
        max-width: 400px;
    }

    .filter_price__modal__field input {
        padding: 10px 40px;
        font-size: 14px;
    }

    .filter_price__modal__content__range {
        padding: 0 5px;
    }

    .filter_price__modal__field__text_1 {
        font-size: 13px;
    }

    .filter_price__modal__field__text_2 {
        font-size: 13px;
    }

    .filter_x--developer .filter_x__item__field.filter_x__item__field--bathroom--developer {
        width: calc(50% - 5px);
        flex: none;
    }

    .filter_x--developer .filter_x__item__field.filter_x__item__field--bedroom--developer {
        width: calc(50% - 5px);
        flex: none;
    }

    .filter_x__item__field.filter_x__item__field--price.filter_x__item__field--price--developer {
        width: calc(50% - 5px);
    }

    .filter_price__tab {
        font-size: 13px;
    }

    .filter_price__modal__top {
        margin-bottom: 15px;
    }


    .filter_bedrooms__modal {
        left: -1px;
        right: auto;
        width: calc(100vw - 40px);
        max-width: 400px;
    }

    .filter_bedrooms__checkbox__text {
        font-size: 13px;
        padding: 9px 14.5px;
    }

    .filter_bedrooms__modal__list {
        gap: 5px;
        justify-content: space-between;
    }

    .filter_x__item__field__more__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter_x__item__field__more svg {
        margin-top: 4px;
        margin-right: 4px;
    }


    .filter_x {
        padding-top: 20px;
    }

    .filter_x_top__btn {
        font-size: 16px;
        padding: 10px 25px;
    }

    .filter_x_list {
        max-width: 400px;
    }

    .filter_x__item__field {
        width: 100%;
        flex: 1 0 100%;
    }

    .filter_x__item__field--price {
        width: calc(50% - 5px);
        flex: none;
    }

    .filter_x__item__field--bedroom {
        width: calc(50% - 5px);
        flex: none;
    }

    .filter_x__item__field__more {
        position: static;
        text-align: left;
        /* align-items: center; */
        flex-basis: 48.75%;
        padding: 14px 15px;
        width: 100%;
        display: flex;
        border-radius: 10px;
        border: 1px solid #CED6E0;
        font-weight: normal;
        justify-content: space-between;
        font-size: 15px;
    }

    .filter_x__item__field--map {
        flex-basis: 40%;
    }

    .filter_x__item__field--submit {
        flex-basis: 65%;
    }
}


@media screen and (max-width: 600px) {
    .modal_more_filter__title {
        font-size: 22px;
        margin-bottom: 7.5px;
    }

    .modal_more_filter__inner {
        padding: 20px 20px;
    }

    .more_filter__block__title {
        font-size: 15px;
        margin-bottom: 17px;
    }

    .more_filter__block {
        padding: 20px 0;
    }

    .field_choose__view {
        font-size: 14px;
        padding: 11px 22.5px;
    }

    .more_filter__block .select2-container--default .select2-selection--single .select2-selection__placeholder {
        font-size: 14px;
    }

    .more_filter__block__from_to__field__text_1 {
        font-size: 14px;
    }

    .more_filter__block__from_to__field input {
        padding: 12px 50px;
        text-align: center;
        width: 150px;
    }

    .more_filter__block__from_to__field__text_2 {
        font-size: 14px;
    }

    .more_filter__block__content--floor .more_filter__block__from_to__field input {
        width: 95px;
    }

    .more_filter__block__from_to__field input {
        font-size: 14px;
    }

    .more_filter__block__content--floor {
        gap: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .more_filter__bottom {
        justify-content: flex-start;
    }
}


@media screen and (max-width: 420px) {
    .filter_x__item__field__more__link svg {
        display: none;
    }

    .filter_x__item__field__more__link:after {
        height: 100%;
        width: 50px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45862 1.5L6.45862 6.5L11.4586 1.5' stroke='%231D1D1D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 50%;
        position: absolute;
        content: '';
        right: -12.5px;
    }

    .select2-container .select2-selection--single {
        min-height: 46px;
    }

    .filter_x_list {
        font-size: 15px;
    }

    .filter_x__item__field input {
        font-weight: 400;
        padding: 10px 15px;
    }

    .filter_x__item__field__country__view {
        padding: 11.5px 15px;
    }

    .filter_x__item__field__more svg {
        margin-top: 1px;
    }

    .filter_x__item__field__more__link__text {
        font-weight: 400;
        max-width: 100px;
        white-space: normal;
        display: block;
        text-align: left;
        line-height: 1.2;
        font-size: inherit;
    }

    .filter_x__item__field__more__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        position: relative;
    }

    .filter_x__item__field__more {
        justify-content: space-between;
        padding: 13px 13px;
        min-height: 46px;
        font-size: 15px;
    }

    .filter_x__item__btn_map {
        height: 100%;
    }
}