.menu_sub {
    position: absolute;
    top: 104px;
    background: #FFFFFF;
    border: 1px solid #1864CE;
    box-shadow: 0px 4px 10px rgba(32, 55, 88, 0.15);
    border-radius: 15px;
    max-width: 1050px;
    right: 20px;
    left: 20px;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    padding: 30px 60px;
    transform: translate(0, -10px);
    z-index: 10;
}

.menu_sub.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0, 0px);
}

.loaded .menu_sub {
    transition: 0.25s ease-in-out;
}

.modal_city__search {
    margin-bottom: 20px;
    position: relative;
    max-width: 500px;
}

.modal_city__list__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    border-bottom: 1px solid #E3ECF8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.modal_city__list__title {
    font-weight: 700;
    line-height: 120%;
    /* or 19px */


    /* Main/blue dark */
    margin-bottom: 18px;
}

.modal_city__list__col {
    flex: 1;
}

.modal_city__list ul {
    list-style: none;
}

.modal_city__list a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1;
}

.modal_city__list li {
    margin-bottom: 15px;
}

.modal_city__list li:last-child {
    margin-bottom: 0;
}

.modal_city__search input[type='text'],
.modal_city__search input[type='search'] {
    background: #FFFFFF;
    border: 1px solid #E3ECF8;
    border-radius: 8.75px;
    padding: 12.5px 20px 12.5px 50px;
    line-height: 1;
    width: 100%;
    transition: 0.25s ease-in-out;
}

.modal_city__search__btn {
    width: 55px;
    height: 100%;
    border: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_city__search input[type='text']:focus,
.modal_city__search input[type='search']:focus {
    border-color: #203758;
}

.modal_city__search__btn:hover path {
    fill: #008aff;
}

.modal_city__search__btn path {
    transition: 0.25s ease-in-out;
}

.modal_city__bottom__text {
    font-weight: 400;
}

.modal_city__bottom__text a {
    color: #1a63ce;
    text-decoration: none;
}


.menu_buy_rent__top {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.btn_ghost {
    color: #1864CE;
    font-weight: 600;
    border: 1px solid #1864CE;
    border-radius: 9px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.btn_ghost:hover {
    color: #008aff;
    border-color: #008aff;
}

.btn_menu_buy_rent_1 {
    padding: 14px 17px;
}

.btn_menu_buy_rent_2 {
    padding: 14px 16px;
}

.menu_buy_rent__search {
    flex: 1;
    max-width: 500px;
    position: relative;
}

.menu_buy_rent__top__btns {
    display: flex;
}

.menu_buy_rent__search input[type='text'],
.menu_buy_rent__search input[type='search'] {
    background: #FFFFFF;
    border: 1px solid #E3ECF8;
    border-radius: 8.75px;
    padding: 13px 20px 13px 50px;
    line-height: 1;
    width: 100%;
    transition: 0.25s ease-in-out;
}

.menu_buy_rent__content__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 18px;
}

.menu_buy_rent__search input[type='text']:focus,
.menu_buy_rent__search input[type='search']:focus {
    border-color: #1864ce;
}

.menu_buy_rent__content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 60px;
}

.menu_buy_rent__content>*:after {
    content: '';
    background: #E3ECF8;
    position: absolute;
    top: 0;
    right: -30px;
    bottom: 0;
    display: block;
    width: 1px;
}

.menu_buy_rent__content .menu_buy_rent__col_2:after {
    display: none;
}

.menu_buy_rent__col_1 {
    position: relative;
    width: 190px;
}

.menu_buy_rent__col_2 {
    position: relative;
    width: 290px;
}

.menu_buy_rent__content ul {
    list-style: none;
}

.menu_buy_rent__col_list li {
    margin-bottom: 14px;
}

.menu_buy_rent__col_list li:last-child {
    margin-bottom: 0;
}

.menu_buy_rent__col_list a {
    display: inline-block;
    line-height: 1.2;
    text-decoration: none;
}

.menu_buy_rent__col_list--2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px 17.5%;
}

.menu_buy_rent__col_list--2 li {
    width: 50%;
}

.menu_buy_rent__col_list--2 li:nth-child(2n) {
    width: 32.5%;
}

.menu_buy_rent__content__bottom {
    margin-top: 30px;
}

.menu_buy_rent__content__bottom__link a {
    font-weight: 600;
    text-decoration: none;
}

.menu_settings__form {
    position: relative;
}

.menu_settings__top {
    flex-wrap: wrap;
    border-bottom: 1px solid #E2E8EF;
    display: inline-flex;
    max-width: calc(100% - 150px);
    margin-bottom: 30px;
}

.menu_settings__btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 20px;
    display: inline-flex;
}

.menu_settings__top a {
    color: #B4BAC2;
    font-weight: 500;
    text-decoration: none;
    padding: 11px 30px;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.menu_settings__top a:hover {
    color: #008aff;
}

.menu_settings__top a:after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    background: #203D58;
    height: 1px;
    left: 0;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.menu_settings__top a.active {
    color: #203758;
    cursor: default;
}

.menu_settings__top a.active:after {
    opacity: 1;
}

.menu_settings__content__item {
    display: none;
}

.menu_settings__content__item.active {
    display: block;
}

.menu_settings__content__item__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu_settings__radio__choose__view {
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 13px 20px;
    font-weight: 400;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.menu_settings__radio__choose input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.menu_settings__radio__choose input:checked+.menu_settings__radio__choose__view {
    background: #F2F5FB;
    border-color: transparent;
    color: #1864CE;
    pointer-events: none;
}

.menu_settings__radio__choose__view:hover {
    color: #008AFF;
    border-color: #008AFF;
}

.menu_settings__radio__choose__currency__view {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 13px 20px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    transition: 0.25s ease-in-out;
}

.menu_settings__radio__choose__currency {
    width: calc(100% / 5 - 8px);
}

.menu_settings__radio__choose__currency input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.menu_settings__radio__choose__currency__view:hover {
    color: #008AFF;
    border-color: #008AFF;
}

.menu_settings__radio__choose__currency__view__top {
    font-weight: 500;
    margin-bottom: 2px;
}

.menu_settings__radio__choose__currency__view__text {
    font-size: 14px;
}

.menu_settings__radio__choose__currency input:checked+.menu_settings__radio__choose__currency__view {
    background: #F2F5FB;
    color: #1864CE;
    border-color: transparent;
}

.header__settings.active {
    border-color: #008aff;
}

.header__settings.active path {
    fill: #008aff;
}

.header__location:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1.5px dashed;
    border-radius: 10px;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.header__location.active:after {
    opacity: 1;
}

.header__menu__list a {
    position: relative;
}


.header__menu__list a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 190%;
    height: 150%;
    border: 1.5px dashed #1864CE;
    border-radius: 7.5px;
    opacity: 0;
    transition: .25s ease-in-out;
    margin-left: -45%;
    margin-top: -14%;
}

.header__menu__list a.active:after {
    opacity: 1;
}

.header__menu__list a.active {
    color: #1864CE;
}

.btn_menu_close {
    display: none;
}


.has_submenu {
    position: relative;
}

.btn_modal__menu__hassubmenu {
    position: absolute;
    right: 0;
    top: 18px;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 0;
    display: flex;
    border: none;
    background: transparent;
    appearance: none;
    transition: 0.25s ease-in-out;
}

.modal__menu__sub .menu_buy_rent__content {
    padding: 25px 0px 0;
    gap: 35px;
}

.modal__menu__sub {
    display: none;
}

.modal__menu__sub .menu_buy_rent__content__title {
    font-size: 20px;
    margin-bottom: 12px;
}

.modal__menu__sub .menu_buy_rent__col_list a {
    padding: 15px 0;
    font-size: 14px;
    font-weight: 400;
}

.modal__menu__sub .menu_buy_rent__col_list li {
    margin: 0;
    flex: 1 0 50%;
}

.modal__menu__sub .menu_buy_rent__col_list--2 ul {
    gap: 0;
}

.modal__menu__sub .menu_buy_rent__col_list--2 li {
    width: 50%;
}

.modal__menu__sub .menu_buy_rent__col_list--2 li:nth-child(2n) {
    width: 50%;
}

.modal__menu__sub .menu_buy_rent__content__bottom__link a {
    font-weight: 700;
}

.modal__menu__sub .menu_buy_rent__content__bottom {
    margin-top: 2px;
}

.has_submenu.active .btn_modal__menu__hassubmenu {
    transform: rotate(180deg) translate(0px, 4px);
}


@media screen and (max-width: 900px) {

    .menu_buy_rent__col_2 {
        flex: none;
        width: calc(100% - 190px - 60px);
    }

    .modal_city__list__col {
        flex: none;
        width: 100%;
        border-bottom: 1px solid #e3ecf8;
        padding-bottom: 25px;
    }

    .modal_city__list ul {
        display: flex;
        flex-wrap: wrap;
        gap: 12px 15px;
    }

    .modal_city__list li {
        margin: 0;
        width: calc(100% / 4 - 11.5px);
    }

    .modal_city__list {
        max-width: 100%;
    }

    .modal_city__list a {
        background: #fff;
        border: 1px solid #e2e8ef;
        border-radius: 100px;
        padding: 13px 20px;
        font-weight: 600;
        transition: .25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .modal_city__list__col:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    .menu_sub {
        padding: 32px 20px;
        border-radius: 0;
        border: none;
        top: 92px;
        right: 0;
        left: 0;
    }

    .menu_settings__radio__choose__currency {
        width: calc(100% / 4 - 8px);
    }

    .menu_settings__top {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 750px) {
    .modal_city__list li {
        width: calc(100% / 3 - 10px);
    }

    .menu_buy_rent__col_1 {
        width: 100%;
    }

    .menu_buy_rent__col_2 {
        width: 100%;
    }

    .menu_buy_rent__search {
        flex: none;
        width: 100%;
    }

    .menu_buy_rent__top {
        gap: 15px;
    }

    .menu_buy_rent__content>:after {
        display: none;
    }

    .menu_buy_rent__top__btns>a {
        flex: 1;
        width: auto;
        justify-content: center;
        align-items: center;
        display: inline-flex;
    }

    .menu_buy_rent__top__btns {
        display: flex;
        width: 100%;
        gap: 15px;
        max-width: 370px;
    }

    .menu_settings__btn {
        position: static;
        width: 100%;
        justify-content: center;
        max-width: 200px;
        margin: 20px 0 0;
        display: flex;
    }

    .menu_settings__radio__choose__currency {
        width: calc(100% / 3 - 7px);
    }

    .menu_settings__radio__choose__view {
        min-width: 170px;
        justify-content: center;
        display: inline-flex;
    }

    .menu_settings__top {
        max-width: none;
        width: 100%;
    }

    .btn_menu_close {
        display: flex;
        position: absolute;
        right: 15px;
        top: 12.5px;
        background: transparent;
        border: none;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
    }

    .menu_sub {
        padding: 50px 20px;
    }

    .menu_sub_x {
        top: 90px;
        overflow: scroll;
        bottom: 0;
        position: fixed;
    }

    .menu_sub_x::-webkit-scrollbar {
        display: none;
    }

    .menu_sub_x {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media screen and (max-width: 550px) {
    .modal_city__list li {
        width: calc(100% / 2 - 7.5px);
    }
    .modal_1__title+.modal_1__text {
        margin-top: -10px;
        line-height: 1.5;
        font-size: 15px;
        max-width: 300px;
    }

    .menu_settings__radio__choose__currency {
        width: calc(100% / 2 - 5px);
    }

    .menu_settings__top a {
        padding: 11px 20px;
        flex: 1;
        justify-content: center;
    }

    .menu_settings__radio__choose__view {
        min-width: auto;
        width: 100%;
    }

    .menu_settings__radio__choose {
        width: calc(100% / 2 - 5px);
    }

    .menu_settings__btn {
        max-width: 350px;
    }
}