.loaded .modal__menu {
    transition: 0.25s ease-in-out;
}

.loaded .modal__menu__overlay {
    transition: 0.25s ease-in-out;
}

.modal__menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transform: translate(-100%, 0);
    max-width: calc(100% - 40px);
    width: 100%;
    overflow: scroll;
    z-index: 10;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0%, 0);
    }
}

.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    pointer-events: none;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

@media screen and (max-width: 1200px) {
    .modal__menu {
        display: block;
    }
}