.project_constructor__block {
    display: none;
    padding: 28px 0;
}

.project_constructor__block.active {
    display: block;
}

.project_constructor__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 43px;
}

.project_constructor__inner {
    padding: 90px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.project_constructor__title__icon {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.project_constructor__top {
    display: flex;
    align-items: center;
}

.project_constructor__top button {
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 32px 11px;
    color: #B4BAC2;
    border-bottom: 1px solid #ccc;
    position: relative;
    transition: 0.25s;
}

.project_constructor__top button.active {
    color: #203759;
    border-color: #203759;
}

.project_constructor__top button:hover {
    color: #203759;
    border-color: #203759;
}

.project_constructor__block_x__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    color: #B4BAC2;
    margin-bottom: 10px;
}

.project_constructor__block_x__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project_constructor__block_x__item input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.project_constructor__block_x__item__view {
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #E3ECF8;
    border-radius: 40px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    padding: 10px 29px;
    transition: 0.25s;
}

.project_constructor__block_x__item {
    cursor: pointer;
}

.project_constructor__block_x {
    margin-bottom: 27px;
}

.project_constructor__block_x:last-child {
    margin-bottom: 0;
}

.project_constructor__block_x__item input:checked+.project_constructor__block_x__item__view {
    background: #f2f5fb;
    border-color: transparent;
    color: #1864ce;
    cursor: default;
    font-weight: 400;
}

.project_constructor__block_x__item__view:hover {
    border-color: #1864ce;
    color: #1864ce;
}

.project_constructor__info {
    width: 500px;
}

.project_constructor__image {
    width: calc(100% - 500px - 50px);
}

.project_constructor__block_x__item__view--round {
    width: 49px;
    padding: 10px;
}

.project_constructor__block_x .select2 {
    max-width: 340px;
}

.project_constructor__image__inner {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.project_constructor__image__small__floor {
    width: 150px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(32, 55, 88, 0.11);
    font-size: 0;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.project_constructor__image__small__floor__inner {
    padding-top: 100%;
    position: relative;
}

.project_constructor__image__small__floor__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_constructor__image__small__floor:before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7992 8.30839C13.0772 8.30839 13.1352 8.15795 13.1352 7.97237C13.1352 7.78679 13.0772 7.63635 12.7992 7.63635H8.59816V3.43538C8.59816 3.15743 8.44769 3.09937 8.26211 3.09937C8.07654 3.09937 7.92612 3.15743 7.92612 3.43538V7.63635L3.74025 7.63635C3.4623 7.63635 3.4043 7.78685 3.4043 7.97242C3.4043 8.158 3.4623 8.30839 3.74025 8.30839L7.92612 8.30839V12.4943C7.92612 12.7722 8.07656 12.8303 8.26214 12.8303C8.44772 12.8303 8.59816 12.7722 8.59816 12.4943V8.30839L12.7992 8.30839Z' fill='%231864CE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.1561 3.2649C15.8874 5.99627 15.8874 10.4247 13.1561 13.1561C10.4247 15.8874 5.99627 15.8874 3.2649 13.1561C0.533525 10.4247 0.533525 5.99627 3.2649 3.2649C5.99627 0.533525 10.4247 0.533525 13.1561 3.2649ZM14.2273 13.7972C17.2209 10.5774 17.1506 5.5392 14.0162 2.40479C10.8098 -0.801598 5.61119 -0.801598 2.40479 2.40479C-0.801598 5.61119 -0.801598 10.8098 2.40479 14.0162C5.39314 17.0045 10.1119 17.2077 13.3356 14.6258L18.5317 19.8219C18.7692 20.0594 19.1543 20.0594 19.3918 19.8219C19.6293 19.5844 19.6293 19.1993 19.3918 18.9618L14.2273 13.7972Z' fill='%231864CE'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    bottom: 0;
    top: 0;
    margin: auto;
    content: '';
    z-index: 2;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgb(245 245 245);
    border-radius: 50%;
    transition: 0.25s;
    box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
}

.project_constructor__image__small__floor:hover:before {
    opacity: 1;
    transform: scale(0.9);
}

.project_constructor__image__main:before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8836 22.566L23.9518 16.2637C23.9576 15.7307 24.3953 15.3286 24.9295 15.3655C25.4637 15.4024 25.8921 15.8644 25.8863 16.3974L25.7843 25.8243L16.3573 25.9263C15.8244 25.9321 15.3624 25.5037 15.3255 24.9695C15.2886 24.4354 15.6907 23.9976 16.2236 23.9919L22.414 23.9248L14.216 15.7268C13.8255 15.3363 13.8255 14.7031 14.216 14.3126C14.6065 13.9221 15.2397 13.9221 15.6302 14.3126L23.8836 22.566Z' fill='%231864CE'/%3E%3Cpath d='M3.36042 2.04281L9.66272 1.97458C10.1957 1.96881 10.5978 1.53108 10.5609 0.996891C10.524 0.462698 10.062 0.0343269 9.52904 0.0400967L0.102112 0.142151L5.76087e-05 9.56908C-0.00571224 10.102 0.422659 10.564 0.956853 10.6009C1.49105 10.6378 1.92877 10.2357 1.93454 9.70276L2.00156 3.51238L10.1996 11.7104C10.5901 12.1009 11.2233 12.1009 11.6138 11.7104C12.0043 11.3199 12.0043 10.6867 11.6138 10.2962L3.36042 2.04281Z' fill='%231864CE'/%3E%3C/svg%3E%0A");
    width: 70px;
    height: 70px;
    background-color: #f5f5f5;
    border-radius: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    z-index: 2;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
    transition: 0.25s;
}

.project_constructor__image__main {
    position: relative;
    cursor: pointer;
}

.project_constructor__image__main:hover:before {
    transform: scale(0.9);
}



@media screen and (max-width: 1300px) {
    .project_constructor__info {
        width: 400px;
    }

    .project_constructor__image {
        width: calc(100% - 400px - 50px);
    }
}

@media screen and (max-width: 1100px) {

    .project_constructor__inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .project_constructor__info {
        max-width: 100%;
        width: 100%;
    }

    .project_constructor__image {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {

    .project_constructor__image__small__floor {
        position: absolute;
        left: 20px;
        z-index: 2;
        width: 60px;
    }

    .project_constructor__image__small__floor .project_constructor__image__main {
        padding-left: 50px;
    }
    .project_constructor__top button {
        padding: 10px 10px;
        flex: 1;
    }

    .project_constructor__top {
        max-width: 550px;
    }

    .project_constructor__inner {
        padding: 45px 0 35px;
        gap: 25px;
    }

    .project_constructor__image__small__floor:before {
        background-size: 16px;
        width: 35px;
        height: 35px;
    }

    .project_constructor__image__main:before {
        width: 60px;
        height: 60px;
        background-size: 40%;
    }
}