.project__promo__images__wrap {
    margin: 0 -40px;
    position: relative;
}

.project__promo__slide__inner img {
    height: 545px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.project__promo__info {
    position: relative;
    z-index: 2;
    margin-top: -20px;
    background: #fff;
    margin-left: -40px;
    margin-right: -40px;
    border-radius: 15px;
    padding: 21px 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project__promo__images__info {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
    bottom: 40px;
    right: 40px;
    z-index: 2;
    font-size: 0;
    gap: 20px;
}

.project__promo__arrows .slick-arrow {
    position: static;
    transform: none;
    background-color: #fff;
}

.project__promo__arrows {
    gap: 9px;
    display: flex;
}

.project__promo__video {
    background: #FFFFFF;
    border-radius: 9px;
    padding: 14px;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    gap: 11px;
}

.project__promo__arrows .slick-arrow:hover {
    opacity: 0.85;
}

.project__promo__arrows .slick-arrow.slick-disabled {
    opacity: 0.4;
}

.project__promo__video:hover path {
    fill: #008aff;
}

.project__promo__video path {
    transition: 0.25s ease-in-out;
}

.project__promo__logo {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(32, 55, 88, 0.11);
    border-radius: 10px;
    width: 187px;
    height: 120px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 27px;
    margin-top: -53px;
}

.project__promo__info__main {
    flex: 1;
}

.project__promo__call {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: calc(100% - 700px);
    justify-content: flex-end;
}

.project__promo__info__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 9px;
}

.project__promo__info__adress {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    padding-left: 19px;
}

.btn_call_x {
    display: inline-flex;
    align-items: center;
    padding: 12px 14px;
    gap: 9px;
    font-weight: 600;
}

.project__promo__info__adress svg {
    position: absolute;
    left: 0;
    top: 3.5px;
}

.project__advantage {
    margin-top: 10px;
}

.project__advantage__top {
    padding: 39px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 61px;
}

.project__advantage__item__value {
    font-weight: 600;
    font-size: 16px;
}

.project__advantage__item {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project__advantage__item:after {
    content: "";
    width: 1px;
    background: #e3ecf8;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -30.5px;
}

.project__advantage__item--payment_plan a {
    display: flex;
    animation: lic;
    gap: 9px;
    font-weight: 600;
    text-decoration: none;
}

.project__advantage__item--payment_plan a path {
    transition: 0.25s ease-in-out;
}

.project__advantage__item--payment_plan a:hover path {
    fill: #008aff;
}

.project__advantage__item__slide {
    max-width: 240px;
    padding: 0 10px;
}

.project__advantage__item__image {
    font-size: 0;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 10px;
}

.project__advantage__list {
    margin: 0 -10px;
    padding-bottom: 40px;
}

.project__advantage__list .slick-slide:has(+.slick-current.slick-active) {
    opacity: 0;
}

.project__advantage__list .slick-slide {
    transition: 0.25s;
}

.project__advantage__item:last-child:after {
    display: none;
}


.project__advantage__list .slick-list {
    overflow: visible;
}

.project__advantage__list .slick-arrow {
    top: 85px;
}

.project__advantage__item__image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.project__advantage .container__inner {
    overflow: hidden;
}

.project__advantage__item__slide__title {
    font-weight: 600;
}




.project__stat__item__diagram {
    width: 90px;
    height: 90px;
    display: block;
    font-size: 0;
}

.project__stat__item__diagram canvas {
    max-height: none;
    height: auto;
    height: 90px !important;
    width: 90px !important;
}

.project__stat__title--line {
    font-weight: 400;
    margin: 0 15px;
    display: inline;
}

.project__stat__item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 320px;
}

.project__stat__item__info__line {
    display: flex;
}

.project__stat__item__type {
    position: absolute;
    left: 25px;
    font-weight: 500;
    font-size: 19px;
    width: 40px;
    text-align: center;
    top: 36px;
}

.project__stat {
    margin-top: 10px;
}

.project__stat__title {
    font-weight: 700;
    font-size: 28px;
    display: flex;
    margin-bottom: 22px;
}


.project__stat__content {
    padding: 44px 0;
}

.project__stat__title--fade {
    color: #B4BAC2;
}

.project__stat__list {
    display: flex;
    gap: 20px 50px;
    margin: 0 -7px;
    flex-wrap: wrap;
}

.project__stat__item__info {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 270px;
}

.project__stat__item__info__line__title {
    width: 70px;
}

.project__stat__item__info__line--sale {
    color: #1864CE;
}

.project__qualities {
    margin-top: 10px;
}


.property__card__auction {
    display: flex;
    font-weight: 500;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px 0 15px;
    gap: 10px;
    border-top: 1px solid #E3ECF8;
    margin: 0 15px;
}

.property__card__auction_col_2 {
    color: #1864CE;
    margin-top: -2px;
    white-space: nowrap;
}

.property__card__auction_col_1 {
    font-size: 14px;
    flex: 1;
    flex-direction: column;
    gap: 2px;
    display: flex;
}

.another_project {
    margin-top: 10px;
}



.another_project__top {
    position: relative;
    display: flex;
}

.another_project__top .btn_all__home {
    right: 0;
    top: -5px;
}

.another_project__list {
    padding: 0;
}

.project__qualities__item:nth-child(5n+1) {
    width: calc(100% / 4);
}

.project__qualities__item {
    overflow: hidden;
    font-size: 0;
    padding: 10px;
}

.project__qualities__list {
    margin: 0 -10px;
}

.project__qualities__item:nth-child(5n+2) {
    width: calc(100% / 4);
}

.project__qualities__item:nth-child(5n+3) {
    width: calc(100% / 4 * 2);
}

.project__qualities__item__image {
    position: relative;
}

.project__qualities__item__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.project__qualities__item__image {
    padding-top: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.project__qualities__item:nth-child(5n+1) .project__qualities__item__image {
    height: 590px;
    padding: 0;
}

.project__qualities__item:nth-child(5n+4) {
    width: calc(100% / 4 * 2);
}

.project__qualities__item:nth-child(5n+5) {
    width: calc(100% / 4);
}

.project__qualities__item__title {
    font-weight: 700;
    font-size: 28px;
}

.project__qualities__item__info {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 30px;
    color: #fff;
}

.project__qualities__item:nth-child(5n+2) .project__qualities__item__image {
    height: 265px;
    padding: 0;
}

.project__qualities__item:nth-child(5n+3) .project__qualities__item__image {
    height: 265px;
    padding: 0;
}

.project__qualities__item:nth-child(5n+4) .project__qualities__item__image {
    height: 304px;
    padding: 0;
}

.project__qualities__item:nth-child(5n+5) .project__qualities__item__image {
    height: 304px;
    padding: 0;
}

.project__qualities__item__image:before {
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: #1864CE;
    opacity: 0;
    transition: 0.25s;
}

.project__qualities__item:hover .project__qualities__item__image:before {
    opacity: 0.45;
}

.project__qualities__item:hover .project__qualities__item__title:after {
    opacity: 1;
    transform: translate(0px, -50%);
}

.project__qualities__item__title:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_913_9806)'%3E%3Crect width='49.2727' height='50' rx='24.6364' fill='white' fill-opacity='0.8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5123 32.7171C21.0743 32.3175 21.0469 31.6427 21.4513 31.2098L27.2519 25L21.4513 18.7902C21.0469 18.3573 21.0743 17.6825 21.5123 17.2829C21.9504 16.8833 22.6332 16.9103 23.0376 17.3432L30.1898 25L23.0376 32.6568C22.6332 33.0897 21.9504 33.1167 21.5123 32.7171Z' fill='%23203D58'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_913_9806' x='-14' y='-14' width='77.2725' height='78' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='7'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_913_9806'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_913_9806' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(-5px, -50%);
    transition: 0.25s;
    opacity: 0;
}

.project__qualities__item__info {
    right: 30px;
}

.project__qualities__item__title {
    padding-right: 50px;
}



.ready__property_top.ready__property_top--project_ready_property {
    margin-bottom: 20px;
}

.another_project__top {
    margin-bottom: 20px;
}

.property__list {
    padding-bottom: 0;
}

.ready_project {
    margin-top: 10px;
}

.another_project__inner {
    position: relative;
}

.project_ready_property_btn {
    right: 0;
    top: 38px;
}

.project__another__title {
    margin-bottom: 0;
}


.ready_project__title {
    margin: 3px 20px 0 0;
}

.project_ready_property_btn {
    border-color: #203758;
}

.btn_project__all_more {
    top: 40px;
    right: 0;
}

.project__promo {
    position: relative;
}

.project__stat__list__inner {
    white-space: nowrap;
    padding: 0 15px;
}

.project__stat__item__slide {
    display: inline-block;
}

.project__stat__list::-webkit-scrollbar {
    display: none;
}


.project__stat__list {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    margin: 0 -20px;
}


.project__main_plan__top {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 8;
}

.project__main_plan__inner {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.project__main_plan__top__inner {
    background: #fff;
    border-radius: 12px;
    display: flex;
    padding: 6px 30px 10px;
}

.project__main_plan__top a {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    padding: 11px 30px;
    display: flex;
    border-bottom: 1px solid;
    color: #B4BAC2;
    min-width: 110px;
    justify-content: center;
}

.project__main_plan__top a.active {
    color: inherit;
}

.project__main_plan {
    margin-top: 10px;
}

.project__main_plan__point__item {
    position: absolute;
    z-index: 5;
}

.project__main_plan__point__item.active {
    z-index: 6;
}

.project__main_plan__image__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
}

.project__main_plan__image__bg {
    font-size: 0;
}

.project__main_plan__point_info {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 20px 17px 20px;
    width: 330px;
    bottom: calc(100% + 10px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
}

.project__main_plan__point__item.active .project__main_plan__point_info {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: all;
}

.project__main_plan__point_info__top {
    border-bottom: 1px solid #E3ECF8;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.project__main_plan__point_info__top_info {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 110px;
    font-size: 14px;
}

.project__main_plan__point_info__top_title {
    flex: 1;
    font-weight: 700;
    font-size: 18px;
}

.project__main_plan__point_info__top_info__value {
    font-weight: 600;
    color: #1864CE;
}

.project__main_plan__point_info__content_list {
    display: flex;
    font-size: 14px;
    gap: 10px;
}

.project__main_plan__point_info__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project__main_plan__point_icon {
    font-size: 0;
    cursor: pointer;
}

.project__main_plan__point_icon:hover {
    opacity: 0.85
}

.project__main_plan__image {
    overflow: scroll;
}

.project__main_plan__image::-webkit-scrollbar {
    display: none;
}

.project__main_plan__image {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project__main_plan__image__view {
    position: relative;
    height: 760px;
    width: 1360px;
}

.project__main_plan__point__list {
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}

.property__card.property__card--planing {
    width: calc(25% - 15px);
    min-width: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
    position: relative;
    border-radius: 14px;
    padding: 0;
}

.project__list_card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin: 30px 0;
}

.property__card--planing .property__card__info__top {
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.property__card--planing .property__card__full__image__item__inner {
    padding-top: 100%;
    object-fit: contain;
}

.bottom_card__btn_wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.project__list_card_block {
    margin-top: 10px;
}


.property__card__info.property__card__info--full {
    padding: 12px 15px 20px;
}

.project_constructor {
    margin-top: 10px;
}

.project__list_card_block__filter .filter_x {
    padding-top: 30px;
}

.project__main_plan__point__item.plan__point__item--right .project__main_plan__point_info {
    right: 0;
    transform: translate(0, 0);
    left: auto;
}

.project__main_plan__point__item.plan__point__item--left .project__main_plan__point_info {

    transform: translate(0, 0);
    left: 0;
}

.btn_filter__project_card {
    display: none;
}
.project__main_plan__block__item{display: none;}
.project__main_plan__block__item.active{display: block;}


.project__promo__images__wrap .card__btn_y {
    z-index: 3;
}

@keyframes run {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-20%);
    }
}

.project__main_plan__mobile_view {
    display: none;
}

@media screen and (max-width: 1300px) {

    .project__stat__list {
        gap: 25px 50px;
    }

    .project__main_plan .container {
        padding: 0;
    }

    .project__main_plan__inner {
        border-radius: 0;
    }

    .property__card.property__card--planing {
        width: calc(33.3333333333% - 13.5px);
    }
}


@media screen and (max-width: 1200px) {
    .project__list_card_block__filter .filter_x_list {
        max-width: 100%;
    }

    .project__stat__title {
        font-size: 24px;
    }

    .project__promo__info__title {
        font-size: 25px;
    }

    .project__promo__logo {
        width: 137px;
        height: 90px;
        padding: 16px;
        border-radius: 6px;
        margin-top: -50px;
    }

    .project__promo__slide__inner img {
        height: 350px;
    }

    .project__promo__call {
        width: 100%;
        justify-content: flex-start;
    }

    .project__promo__info {
        gap: 20px;
        padding: 25px 40px;
    }
}

@media screen and (max-width: 1100px) {

    .project__stat__list {
        gap: 25px 20px;
    }
}


@media screen and (max-width: 1000px) {

    .project_ready_property_btn,
    .btn_project__all_more {
        position: static;
        width: 100%;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
        display: flex;
    }

    .project__qualities__item:nth-child(5n+1) {
        width: 50%;
    }

    .project__qualities__item:nth-child(5n+2) {
        width: 50%;
    }

    .project__qualities__item:nth-child(5n+4) {
        width: 50%;
    }

    .project__qualities__item:nth-child(5n+5) {
        width: 50%;
    }

    .project__qualities__item:nth-child(5n+3) .project__qualities__item__image {
        height: 400px;
    }

    .project__qualities__item__title {
        font-size: 20px;
    }

    .project__qualities__item__title:after {
        width: 38px;
        height: 38px;
        background-size: contain;
    }

    .project__qualities__item__image {
        border-radius: 10px;
    }

    .project__qualities__item {
        padding: 8px;
    }
}



@media screen and (max-width: 950px) {
    .property__card.property__card--planing {
        width: calc(50% - 10px);
    }
}



@media screen and (max-width: 750px) {
    .filter_x--project_o {
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: 0.25s;
        left: 0;
        width: 100%;
        top: 0;
        bottom: auto;
        padding: 0 20px 45px;
        box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
        background: #fff;
    }

    .project__list_card_block__filter .filter_x_list {
        max-width: 460px;
    }

    .filter_x--project_o .filter_x__item__field {
        flex: none;
    }

    .btn_filter_bottom {
        display: flex;
        width: 100%;
    }

    .btn_filter_bottom .btn_filter_submit {
        width: 100%;
    }

    .project__list_card_block {
        position: relative;
    }

    .filter_x--project_o.active {
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }

    .project__list_card_block__filter {
        padding-top: 10px;
    }

    .btn_filter__project_card {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding: 13px 20px;
        border: 1px solid #cdd6e0;
        border-radius: 8.75px;
        appearance: none;
        background: transparent;
        color: inherit;
        max-width: 460px;
        margin: 20px auto 0;
    }

    button.btn_filter__project_card:hover {
        border-color: #008aff;
        color: #008aff;
    }

    .btn_filter__project_card:hover path {
        fill: #008aff;
    }

    .project__stat__title--line {
        display: none;
    }

    .project__main_plan .container--zero .container__inner {
        padding: 0;
    }

    .project__main_plan__top a {
        font-size: 16px;
    }

    .project__main_plan__top__inner {
        padding: 5px 22px 11px;
        border-radius: 10px;
    }

    .project__stat__title {
        display: flex;
        flex-direction: column;
    }

    .ready_project__title {
        margin: 0 0 20px;
    }

    .project__another__title {
        margin-bottom: 0;
    }

    .another_project__top {
        margin-bottom: 10px;
    }

    .another_project__inner {
        padding: 30px 0 35px;
    }

    .project__advantage__item__slide {
        max-width: 170px;
        padding: 0 5px;
    }

    .project__advantage__item__image img {
        height: 115px;
    }



    .project__advantage__list {
        margin: 0 -5px;
    }


    .project__promo__slide__inner img {
        height: 450px;
        border-radius: 0;
    }

    .project__promo__images__wrap {
        margin: 0;
        margin: 0 -20px;
    }

    .btn_call_x__text {
        display: none;
    }

    .btn_call_x {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .btn_call_x__icon {
        font-size: 0;
    }

    .project__promo__call {
        align-items: center;
        margin: 5px 0 10px;
        gap: 15px;
        display: none;
    }

    .project__promo__info__main {
        width: 100%;
        flex: none;
    }

    .project__promo__info__title {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .project__promo__arrows {
        display: none;
    }

    .project__promo__video {
        border: 1px solid #1864CE;
        color: #1864CE;
        padding: 11px 15px 12px;
    }

    .project__promo__slider .slick-dots {
        position: absolute;
        bottom: 35px;
        right: 20px;
        display: flex;
        z-index: 2;
        justify-content: center;
        gap: 12px;
    }

    .project__promo__slide__inner {
        font-size: 0;
    }

    .project__promo__slider {
        font-size: 0;
    }

    .project__promo__images__info {
        left: auto;
        bottom: -50px;
        z-index: 3;
        right: 20px;
    }

    .project__promo__info {
        margin: -20px -20px 0;
        padding: 0px 20px 20px;
    }

    .project__promo__logo {
        margin-top: -40px;
        height: 75px;
    }
}



@media screen and (max-width: 650px) {

    .project__stat__item {
        width: 310px;
    }

    .project__stat__title--fade {
        border-top: 1px solid #E3ECF8;
        margin-top: 9px;
        display: inline-block;
        min-width: 210px;
        padding-top: 8px;
    }

    .project__stat__list {
        gap: 30px;
    }

    .project__stat__title--fade {
        display: inline-block;
    }

    .project__stat__title {
        display: block;
        font-size: 19px;
        margin-bottom: 30px;
    }

    .project__stat__content {
        padding: 33px 0;
    }
}

@media screen and (max-width: 600px) {

    .property__card.property__card--planing {
        width: 100%
    }

    .bottom_card__btn {
        width: 100%;
        max-width: 400px;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {

    .project__main_plan__mobile_view {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        z-index: 7;
        background: rgb(24 100 206 / 50%);
        color: #fff;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .project__main_plan__mobile_view__text {
        font-weight: 700;
        font-size: 20px;
    }

    .project__main_plan__mobile_view__icon {
        animation: linear infinite alternate;
        animation-name: run;
        animation-duration: 2.5s;
        font-size: 0;
    }


    .project__qualities__item:nth-child(5n+1) {
        width: 50%;
    }

    .project__qualities__item:nth-child(5n+3) {
        order: -1;
        width: 100%;
    }

    .project__qualities__list {
        display: flex;
    }

    .project__qualities__item:nth-child(5n+1) .project__qualities__item__image {
        height: auto;
        padding-top: 90%;
    }

    .project__qualities__item:nth-child(5n+2) .project__qualities__item__image {
        height: auto;
        padding-top: 90%;
    }

    .project__qualities__item:nth-child(5n+3) .project__qualities__item__image {
        height: auto;
        padding-top: 50%;
    }

    .project__qualities__item:nth-child(5n+4) .project__qualities__item__image {
        height: auto;
        padding-top: 90%;
    }

    .project__qualities__item:nth-child(5n+5) .project__qualities__item__image {
        height: auto;
        padding-top: 90%;
    }

    .project__qualities__item__info {
        left: 15px;
        bottom: 15px;
        right: 15px;
    }

    .project__qualities__item__title {
        font-size: 14px;
        padding-right: 40px;
    }

    .project__qualities__item {
        padding: 6px;
    }

    .project__qualities__item__title:after {
        width: 30px;
        height: 30px;
    }

    .project__advantage__top {
        gap: 40px;
        justify-content: center;
    }

    .project__advantage__item:nth-child(2):after {
        display: none;
    }

    .project__advantage__item {
        flex: 1;
        flex-basis: calc(50% - 30px);
    }
}


@import "constructor";
