
<div class="bottom__fixmenu">
    <div class="container">
        <a href="" class="bottom__fixmenu__item js_menu_location_btn js_modal_menu_btn">
            <div class="bottom__fixmenu__item__icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.3441 0.65409L15.3449 0.654881C15.3499 0.65992 15.3511 0.66727 15.3488 0.672885L9.34892 15.3392L9.34891 15.3393C9.34766 15.3423 9.34578 15.3448 9.34257 15.3469C9.33905 15.3493 9.33571 15.35 9.33318 15.35C9.33453 15.35 9.33412 15.35 9.33158 15.3499L9.32966 15.3498C9.32277 15.348 9.31848 15.3426 9.31747 15.3371L9.31734 15.3363L8.06599 8.45695L7.98546 8.01424L7.54274 7.93376L0.664101 6.68323C0.664057 6.68322 0.664013 6.68321 0.66397 6.6832C0.656101 6.68171 0.650985 6.67561 0.650267 6.66869L0.650108 6.6672C0.649471 6.6612 0.652669 6.65394 0.660773 6.65053C0.660825 6.65051 0.660878 6.65048 0.66093 6.65046L15.3244 0.651769C15.3245 0.651716 15.3246 0.651664 15.3248 0.651614C15.3345 0.647834 15.3414 0.651359 15.3441 0.65409Z" stroke="#203D58" stroke-width="1.3"/></svg></div>
            <div class="bottom__fixmenu__item__text">Abu Dhabi</div>
        </a>
        <a href="javascrip:void(0)" data-src="#js_modal_add_property" data-fancybox class="bottom__fixmenu__item">
            <div class="bottom__fixmenu__item__icon"><svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.98486 1.13636C9.98486 0.684489 9.61855 0.318176 9.16668 0.318176C8.71481 0.318176 8.3485 0.684489 8.3485 1.13636V7.68181L1.80304 7.68181C1.35118 7.68181 0.984863 8.04812 0.984863 8.49999C0.984863 8.95186 1.35118 9.31818 1.80304 9.31818H8.3485V15.8636C8.3485 16.3155 8.71481 16.6818 9.16668 16.6818C9.61855 16.6818 9.98486 16.3155 9.98486 15.8636V9.31818H16.5303C16.9822 9.31818 17.3485 8.95186 17.3485 8.49999C17.3485 8.04813 16.9822 7.68181 16.5303 7.68181L9.98486 7.68181V1.13636Z" fill="#203D58"/></svg></div>
            <div class="bottom__fixmenu__item__text">Add property</div>
        </a>

        <a href="" class="bottom__fixmenu__item">
            <div class="bottom__fixmenu__item__icon"><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3331 19.1611C10.2425 19.1596 10.1537 19.134 10.0752 19.0867C9.97737 19.0402 7.77166 17.7293 5.53038 15.6281C2.46196 12.7365 0.905519 9.8636 0.905519 7.07435C0.904712 5.92033 1.25807 4.79647 1.91366 3.86798C2.56924 2.93949 3.49247 2.25535 4.54763 1.91611C5.60279 1.57687 6.73423 1.60044 7.77562 1.98335C8.81702 2.36626 9.71344 3.08831 10.3331 4.04336C10.9528 3.08831 11.8492 2.36626 12.8906 1.98335C13.932 1.60044 15.0635 1.57687 16.1186 1.91611C17.1738 2.25535 18.097 2.93949 18.7526 3.86798C19.4082 4.79647 19.7615 5.92033 19.7607 7.07435C19.7607 9.8636 18.2043 12.7365 15.1359 15.6281C12.8946 17.7293 10.6889 19.0402 10.591 19.0867C10.5125 19.134 10.4237 19.1596 10.3331 19.1611ZM6.06402 2.7975C4.97896 2.7975 3.93834 3.24809 3.17109 4.05016C2.40383 4.85222 1.9728 5.94006 1.9728 7.07435C1.9728 12.4018 8.8923 17.0506 10.3331 17.9524C11.7739 17.0506 18.6935 12.4018 18.6935 7.07435C18.6955 6.08404 18.3688 5.12367 17.769 4.35714C17.1692 3.59061 16.3335 3.06542 15.4046 2.8712C14.4757 2.67699 13.511 2.82578 12.6754 3.2922C11.8397 3.75861 11.1847 4.51373 10.8223 5.42869C10.784 5.53178 10.7168 5.62036 10.6295 5.68282C10.5422 5.74528 10.4389 5.7787 10.3331 5.7787C10.2273 5.7787 10.124 5.74528 10.0367 5.68282C9.94944 5.62036 9.88224 5.53178 9.84396 5.42869C9.53297 4.64886 9.008 3.98278 8.33528 3.5145C7.66256 3.04623 6.87223 2.79673 6.06402 2.7975Z" fill="#203D58"/></svg></div>
            <div class="bottom__fixmenu__item__text">Favourites</div>
        </a>
    </div>
</div>