.header_main {
    position: relative;
}

.header_btn_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;
    margin-right: -5px;

    span {
        background: $black;
        width: 90%;
        height: 2px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s;

        &:nth-child(1) {
            transform: translate(0, -9px);
        }

        &:nth-child(2) {
            transform: translate(0, 0);

        }

        &:nth-child(3) {
            transform: translate(0, 9px);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg);
            }
        }

    }
}