html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    font-family: $font;
    line-height: 1.4;
    color: $textColor;
    background: #F2F5FB;
}

@media screen and (max-width: 750px) {
    body {
        padding-bottom: 85px;
    }
}


.loaded a {
    transition: 0.325s ease-in-out
}


.loaded .btn_default {
    transition: 0.325s ease-in-out;
}


.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;

}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.title_x {
    font-weight: 800;
    font-size: 30px;
    text-align: left;
    margin: 0 0 24px;

}

.btn_blue {
    background: #1864CE;
    border-radius: 9px;
    color: #fff
}


.btn_blue:hover {
    background: #008aff;
    color: #fff;
}

.carousel__button {
    filter: none;
    box-shadow: none;
    color: #203758;
    background: transparent;
}

.carousel__button svg {
    filter: none;
}

.fancybox__counter {
    color: #203758;
}

.fancybox__toolbar {
    text-shadow: none;
}

@media screen and (max-width: 900px) {
    .title_x {
        font-size: 22px;
    }
}

.page__wrap {
    overflow: hidden;
}


.title_q {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 28px;
}


@media screen and (max-width: 750px) {
    .title_q {
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 20px;
    }
}


.form__field {
    position: relative;
    margin-bottom: 16px;

    &--btn {
        margin-bottom: 0;

        button {
            width: 100%;
            justify-content: center;
        }
    }

    input {
        width: 100%;
        padding: 14px 20px;
        line-height: 1;
        border: 1px solid rgba($black, 0.3);
        border-radius: 4px;
        -webkit-appearance: none;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid rgba($black, 0.3);
        border-radius: 4px;
        resize: vertical;
        min-height: 100px;
        -webkit-appearance: none;
    }
}

.--hide {
    display: none !important;
}


.fancybox__slide.has-image {
    display: flex;
    align-items: center;
    justify-content: center;
}


.fancybox__thumbs .carousel__slide .fancybox__thumb::after {border-color: #203758;border-radius: 2px;border-width: 3px;}

.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
    opacity: 0.75;
}