.fancybox__backdrop {
    background: rgb(255 255 255 / 85%);
    backdrop-filter: blur(20px);
}

.modal_default {
    padding: 0;
    box-shadow: 0px 4px 10px rgba(32, 55, 88, 0.15);
    border-radius: 15px;
    background: #fff;
    display: none;
}
.modal_default * {
    outline: none !important;
}



.fancybox__content>.carousel__button.is-close {
    top: 10px;
    right: 8px;
}

.fancybox__content>.carousel__button.is-close svg {
    filter: none;
    width: 32px;
    height: 32px;
    padding: 7px;
    stroke-width: 2px;
}

.fancybox__content>.carousel__button.is-close path {
    stroke: #203D58;
}

.modal_x {
    max-width: 900px;
    width: 100%;
    cursor: default !important;
}

.modal_inner__text {
    font-size: 15px;
}

.modal_1_row {
    display: flex;
    height: auto;
}

.modal_1__image {
    flex: 1;
    width: 100%;
    position: relative;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
}

.modal_1__image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal_1__content {
    padding: 40px 80px;
    max-width: 540px;
    width: 100%;
}

.modal_1__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
}

.modal_1__form {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field_y input {
    background: #FFFFFF;
    border: 1px solid #E3ECF8;
    border-radius: 10px;
    width: 100%;
    padding: 14.5px 15px;
    font-weight: 400;
    line-height: 1.2;
}


.fancybox__content>.carousel__button.is-close:hover path {
    stroke: #ccc;
}

.field_y input:focus {
    border-color: #1864ce;
    outline: none !important;
}

.field_y.field_y--text {
    color: #B4BAC2;
    font-size: 14px;
    font-weight: 400;
}

.modal_1__form__add_text {
    font-weight: 400;
    font-size: 14px;
    max-width: 330px;
}

.modal_1__form__add_text a {
    color: #1a63ce;
    text-decoration: none;
}

.modal_1__form__add_text a:hover {
    color: #008AFF;
}

.btn_modal_y {
    width: 100%;
    padding: 16px;
    font-weight: 600;
}

.field_y.field_y--btn {
    margin-top: 23px;
}



.modal_1__text {
    margin-bottom: 30px;
}

.modal_1__title+.modal_1__text {
    margin-top: -15px;
    font-weight: 400;
    max-width: 340px;
    line-height: 1.4;
}

.field_y.field_y--phone_wa {
    position: relative;
}

.field_y.field_y--phone_wa .select2-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 82.5px !important;
}

.field_y.field_y--phone_wa input {
    padding-left: 90px;
}

.field_y.field_y--phone_wa .select2-container .select2-selection--single {
    border: none;
    background: transparent;
    border-radius: 0;
}

.field_y.field_y--phone_wa .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 26px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%231864CE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-size: 10px;
}

.field_y.field_y--phone_wa .select2-container--default .select2-selection--clearable.select2-selection--single .select2-selection__rendered {
    color: #1964ce;
    font-weight: 500;
    min-width: 95px;
    justify-content: center;
}

.field_y.field_y--phone_wa .select2-container .select2-selection--single:focus {
    outline: none !important
}

.select2-container--open .select2-dropdown:has([id^='select2-code_phone']) {
    padding: 7.5px;
    border-radius: 10px;
}


.modal_text {
    max-width: 680px;
    padding: 30px 40px;
}

.modal_1__date {
    color: #B4BAC2;
    font-weight: 500;
}

.modal_1__title+.modal_1__date {
    margin-top: -15px;
    margin-bottom: 25px;
}

.default_text>* {
    margin-bottom: 25px;
}

.default_text {
    line-height: 1.5;
    font-weight: 500;
}

.default_text>*:last-child {
    margin-bottom: 0;
}

.modal_inner__text h3 {
    font-size: 19px;
    font-weight: 700;
}


.modal_instalment_payments {
    max-width: 1165px;
    width: 100%;
}

.modal_instalment_payments .modal_inner {
    padding: 60px 40px;
}

.modal_payment {
    color: #203D58;
    font-weight: 500;
}

.modal_payment__table_x__head {
    background: #F2F5FB;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
}

.modal_payment__table_col--1 {
    padding: 14px 30px;
    width: 25%;
}

.modal_payment__table_col--2 {
    padding: 14px 30px;
    width: 25%;
}

.modal_payment__table_col--3 {
    padding: 14px 30px;
    width: 25%;
}

.modal_payment__table_col--4 {
    padding: 14px 30px;
    width: 25%;
}

.modal_payment__table_x {
    border-radius: 9px 9px 0px 0px;
    border: 1px solid #E3ECF8;
    overflow: hidden;
}


.modal_payment__table_x__row {
    display: flex;
    border-bottom: 1px solid #E3ECF8;
}

.modal_payment__table_x__foot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #203D58;
    border-radius: 0 0 9px 9px;
}

.modal_payment__table_col--1-3 {
    padding: 14px 30px;
    width: 75%;
}

.modal_payment__table_x__row:last-child {
    border: navajowhite;
}

.modal_payment__table_x b {
    font-weight: 700;
}

.modal_payment__table {
    width: 100%;
    margin-bottom: 20px;
}

.modal_payment__table_2__1 {
    display: flex;
    flex-wrap: wrap;
}

.modal_payment__table_2__1_00 {
    width: calc(100% / 3);
}

.modal_payment__table_2__1_0 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modal_payment__table_2 {
    border-radius: 9px;
    overflow: hidden;
    font-weight: 500;
    border: 1px solid #E3ECF8;
}

.modal_payment__table_2__1__title {
    background: #F2F5FB;
    padding: 14px 30px;
    display: flex;
}

.modal_payment__table_2__1__value {
    padding: 14px 30px;
    border-right: 1px solid #E3ECF8;
}

.modal_payment__table_2__1_00:last-child .modal_payment__table_2__1__value {
    border: navajowhite;
}

.modal_payment__table_2__2 {
    display: flex;
    align-items: center;
    border: 1px solid #203d59;
    border-radius: 0 0 9px 9px;
}

.modal_payment__table_2__2_1 {
    display: flex;
    width: 50%;
    border-right: 1px solid #203d5a;
}

.modal_payment__table_2__2_2 {
    width: 50%;
    display: flex;
    align-items: center;
}

.modal_payment__table_2__2_1_1 {
    width: 50%;
    padding: 14px 30px;
    font-weight: 700;
}

.modal_payment__table_2__2_1_2 {
    width: 50%;
    padding: 14px 30px;
}

.modal_payment__table_2__1__title span {
    flex: 1;
}

.modal_payment__table_2__1_00.modal_payment__table_2__1_00--center {
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .modal_x {
        max-width: 675px;
    }

    .modal_1__content {
        max-width: 400px;
        padding: 40px 40px;
    }

    .modal_1__title {
        font-size: 26px;
    }
}


@media screen and (max-width: 900px) {


    .modal_payment__table_col--1 {
        display: none;
    }

    .modal_payment__table_col--2 {
        width: 36.33%;
        padding: 12px 15px;
    }

    .modal_payment__table_col--3 {
        width: 28.33%;
        text-align: center;
        padding: 12px 15px;
    }

    .modal_payment__table_col--4 {
        width: 35.33%;
        padding: 12px 15px;
        text-align: right;
    }

    .modal_payment__table_col--1-3 {
        width: 66.66%;
    }

    .modal_payment__table {
        font-size: 14px;
    }

    .modal_instalment_payments .modal_inner {
        padding: 40px 20px;
    }

    .modal_payment__table_2 {
        font-size: 14px;
    }
}


@media screen and (max-width: 700px) {

    .modal_payment__table_x{border-radius: 10px;}
    .modal_payment__table_2__1 {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    .modal_payment__table_2 {
        border: none;
        font-weight: 600;
    }

    .modal_payment__table_2__1_00 {
        width: 100%;
        flex-direction: row;
        border-radius: 9px;
        overflow: hidden;
        border: 1px solid #E3ECF8;
    }

    .modal_payment__table_2__1__title {
        width: 50%;
        padding: 14px 15px;
    }

    .modal_payment__table_2__1__value {
        width: 50%;
        text-align: right;
        padding: 14px 15px;
        font-weight: 700;
    }

    .modal_payment__table_2__1_00.modal_payment__table_2__1_00--center {
        text-align: left;
    }

    .modal_payment__table_2__1_00 {
        display: flex;
    }

    .modal_payment__table_2__2 {
        flex-direction: column;
        gap: 10px;
        border: none;
        border-radius: 0;
    }

    .modal_payment__table_2__2_1,
    .modal_payment__table_2__2_2 {
        border: 1px solid #203d59;
        width: 100%;
        border-radius: 9px;
    }

    .modal_payment__table_2__2_1_1 {
        padding: 14px 15px;
    }

    .modal_payment__table_2__2_1_2 {
        text-align: right;
        font-weight: 700;
        padding: 14px 15px;
    }

    .modal_payment__table_x__foot .modal_payment__table_col--4 {
        width: 50%;
    }

    .modal_payment__table_x__foot .modal_payment__table_col--1-3 {
        width: 50%;
        padding: 12px 15px;
    }
}

@media screen and (max-width: 600px) {
    .modal_1__image {
        display: none;
    }

    .modal_1__content {
        max-width: 100%;
        padding: 40px 20px;
    }

    .modal_1__form {
        max-width: 100%;
        gap: 12px;
    }

    .modal_x {
        max-width: 400px;
        box-shadow: none;
        border-radius: 0;
    }

    .fancybox__slide::before,
    .fancybox__slide::after {
        display: none;
    }

    .fancybox__slide {
        padding: 0;
    }

    .modal_1__title {
        font-size: 22px;
    }

    .default_text {
        font-size: 14px;
        line-height: 1.65;
    }

    .modal_1__title+.modal_1__date {
        margin-top: -15px;
        font-size: 14px;
        margin-bottom: 20px;
    }


    .modal_text {
        padding: 32px 20px;
    }

    .modal_inner__text h3 {
        font-size: 16px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 420px) {
    .modal_1__title+.modal_1__date {
        margin-bottom: 15px;
    }

    .default_text {
        font-size: 13px;
        line-height: 1.75;
    }

    .field_y input {
        padding: 12.5px 15px;
    }

    .modal_1__title {
        font-size: 20px;
    }

    .modal_1__title+.modal_1__date {
        font-size: 13px;
        margin-top: -13px;
    }
}