.developer__list__page__top .container__inner {
    padding-top: 25px;
    padding-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.developer__list__order {
    flex: 1;
}

.developer__list__order--mobile {
    display: none;
}

.developer__list__order__title {
    color: #B4BAC2;
    font-weight: 600;
    margin-right: 20px;
    white-space: nowrap
}

.developer__list__order--desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.developer__list__order__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px 0;
    max-width: 920px
}


.developer__list__page__top .title_x {
    margin-bottom: 5px;
}

.developer__list__page__top {
    margin-bottom: 10px;
}


.developer_x__page__item__inner {
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 15px;
}
.developer_x__page__item__inner .card__btn_y {
    z-index: 3;
}

.developer_x__page__btn__share {
    position: absolute;
    right: 37px;
    top: 15px;
    z-index: 2;
    display: flex;
}

.developer_x__page__item__inner {
    position: relative;
}

.developer_x__page__item {
    margin-bottom: 10px;
}

.developer_x__page__item__image:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: #1D1D1D;
    opacity: 0.6;
}

.developer_x__page__btn__share a {
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(7px);
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 3.5px;
    border: none;
}

.developer_x__page__item__top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    padding: 60px 40px 30px;
    position: relative;
}

.developer_x__page__item__image {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.developer_x__page__item__image__wrap {
    position: relative;
}

.developer_x__page__item__content {
    position: relative;
    background: #fff;
    margin-top: -10px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 40px;
    gap: 50px;
}

.developer_x__page__btn__share a:hover path {
    fill: #008aff
}

a.developer_x__page__btn__share__link--link:hover path {
    stroke: #008aff;
    fill: transparent
}

.developer_x__page__btn__share a path {
    transition: 0.25s ease-in-out
}


.developer_x__page__item__title {
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
}

.developer_x__page__item__info {
    gap: 20px;
    display: flex;
    align-items: center;
}

.developer_x__page__item__logo {
    width: 187px;
    height: 120px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 15px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.developer_x__page__item__add_info {
    display: flex;
    gap: 36px;
}

.developer_x__page__item__add_info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 28px 0 14px;
    min-width: 110px;
}

.developer_x__page__item__add_info__item_value {
    font-weight: 700;
}

.developer_x__page__item__add_info__item:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #fff;
    right: -7px;
}

.developer_x__page__item__add_info__item:last-child:after {
    display: none;
}

.developer_x__page__item__add_info__item_title {
    margin-bottom: 5px;
}

.developer_x__page__item__content__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 65px;
    padding-top: 4px;
}

.developer_x__page__item__call {
    display: flex;
    gap: 10px;
}

.btn_developer_x {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    padding: 14px 14px;
    gap: 8px;
    min-width: 86px;
    justify-content: center;
}

.btn_developer_x__icon {
    font-size: 0;
}

.developer_x__page__item__content__item__value {
    font-weight: 700;
}

.developer_x__page__item__content__item:after {
    content: "";
    width: 1px;
    background: #e3ecf8;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -31.5px;
}

.developer_x__page__item__content__item {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.developer_x__page__item__content__item:last-child:after {
    display: none;
}

.developer_x__page__item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .developer_x__page__item__logo {
        width: 120px;
        height: 64px;
        padding: 16px;
        border-radius: 6px;
    }

    .developer_x__page__item__title {
        font-size: 25px;
    }

    .developer_x__page__item__add_info__item {
        padding: 10px 0 10px;
        font-size: 14px;
    }

    .developer_x__page__item__top {
        padding: 85px 40px 30px;
    }

    .btn_developer_x__text {
        font-size: 14px;
    }

    .developer_x__page__item__content__list {
        font-size: 15px;
        gap: 25px 55px;
    }
}

@media screen and (max-width: 1100px) {

    .developer__list__page__top .container__inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

@media screen and (max-width: 900px) {


    .developer__list__order__list {
        font-size: 14px;
    }

    .developer__list__order__title {
        font-size: 14px;
    }



    .developer_x__page__item__logo {
        width: 90px;
        height: 50px;
        padding: 14px;
        border-radius: 6px;
    }

    .developer_x__page__item__title {
        font-size: 22px;
    }

    .developer_x__page__item__content {
        flex-direction: column;
        gap: 30px;
    }

    .developer_x__page__item__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .developer_x__page__item__add_info__item {
        flex-direction: row;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #E3ECF8;
        padding: 12px 0;
        gap: 7px;
        font-size: 16px;
    }

    .developer_x__page__item__add_info__item:after {
        display: none;
    }

    .developer_x__page__item__add_info {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .developer_x__page__item__add_info__item:last-child {
        border: none;
    }
}


@media screen and (max-width: 750px) {
    .developer__list__order--desktop {
        display: none;
    }

    .developer__list__order--mobile {
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        z-index: 5;
    }

    .developer__list__page__top .container__inner {
        position: relative;
        padding: 39px 20px;
        gap: 0;
    }

    .modal_developer__list__order__mobile {
        position: absolute;
    }

    .developer__list__order__view {
        background: #FFFFFF;
        border: 1px solid #E3ECF8;
        border-radius: 8.75px;
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        padding: 12px 18px;
        gap: 8px;
        transition: 0.25s ease-in-out;
    }

    .developer__list__order__view svg {
        transition: 0.25s ease-in-out;
    }

    .developer__list__order__view path {
        transition: 0.25s ease-in-out;
    }

    .active.developer__list__order__mobile .developer__list__order__view:hover {
        border-color: #1864CE;
        color: #1864CE;
    }

    .developer__list__order__view:hover path {
        fill: #1864CE;
    }

    .developer__list__order__mobile.active .developer__list__order__view svg {
        transform: rotate(180deg) translate(-5px, -3px);
    }

    .developer__list__order__mobile.active .modal_developer__list__order__mobile {
        opacity: 1;
        transform: translate(0, 10px);
        visibility: visible;
        pointer-events: all;
    }

    .modal_developer__list__order__mobile {
        opacity: 0;
        transform: translate(0, 0px);
        visibility: hidden;
        pointer-events: none;
        border: 1px solid #1864CE;
        box-shadow: 0px 4px 10px rgba(32, 55, 88, 0.15);
        border-radius: 15px;
        padding: 15px;
        background: #fff;
        width: calc(100vw - 40px);
        right: 0;
        transition: 0.25s ease-in-out;
        z-index: 10;
    }

    .modal_developer__list__order__mobile ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .modal_developer__list__order__mobile a {
        text-decoration: none;
        font-weight: 500;
        padding: 5px 15px;
        display: flex;
        border-radius: 6px;
    }

    .modal_developer__list__order__mobile a:hover {
        background: #F2F5FB;
        color: #1864CE;
    }

    .developer__list__order__view:hover {
        border-color: #1864CE;
        color: #1864CE;
    }

    .modal_developer__list__order__mobile a.active {
        background: #F2F5FB;
        color: #1864CE;
    }


    .developer_x__page__item__top {
        padding: 50px 20px 25px;
        gap: 10px;
    }

    .developer_x__page__item__info {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }

    .developer_x__page__item__content {
        padding: 25px 20px;
    }

    .developer_x__page__item__content__list {
        order: 2;
        justify-content: center;
        gap: 22px 0;
    }

    .btn_developer_x__text {
        display: none;
    }

    .btn_developer_x {
        width: 40px;
        padding: 0;
        height: 40px;
        border-radius: 50%;
        min-width: 0;
    }

    .developer_x__page__item__call {
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .developer_x__page__item__content__item {
        width: 50%;
        border-right: 1px solid #e3ecf8;
        padding: 7px 5px;
    }

    .developer_x__page__item__content__item:after {
        width: 100%;
        height: 1px;
        top: calc(100% + 10px);
        left: 0;
        right: 0;
    }

    .developer_x__page__item__content__item:nth-last-child(-n + 2):after {
        display: none;
    }

    .developer_x__page__item__content__item:nth-child(2n) {
        border: none;
    }
}

@media screen and (max-width: 550px) {
.developer_x__page__item__content .developer_x__page__item__call {
    justify-content: space-evenly;
}
}