.header_main .container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header__menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    gap: 30.5px;
    padding-right: 15px;
    padding-left: 100px;
    margin-top: 1px;
}

.header__currency {
    position: relative;
}

.loaded .header__currency__view {
    transition: 0.25s ease-in-out;
}

.header__currency__view {
    font-size: 14px;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    cursor: pointer;
    border: 1px solid #CED6E0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    border-radius: 50px;
    height: 42px;

}

.header__location svg {
    margin-right: 7px;
}

.header__menu a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 500px;
    gap: 6.5px;
}

.loaded .header__info__lang__list {
    transition: 0.25s ease-in-out;
}

.header__info__lang__list {
    position: absolute;
    visibility: hidden;
    top: calc(100% + 10px);
    left: 50%;
    transform: translate(-50%, 10px);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px -10px #203758;
    padding: 12px 15px;
    font-size: 14px;
    min-width: 125px;
    opacity: 0;
}

.header__info__inner {
    display: flex;
    align-items: center;
    margin: 0 80px;
    gap: 21px;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.header__logo__small {
    margin-right: 11px;
}

.header_main {
    padding: 0;
    margin: 10px 0;
}

.header__logo__text {
    margin-top: 4px;
}

.header__menu {
    flex: 1;
}

.header__myaccount__link {
    background: #FFFFFF;
    border: 1px solid #203758;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.btn__header_favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.header__info__btn {
    background: #FFFFFF;
    border: 1px solid #203758;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}

.header__info__country img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}


.header__info__lang {
    position: relative;
    cursor: pointer;
}

.loaded .header__info__lang {
    transition: 0.25s ease-in-out;
}

.header__info__lang:hover .header__info__lang__list {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0px);
}

.header__info__lang__list ul {
    list-style: none;
    gap: 7px;
    display: flex;
    flex-direction: column;
}

.header__info__lang__list a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.header__info__lang__list:before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    background: transparent;
    height: 10px;
}

.loaded .header__info__lang__view {
    transition: 0.25s ease-in-out;
}

.header__info__lang__list a:hover {
    color: #2F80ED;
}

.header__myaccount__link:hover {
    border-color: #2F80ED;
}

.header__myaccount__link:hover path {
    fill: #2F80ED;
}

.header__myaccount__link path {
    transition: 0.25s;
}

.header__info__add:hover {
    border-color: #2F80ED;
}

.header__info__add:hover path {
    fill: #2F80ED;
}

.header__info__add path {
    transition: 0.25s;
}

.header__info__country:hover {
    border-color: #2F80ED;
}

.btn__header_favorite path {
    transition: 0.25s;
}

.btn__header_favorite:hover path {
    fill: #2f80ed;
}

.header__menu a:hover {
    color: #008AFF;
}

.header_main .container__inner {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__sub__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: translate(0, 10px);
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    top: calc(100% + 8px);
    transition-delay: 0.25s;
    left: 0;
    font-size: 15px;
}


.loaded .header__sub__list {
    transition: 0.25s ease-in-out;
}


.header__location {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: #1864ce;
    padding: 10px;
    margin-right: 5px;
    position: relative;
}

.header__settings {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    border-radius: 50px;
    height: 42px;
    padding-top: 3px;
    padding-bottom: 1.5px;
}

.header__settings:hover {
    border-color: #008aff;
}

.header__settings:hover path {
    fill: #008aff;
}

.header__settings path {
    transition: .25s ease-in-out;
}

.header__add__property {
    font-weight: 500;
    border: none;
    border-radius: 110px;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    background: #1864CE;
    color: #fff;
}

.header__add__property svg {
    margin-right: 10px;
}

.header__favorite {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    border-radius: 50px;
    height: 42px;
    padding-top: 3px;
}
.header__favorite svg{width: 21px;height: auto;}
.header__settings svg{width: 19px;height: auto;}

.header__lang__view {
    border: 1px solid #CED6E0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    border-radius: 50px;
    height: 42px;
}

.header__lang__view {
    text-transform: uppercase;
    transition: 0.25s;
    cursor: pointer;
}


.loaded .header__lang__view {
    transition: 0.25s ease-in-out;
}


.home__top {
    text-align: center;
    margin-bottom: 10px;
}

.home__top__title {
    font-size: 49px;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
}

.home__top__addtitle {
    font-size: 16px;
    margin-top: 14px;
}

.header__add__property:hover {
    background: #008AFF;
    color: #fff;
}

.header__add__property path {
    fill: #fff;
}

.header__add__property path {
    transition: 0.25s;
}

.header__location:hover path {
    fill: #008AFF;
}

.header__location path {
    transition: 0.25s;
    fill: #1864CE;
}

.header__currency__view:hover {
    color: #008AFF;
    border-color: #008AFF;
}

.header__lang__view:hover {
    border-color: #008AFF;
    color: #008AFF;
}

.header__favorite:hover {
    border-color: #008AFF;
}

.header__favorite:hover path {
    fill: #008AFF;
}

.header__favorite path {
    transition: 0.25s;
}

.header__currency:hover .header__currency__list {
    opacity: 1;
    visibility: visible;
    z-index: 11;
    transform: translate(0, 0);
    transition-delay: 0s;
}

.header__sub__list ul {
    list-style: none;
}

.header__currency__list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.header__currency__list {
    border: 1px solid #CED6E0;
    border-radius: 8px;
    padding: 3px 0px;
    left: -5px;
    z-index: 11;
    min-width: 115px;
}

.header__currency__list a {
    font-size: 15px;
    color: inherit;
    text-decoration: none;
    padding: 8px 18px;
    display: flex;
    line-height: 1;
    white-space: nowrap;
}

.header__currency__list a:hover {
    color: #008AFF;
}


.header__sub__list:before {
    content: '';
    width: 100%;
    height: 8px;
    background: transparent;
    position: absolute;
    top: -8px;
    opacity: 0;
}

.header__lang:hover .header__sub__list {
    opacity: 1;
    visibility: visible;
    z-index: 11;
    transform: translate(0, 0);
    transition-delay: 0s;
}

.header__lang {
    position: relative;
}

.header__lang__view__list {
    border: 1px solid #CED6E0;
    border-radius: 8px;
    padding: 9px 13px;
}

.header__lang__view__list ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.header__lang__view__list a {
    text-decoration: none;
    min-width: 90px;
    display: block;
}

.header__lang__view__list a:hover {
    color: #008AFF;
}

a {
    color: inherit;
}

a:hover {
    color: #008AFF;
}

.container__inner {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 0 40px;
}

.main_footer__bottom__text {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
}

.main_footer__menu__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.main_footer__menu__list ul {
    list-style: none;
}

.main_footer__menu__btn {
    display: none;
    position: absolute;
    right: -4px;
    top: 17px;
    background: transparent;
    border: none;
    font-size: 0;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
}

.loaded .main_footer__menu__btn {
    transition: 0.25s ease-in-out;
}


.main_footer__menu__col {
    position: relative;
    flex: 1;
}

.main_footer__menu__list a {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}

.footer_quick__link__list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    color: inherit;
    display: flex;
    padding: 29px 39px;
    text-align: center;
    margin: 0 9.25px;
    position: relative;
    min-width: 78px;
}

.main_footer__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 19px;
}

.main_footer__top__menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.main_footer__top__menu a {
    color: inherit;
}

.footer_quick__link__list {
    display: flex;
    margin: 0 -9px;
    flex-wrap: wrap;
}

.footer_quick__link {
    margin: 10px 0;
}

.footer_quick__link__list a:after {
    width: 1px;
    height: 30px;
    position: absolute;
    right: -11px;
    background: #CED6E0;
    top: 50%;
    content: '';
    transform: translate(0, -50%);
}

.footer_quick__link__list a:last-child:after {
    display: none;
}

.main_footer__top {
    padding-top: 63px;
    padding-bottom: 38px;
    border-bottom: 1px solid #CED6E0;
    margin-bottom: 38px;
}

.main_footer__top__menu li {
    width: calc(100% / 3);
    margin-bottom: 15px;
}

.main_footer__top__menu {
    max-width: 880px;
    margin-bottom: -15px;
}

.main_footer__menu__list li {
    margin-bottom: 10px;
}

.main_footer__menu__title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}

.main_footer__menu__list li:last-child {
    margin-bottom: 0;
}

.main_footer__menus {
    padding-bottom: 35px;
    border-bottom: 1px solid #CED6E0;
    margin-bottom: 43px;
    padding-top: 32px;
}

.main_footer__bottom {
    padding-bottom: 30px;
}
.main_footer__bottom__links {
    border-top: 1px solid #ced6e0;
    padding: 18px 0;
    font-size: 14px;
    display: flex;
    gap: 15px 40px;
    padding-bottom: 38px;
    flex-wrap: wrap;
}

.main_footer__bottom__links a {
    text-decoration: none;
}
.main_footer {
    margin-bottom: 20px;
}

.main_footer__menu__list a:hover,
.footer_quick__link__list a:hover,
.main_footer__top__menu a:hover {
    color: #008AFF;
    text-decoration: none
}

.main_footer__menu__col.active .main_footer__menu__btn {
    transform: rotate(180deg);
}


.header__btn_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: 0 0;
    border: none;
    appearance: none;
    border-radius: 0;
    margin-right: -2.5px
}


.header__btn_menu span {
    background: #203758;
    width: 80%;
    height: 2.5px;
    position: absolute;
    border-radius: 10px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: .5s
}

.header__btn_menu span:nth-child(1) {
    transform: translate(0, -8px);
}


.header__btn_menu span:nth-child(2) {
    transform: translate(0, 0)
}

.header__btn_menu span:nth-child(3) {
    transform: translate(0, 8px);
}


.header__btn_menu.active span:nth-child(1) {
    transform: translate(0, 0) rotate(45deg)
}

.header__btn_menu.active span:nth-child(2) {
    opacity: 0
}

.header__btn_menu.active span:nth-child(3) {
    transform: translate(0, 0) rotate(-45deg)
}


.modal__menu {
    position: fixed;
    top: 100px;
    height: calc(100% - 110px);
    left: 20px;
    right: 20px;
    background: #fff;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    transform: translate(-100%, 0);
    border-radius: 15px;
}


.loaded .modal__menu {
    transition: 0.25s ease-in-out;
}


.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu.active {
    opacity: 1;
    pointer-events: all;
    z-index: 10;
    transform: translate(00%, 0);
}

.modal__menu__list {
    list-style: none;
}

.modal_overlay_menu {
    position: fixed;
    top: 110px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.loaded .modal_overlay_menu {
    transition: 0.25s ease-in-out;
}

.modal_overlay_menu.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9;
}

.modal__menu__inner {
    padding: 5px 20px 25px;
}

.modal__menu__list a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #CED6E0;
    padding: 16px 0;
    font-weight: 600;
    font-size: 14px;
}


body.body-lock {
    position: fixed;
    width: 100%;
}

.home__top .container__inner {
    padding: 85px 40px 83px;
}


.home__developer {
    margin-bottom: 10px;
}

.title_x2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 34px;
}

.home__developer__text {
    max-width: 600px;
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
}

.home__developer__info {
    padding: 60px 0 26px;
    position: relative;
    padding-right: 200px;
}

.btn_x {
    font-weight: 500;
    font-size: 16px;
    padding: 13px 19px;
    border: 1px solid #cdd6e0;
    border-radius: 10px;
    display: inline-flex;
    background: transparent;
}

.btn_developer__text {
    position: absolute;
    right: 11px;
    top: 126px;
}

.devaloper__slide_item {
    padding: 0 10px;
    position: relative;
}

.home__devaloper__list {
    margin: 0 -10px;
    padding-bottom: 55px;
}

.slick-arrow.slick-disabled {
    opacity: 0;
    pointer-events: none;
}

.devaloper__slide_item:hover .card__btn_y {
    opacity: 1;
    top: 5px;
}

.devaloper__slide_item .card__btn_y {
    opacity: 0;
    transition: 0.25s;
    z-index: 2;
}

.devaloper__slide_item .card__btn_y button {
    margin: 0;
    width: 35px;
    height: 36px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    color: #fff;
    background: rgba(255, 255, 255, 0.6);
    width: 44px;
    height: 44px;
    font-size: 0;
    border-radius: 50%;
    transform: translate(0, -50%);
    backdrop-filter: blur(7px);
    appearance: none;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 2;
    border: 1px solid #ccd6e0;
    background-size: 22%;
}

.loaded .slick-arrow {
    transition: 0.25s ease-in-out;
}

.devaloper__slide_item__title {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 26px;
    font-size: 14px;
    opacity: 0;
    transform: translate(0, 4px);
}

.loaded .devaloper__slide_item__title {
    transition: 0.25s ease-in-out;
}


.devaloper__slide_item__inner {
    position: relative;
}

.devaloper__slide_item__image img {
    width: 65%;
    height: 65%;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slick-prev {
    left: -18px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1L2 9L10 17' stroke='%23203D58' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-position: 43%;
}

.slick-next {
    background-position: 53%;
    right: -18px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17L9 9L1 1' stroke='%23203D58' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.devaloper__slide_item__image {
    padding-top: 81.25%;
    border-radius: 10px;
}

.loaded .devaloper__slide_item__image {
    transition: 0.25s ease-in-out;
}

.devaloper__slide_item:hover .devaloper__slide_item__image {
    box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
}

.devaloper__slide_item:hover .devaloper__slide_item__title {
    opacity: 1;
    transform: translate(0, 0);
}

.slick-arrow:hover {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
}

.home__devaloper__list .slick-arrow {
    top: 35%;
}

.btn_x:hover {
    border-color: #008AFF;
}

.page_wrap {
    overflow: hidden;
}



.bottom__fixmenu {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 10;
    right: 0;
    left: 0;
    background: #fff;
    border-top: 1px solid #f3f5fb;
}

.bottom__fixmenu .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.bottom__fixmenu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    padding: 17px 0;
}

.bottom__fixmenu__item__icon {
    font-size: 0;
    margin-bottom: 4px;
}

.bottom__fixmenu__item__text {
    font-size: 12px;
}

.bottom__fixmenu__item:hover {
    background: #2f80ed;
    color: #fff;
}

.bottom__fixmenu__item:hover svg {
    filter: brightness(100);
}

.bottom__fixmenu__item svg {
    transition: 0.25s;
}

.home__new_property .container__inner {
    padding: 0px 40px;
}

.select_custom__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.select_custom {
    position: relative;
}

.home__new_property__row {
    display: flex;
    align-items: flex-start;
}

.home__new_property__select__view {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #203D58;
    padding-right: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
    white-space: nowrap;
    cursor: pointer;
}

.select_custom__view.home__new_property__select__view:after {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.643186 1.0737C0.848888 0.837458 1.19629 0.822726 1.41914 1.0408L4.61596 4.16914L7.81278 1.0408C8.03562 0.822726 8.38303 0.837458 8.58873 1.0737C8.79443 1.30995 8.78054 1.67824 8.55769 1.89631L4.61596 5.75361L0.674224 1.89631C0.45138 1.67824 0.437484 1.30995 0.643186 1.0737Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    content: '';
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
    top: 50%;
    transform: translate(0, -50%);
    right: 16px;
}

.property__card__image__item__inner {
    height: 305px;
    position: relative;
}

.property__card__image__item__inner img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 14px 14px 0 0
}

.property__card {
    padding: 20px 10px 20px;
    width: calc(100% / 4 - 20px);
    min-width: 326px;
    text-decoration: none;
}

.home__new_property__info {
    margin-bottom: 13px;
    padding-top: 79px;
}

.property__list {
    flex-wrap: wrap;
    margin: 0 -10px;
    display: flex;
    gap: 10px;
    padding-bottom: 60px;
}

.card__btn_y {
    position: absolute;
    top: 10px;
    right: 12.5px;
    display: flex;
}

.card__btn_y button {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 3.5px;
    border: none;
}

.home__new_property {
    margin-bottom: 10px;
}

.card__btn_y .card__btn_y--favorite:hover path {
    stroke: #008AFF;
}

.card__btn_y button.favorited path {
    fill: #F47474;
    stroke: transparent;
}

.card__btn_y button.favorited:hover path {
    stroke: transparent;
}

.property__card__inner {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    width: 305px;
}

.loaded .property__card__inner {
    transition: 0.25s ease-in-out;
}


.filter_x_btn__text {
    display: none;
}

.property__card__inner:hover {
    transform: scale(1.035);
    z-index: 2;
}

.point_i__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1;
    padding: 14px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100px;
    font-weight: 400;
}
.point_i__item.active:hover {
    border-color: transparent;
    color: #1864CE;
}

.point_i__item.active {
    pointer-events: none;
}

.home__new_property__select {
    margin-top: 10px;
    margin-right: 3px;
    width: 140px;
}

.point_i__item.active {
    background: #F2F5FB;
    border-color: transparent;
    color: #2F80ED;
}

.point_i__item:hover {
    color: #008AFF;
    border-color: #008AFF;
}

.property__card__info {
    padding: 13px 15px;
}

.property__card__object a {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
}



.property__card__adress {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 14px;
    margin-bottom: 15px;
}

.property__card__adress__text {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #2F80ED;
    margin-left: 7px;
    margin-bottom: -1px;
}

.property__card__adress svg {
    position: absolute;
    left: 0;
    top: 0px;
}

.property__card__object {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
}

.loaded .property__card__object {
    transition: 0.25s ease-in-out;
}

.property__card__develop {
    padding: 15px 0;
    margin: 0 15px;
    border-top: 1px solid #E3ECF8;
    font-weight: 400;
    font-size: 14px;
}

.property__card__price__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #B4BAC2;
    margin-right: 3px;
}

span.property__card__price__value {
    font-weight: 700;
    font-size: 16px;
}

.property__card__info__type {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    padding-right: 50%;
    margin-bottom: 9px;
}

.property__card__info__top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E3ECF8;
    padding-bottom: 15px;
    margin-bottom: 11px;
    align-items: center;
}

.property__card__info__price {
    position: absolute;
    right: 0;
    top: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
}

.property__card__info__size {
    font-size: 12px;
    width: 50%;
}

.property__card__info__size b {
    font-size: 14px;
}

.property__card__info__char {
    width: 50%;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 9px;
}

.property__card__adress:last-child {
    margin-bottom: 0;
}

.property__card__info__char__item {
    font-size: inherit;
    display: flex;
    align-items: flex-end;
}

.property__card__info__char__item b {
    font-size: 14px;
    margin-left: 2px;
    line-height: 1.3;
}



.slick-dots-container {
    width: 70px;
    overflow: hidden;
    display: block;
    padding: 6px 0;
    position: relative;
    margin: 0 auto;
    white-space: nowrap;
}

.slick-dots-container>ul {
    padding: 0;
    display: flex;
    position: relative;
    margin: 0;
    list-style: none;
    transform: translateX(0);
    align-items: center;
    bottom: unset;
    font-size: 0;
}

.loaded .slick-dots-container>ul {
    transition: 0.25s ease-in-out;
}

.slick-dots-container>ul li {
    border: none;
    border-radius: 50%;
    margin: 0 4px;
}


.slick-dots-container>ul li.p-small-1,
.slick-dots-container>ul li.n-small-1 {
    transform: scale(0.6);
    opacity: 0.8;
}

.slick-dots-container>ul li.slick-active {
    transform: scale(1);
    transform-origin: center;
}


.slick-dots button {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    background: rgba(0, 138, 255, 0.3);
}

.loaded .slick-dots button {
    transition: 0.25s ease-in-out;
}

.slick-dots .slick-active button {
    box-shadow: 0 0 0 3px rgb(0 138 255 / 20%);
    background: #1864CE;
}


.property__card__image_list .slick-dots-container {
    bottom: 20px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
}

.home__new_property__info__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

.home__property__block {
    margin-bottom: 0;
}

.home__property__block:last-child {
    margin-bottom: 0;
}

.home__new_project {
    margin-bottom: 10px;
    position: relative;
}

.point_i__list {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap:wrap;
}

.home__property__block+.home__property__block {
    margin-top: -38px;
}

.default_modal {
    display: none;
}

.card__btn_y path {
    transition: 0.25s;
}

.card__btn_y button:hover path {
    stroke: #008AFF;
}

.btn_all__home {
    position: absolute;
    right: 40px;
    top: 60px;
}

.home__new_project .container__inner {
    position: relative;
}

.home__developer .container__inner {
    position: relative;
}

.home__new_property .container__inner {
    position: relative;
}

.filter_x_top.filter_x_top--2 {
    padding: 25px;
    margin: 0;
}

.home__type {
    margin-bottom: 10px;
}

.home__type__section {
    display: none;
}

.home__type__section.active {
    display: block;
}

.property__card__info__price em {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 0.5px;
}

.property__card:hover {
    color: inherit;
}

.property__card__object:hover {
    color: #2f80ed;
}

._hide_ {
    display: none;
}
.home__slogan--mobile{display: none;}

@import "media";
