.page__content--agent_card {
    padding: 10px 0;
}

.agent__info__list.agent__info__list--agent_card {
    margin-bottom: 30px;
    padding-top: 19px;
}

.agent__info__list.agent__info__list--agent_card .agent__info__list__item {
    margin-bottom: 16px;
}

.agent__info__list__item__value__link__wrap a {
    text-decoration: none;
    position: relative;
}

.agent__info__list__item__value__link__wrap {
    display: flex;
    gap: 15px;
}

.agent__info__list__item__value__link__wrap a:after {
    display: block;
    content: '';
    width: 2px;
    height: 14px;
    position: absolute;
    background: #B4BAC2;
    right: -8px;
    top: 50%;
    transform: translate(0, -50%);
}

.agent__info__list__item__value__link__wrap a:last-child:after {
    display: none;
}

.agent__social_link {
    padding: 0;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.page__content--agent_card .agent__info {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agent__developer__bottom__info__title {
    margin-right: 10px;
    color: #B4BAC2;
}

.agent__developer__bottom__info__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.agent__developer__bottom__info__link a {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
}

.agent__developer__bottom {
    border-top: 1px solid #E3ECF8;
    margin-top: -16px;
    padding-top: 21px;
    display: flex;
    align-items: center;
    gap: 31px;
}

.agent__developer__bottom__info {
    display: flex;
    align-items: center;
    gap: 21px;
    flex-wrap: wrap;
}

.agent__developer__bottom__social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.btn_add_to_contact {
    display: none;
}

@media screen and (max-width: 900px) {
    .agent__developer__info__wrap {
        flex-direction: column;
    }
    .agent__developer__bottom {
        margin-top: 15px;
        padding-top: 20px;
        flex-wrap: wrap;
        gap: 15px;
    }

    .agent__developer__bottom__info {
        width: 100%;
    }

    .page__content.page__content--agent_card {
        max-width: 600px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 750px) {
    .agent_card{padding-bottom: 0;}
    }


@media screen and (max-width: 600px) {
    .agent__developer__bottom__social {
        width: 100%;
        justify-content: space-evenly;
    }
    .page__content.page__content--agent_card {
        padding-bottom: 80px;
    }

    .btn_add_to_contact {
        display: flex;
        width: calc(100% - 30px);
        position: fixed;
        right: 0;
        left: 0;
        bottom: 15px;
        margin: auto;
        justify-content: center;
        color: #fff;
        padding: 13px;
        z-index: 5;
        gap: 15px;
        align-items: center;
        max-width: 400px;
    }

    .agent__info__contact.agent__social {
        padding-left: 0;
        justify-content: space-around;
    }

    .agent__info__list.agent__info__list--agent_card {
        margin-bottom: 25px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .agent__info__list__item__value__link__wrap {
        flex-direction: column;
        gap: 3px;
    }

    .agent__info__list__item__value__link__wrap a:after {
        display: none;
    }

    .agent__info__list.agent__info__list--agent_card .agent__info__list__item {
        font-size: 15px;
        gap: 15px;
    }

    .agent__info__list.agent__info__list--agent_card .agent__info__list__item__value {
        text-align: right;
        width: calc(100% - 90px);
    }

    .agent__developer__bottom__info {
        gap: 10px;
    }

    .agent__developer__bottom {
        gap: 20px;
        font-size: 14px;
    }

    .agent__info__list.agent__info__list--agent_card .agent__info__list__item__title {
        width: 75px;
    }
}
