.object__promo__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.object__promo__slider__wrap {
    flex: 1;
    border-radius: 15px;
    font-size: 0;
}

.object__promo__slide__inner img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px
}

.container__inner--transparent {
    background: transparent;
}

.container__inner--zero {
    padding: 0;
}

.object__promo__slider .slick-dots {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}




.object__promo__slider__wrap .slick-prev {
    bottom: 14px;
    transform: none;
    right: 78px;
    top: auto;
    left: auto;
}

.object__promo__slider__wrap .slick-next {
    bottom: 14px;
    transform: none;
    right: 20px;
    top: auto;
    left: auto;
}

.object__promo__slider__wrap {
    position: relative;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.object__promo__slider__wrap .card__btn_y {
    z-index: 2;
    top: 22px;
    right: 16px;
}

.object__promo__slider_col_2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.object__promo__slider_col_2__2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.object__promo__slider_col_2__2__item {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    width: calc(100% / 2 - 5px);
}

.object__promo__slider_col_2__2__item__inner {
    font-size: 0;
    padding-top: 78%;
}

.object__promo__slider_col_2__2__item__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.object__promo__slider_col_2__2__item--3d__text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
    font-weight: 600;
    transition: 0.35s;
    font-size: 20px;
}

.object__promo__develoop {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 42px 43px;
    padding-right: 20px;
}

.object__promo__develoop__logo {
    box-shadow: 0px 1px 10px rgba(32, 55, 88, 0.11);
    border-radius: 7px;
    width: 70px;
    height: 41px;
    padding: 10px;
}

.object__promo__develoop__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.object__promo__develoop__top {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 7px;
}

.object__promo__develoop__info__title_x {
    color: #B4BAC2;
    margin-bottom: 7px;
    line-height: 1;
}

.object__promo__develoop__info__title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
}

.object__promo__develoop__info {
    width: calc(100% - 96px);
}

.object__promo__develoop__info_x__item {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    position: relative;
}

.object__promo__develoop__info_x__item__value {
    font-weight: bold;
}

.object__promo__develoop__info_x__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 7px 20px;
    margin-bottom: 9px;
}

.object__promo__develoop__info_x__item__add_link {
    font-weight: 400;
    color: #1864CE;
}

.object__promo {
    margin-bottom: 10px;
    position: relative;

}

.object__promo__slider__wrap {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.object__promo__slide:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}

.object__promo__slide__inner img {
    transition: 0.35s ease-in-out;
}

.object__promo__slider_col_2__2__item--video:before {
    background: #1864CE;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}

.object__promo__slider_col_2__2__item--video img {
    opacity: 0.9;
}

.object__promo__slider_col_2__2__item img {
    transition: 0.35s ease-in-out;
}

.object__promo__slider_col_2__2__item:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}

.object__promo__slider_col_2__2__item--video:after {
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='50' viewBox='0 0 51 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_1179_11931)'%3E%3Crect width='50.6678' height='50' rx='25' fill='white' fill-opacity='0.6'/%3E%3Cpath d='M35.0134 23.8666C35.8859 24.3703 35.8859 25.6297 35.0134 26.1334L19.9631 34.8227C19.0906 35.3264 18 34.6968 18 33.6893L18 16.3107C18 15.3032 19.0906 14.6736 19.9631 15.1773L35.0134 23.8666Z' fill='%231864CE'/%3E%3Crect x='0.5' y='0.5' width='49.6678' height='49' rx='24.5' stroke='%231864CE'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_1179_11931' x='-14' y='-14' width='78.668' height='78' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='7'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_1179_11931'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_1179_11931' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    z-index: 2;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50px;
    transition: 0.35s;
}

.object__promo__slider_col_2__2__item--video:hover:after {
    opacity: 0.9;
    transform: scale(1.1);
}

.object__promo__slider_col_2__2__item--3d:before {
    background: #1864CE;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}

.object__promo__slider_col_2__2__item--3d:hover .object__promo__slider_col_2__2__item--3d__text {
    opacity: 0.5;
}

.object__promo__develoop__info_x__item__add_link:hover {
    text-decoration: none;
}

.object__promo__develoop__info_x__item:after {
    background: #E3ECF8;
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    right: -10px;
    top: 15%;
}

.object__promo__develoop__info_x__item:nth-child(2n):after {
    display: none;
}

.object__promo__slide__inner img {
    height: 100%;
    min-height: 450px;
}

.object__promo__slide__inner {
    height: 100%;
    position: relative;
}

.object__promo__slider {
    height: 100%;
}

.object__promo__slider .slick-list {
    height: 100%;
}

.object__promo__slider .slick-track {
    height: 100%;
}

.object__promo__slider .slick-slide {
    height: 100%;
}

.object__promo__slider .slick-slide>div {
    height: 100%;
}

.object__promo__slide {
    height: 100%;
}



.object_amenities .container__inner {
    padding: 37px 40px;
}

.object_amenities__item__title {
    color: #B4BAC2;
    margin-bottom: 10px;
    line-height: 1.2;
}

.object_amenities__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
}

.object_amenities__item {
    width: calc(100% / 2 - 25px);
}

.object_amenities__item__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.object_amenities__item__list span {
    background: #E3ECF8;
    border-radius: 6px;
    color: #203D58;
    font-weight: 500;
    font-size: 15px;
    padding: 7px 13px;
    line-height: 1.2;
}

.object_map_x {
    height: 560px;
}

.object_map_x>div {
    width: 100%;
    height: 100%;
}

.object_map__inner {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.object_map {
    margin-top: 10px;
}

.object_map .container__inner {
    padding: 0;
}

.object_map__points {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.object_map__points__list::-webkit-scrollbar {
    display: none;
}

.object_map__points__list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.object_map__points__list {
    overflow: scroll;
    padding: 0 12px;
    font-size: 0;
    white-space: nowrap;
    display: flex;
}

.object_map__point__item {
    display: inline-flex;
    align-items: center;
    margin: 0 2.5px;
    font-weight: 500;
    gap: 10px;
    font-size: 16px;
    border: 1px solid #E2E8EF;
    border-radius: 100px;
    background: #fff;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.25s;
}


.object_map__point__item__icon {
    font-size: 0;
}

.object_map__point__item:hover{color:#008AFF}
.object_map__point__item  path{transition:0.25s}
.object_map__point__item:hover  path{fill:#008AFF}

.object_map__point__item.active {
    color: #1864CE;
}

.object_map__point__item.active path {
    fill: #1864CE;
}

.object_map__point__item.active:hover {
    opacity: 1;
}


.object_info__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.object_info__price {
    position: absolute;
    right: 0;
    bottom: 73px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.object_info__inner {
    position: relative;
    padding: 40px 0;
    padding-right: 380px;
}

.object_info__price__value {
    font-weight: 600;
    font-size: 28px;
}

.object_info__price__title {
    color: #B4BAC2;
    margin-bottom: -5px;
}

.adress_x__text {
    color: #1864CE;
    font-weight: 500;
}

.adress_x {
    display: flex;
    align-items: center;
    gap: 4px;
}

.adress_x__view {
    font-size: 0;
    margin-bottom: -1px;
}

.object_info__char__item__name {
    color: #B4BAC2;
}

.object_info__char__item__value {
    font-weight: 500;
}

.object_info__char__item {
    display: flex;
    gap: 16px;
    width: calc(100% / 4 - 30px);
}

.object_info__char {
    display: flex;
    gap: 8px 6px;
    flex-wrap: wrap;
    max-width: 840px;
}

.object_info__adress {
    margin-bottom: 30px;
}

.object_amenities {
    margin-top: 10px;
}

.object_info__char {
    max-width: 840px;
}

.object__info__call {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    max-width: 365px;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.object_floor_plan {
    margin-top: 10px;
}

.btn_call_x__icon {
    font-size: 0;
}


.object_floor_plan__item {
    padding: 0 45px;
    position: relative;
}

.object_floor_plan__list {
    margin: 0 -45px;
}

.object_floor_plan__inner {
    padding: 40px 0 55px;
}

.object_floor_plan__title {
    margin-bottom: 35px;
}

.object_floor_plan__item__x__zoom {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 60px;
    font-size: 0;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #1864CE;
    backdrop-filter: blur(7px);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.25s;
}

.object_floor_plan__item__x__zoom:hover {
    background: #1864CE;
}

.object_floor_plan__item__x__zoom:hover path {
    fill: #fff;
}

.object_floor_plan__item__x__zoom path {
    transition: 0.25s;
}

.object_floor_plan__item__x__image {
    padding-top: 80%;
    position: relative;
}

.object_floor_plan__item__x__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s;
}

.object_floor_plan__item__x__image:hover img {
    opacity: 0.75;
}

.page__back {
    display: none;
}

.object_another {
    margin-top: 10px;
}

.object_another__inner {
    padding: 40px 0 0;
}


.object_gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px;
}

.object_gallery__item {
    border-radius: 15px;
    overflow: hidden;
    font-size: 0;
    margin: 10px;
    cursor: pointer;
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.object__inner {
    padding: 40px 0;
}

.object_gallery {
    margin-top: 10px;
    position: relative;
}

.object_gallery__item:hover:before {
    transform: scale(1);
    opacity: 1
}

.object_developer_mobile__inner .object__promo__develoop {
    padding: 0;
}

.object_developer_mobile {
    margin-top: 10px;
}

.object_gallery__item:before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8836 22.5259L23.9518 16.2236C23.9576 15.6907 24.3953 15.2886 24.9295 15.3255C25.4637 15.3624 25.8921 15.8244 25.8863 16.3573L25.7843 25.7843L16.3573 25.8863C15.8244 25.8921 15.3624 25.4637 15.3255 24.9295C15.2886 24.3953 15.6907 23.9576 16.2236 23.9518L22.414 23.8848L14.216 15.6868C13.8255 15.2962 13.8255 14.6631 14.216 14.2726C14.6065 13.882 15.2397 13.882 15.6302 14.2726L23.8836 22.5259Z' fill='%231864CE'/%3E%3Cpath d='M3.36042 2.00277L9.66272 1.93454C10.1957 1.92877 10.5978 1.49104 10.5609 0.956852C10.524 0.422659 10.062 -0.00571213 9.52904 5.76066e-05L0.102112 0.102112L5.76087e-05 9.52904C-0.00571224 10.062 0.422659 10.524 0.956853 10.5609C1.49105 10.5978 1.92877 10.1957 1.93454 9.66272L2.00156 3.47234L10.1996 11.6704C10.5901 12.0609 11.2233 12.0609 11.6138 11.6704C12.0043 11.2799 12.0043 10.6467 11.6138 10.2562L3.36042 2.00277Z' fill='%231864CE'/%3E%3C/svg%3E%0A");
    width: 22.5%;
    aspect-ratio: 1;
    max-width: 64px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid #1864ce;
    backdrop-filter: blur(7px);
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background-size: 45%;
    opacity: 0;
    transition: 0.25s;
    transform: scale(0.9);
    z-index: 4;
}


.object_gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.object_gallery__item {
    width: calc(100% / 3 - 20px)
}

.object_gallery__item--1>div {
    padding-top: 125%;
}

.object_gallery__item--2>div {
    padding-top: 87.5%;
}

.object_gallery__item--3>div {
    padding-top: 50%;
}

.object_gallery__item--4>div {
    padding-top: 50%;
}

.object_gallery__item--5>div {
    padding-top: 87.5%;
}

.object_gallery__item--6>div {
    padding-top: 125%;
}


.object_gallery__item__inner {
    position: relative;
}

.object_developer_mobile {
    display: none;
}



.object_fix_top {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    top: 0px;
    transition: 0.35s ease-in-out;
    opacity: 0;
    transform: translate(0, -100px);
}

.object_fix_top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 21px 0;
}

.object_fix_top__contact {
    display: flex;
    gap: 10px;
}

.object_fix_top {
    box-shadow: 0px 1px 10px rgb(32 55 88 / 11%);
    background: #fff;
}

.object_fix_top__info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.object_fix_top__info_price {
    display: flex;
    gap: 15px;
    align-items: center;
}

.object_fix_top__info_price__value {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.object_fix_top__info_price__title {
    color: #B4BAC2;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: -2px;
}

.object_fix_top__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #203D58;
    margin-bottom: 5px;
}

.object_fix_top.active {
    opacity: 1;
    transform: translate(0, 0);
}

@media screen and (max-width: 1300px) {
    .object_info__char__item {
        width: calc(100% / 3 - 4px);
    }
}

@media screen and (max-width: 1200px) {

.object_fix_top__name {
    font-size: 20px;
}

.object_fix_top__adress {
    font-size: 14px;
}

.object_fix_top__info_price__value {
    font-size: 20px;
}

.object_fix_top__info_price__title {
    font-size: 15px;
}

.object_fix_top__contact .btn_call_x {
    border-radius: 50%;
    width: 43px;
    height: 43px;
    padding: 0;
    justify-content: center;
}

.btn_call_x__text {
    display: none;
}

.object_fix_top__inner {
    gap: 25px;
}
}

@media screen and (max-width: 1100px) {
    .object_info__inner {
        padding: 25px 0;
    }

    .object__info__call {
        position: static;
        margin-top: 26px;
        max-width: 100%;
        justify-content: flex-start;
    }

    .object_info__price {
        position: static;
        border-bottom: 1px solid #E3ECF8;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .object_info__price__value {
        font-size: 20px;
    }

    .object_info__price {
        gap: 16px;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .object_info__price__title {
        margin-bottom: -2px;
    }

    .object_info__title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .object_info__adress {
        border-bottom: 1px solid #E3ECF8;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 900px) {
    .object__promo__slide__inner img {
        border-radius: 0px;
    }

    .object_developer_mobile {
        display: block;
    }

    .object_floor_plan__inner .slick-dots {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 10px;
        position: static;
        margin-top: 30px;
    }

    .object_floor_plan__inner {
        padding-bottom: 35px;
    }

    .page__back {
        position: absolute;
        display: flex;
        z-index: 2;
        color: #1864CE;
        align-items: center;
        top: 15px;
        border-radius: 0px 9px 9px 0px;
        background: #fff;
        text-decoration: none;
        gap: 10px;
        padding: 12px 20px 12px 15px;
        font-weight: 500;
        left: 0;
    }

    .page__back svg {
        width: 12px;
    }

    .object__promo {
        position: relative;
    }

    .page__back:hover {
        color: #fff;
        background: #1864CE;
    }

    .page__back:hover path {
        fill: #fff;
    }

    .page__back path {
        transition: 0.25s;
    }

    .object__promo__slider_col_2 {
        display: none;
    }

    .object__promo .container.container--zero {
        padding: 0;
    }

    .object__promo__slider__wrap {
        border-radius: 0;
    }

    .page__content.page__content--object {
        margin-top: -10px;
    }

    .object__promo .container--zero .container__inner {
        padding: 0
    }

    .object_amenities__list {
        flex-direction: column;
    }

    .object_amenities__item {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
.object_fix_top{display: none;}
}
@media screen and (max-width: 750px) {
    .object__inner {
        padding: 32px 0;
    }

    .page_bottom_menu .bottom__fixmenu {
        display: none;
    }

    .page_project .bottom__fixmenu {
        display: none;
    }

    .page_bottom_menu .bottom__fixmenu.bottom__fixmenu--call {
        display: block;
        padding: 18px 0;
        box-shadow: 0px -8px 10px rgba(32, 55, 88, 0.11);
    }

    .page_project .bottom__fixmenu.bottom__fixmenu--call {
        display: block;
        padding: 18px 0;
        box-shadow: 0px -8px 10px rgba(32, 55, 88, 0.11);
    }

    .page_project .bottom__fixmenu.bottom__fixmenu--call .container {
        max-width: 400px;
        justify-content: space-evenly;
    }

    .page_bottom_menu .bottom__fixmenu.bottom__fixmenu--call .container {
        max-width: 100%;
        justify-content: space-evenly;
    }


    .object_gallery__item {
        margin: 5px;
        width: calc(33.3333333333% - 10px);
    }

    .object_gallery__list {
        margin: 0 -5px;
    }

    .object_map__inner {
        border-radius: 0;
    }

    .object_amenities .container__inner {
        padding: 40px 20px;
    }



    .object_info__char__item {
        width: calc(50% - 15px);
        gap: 7px;
        font-size: 15px;
        justify-content: space-between;
    }

    .object_info__char {
        gap: 9px 30px;
    }

    .object__info__call {
        display: none;
    }

    .object_info__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .object_info__adress {
        padding-bottom: 18px;
        margin-bottom: 18px;
    }

    .object_info__inner {
        padding: 25px 0 30px;
    }

    .object_info__char__item__value {
        font-size: inherit;
    }

    .adress_x__text {
        font-size: 15px;
    }

    .object_info__price {
        font-size: 15px;
        gap: 12px;
        padding-bottom: 12px;
        margin-bottom: 15px;
    }

    .object_info__price__value {
        font-size: 18px;
    }

    .object_amenities__item__list span {
        font-size: 14px;
        padding: 5.5px 13px 6.5px;
    }


    .object_amenities__item__title {
        font-size: 15px;
    }

    .object_floor_plan__title {
        margin-bottom: 22px;
    }

    .object_floor_plan__inner {
        padding: 27px 0 32px;
    }
}

@media screen and (max-width: 550px) {

    .object_gallery__item {
        margin: 5px;
        width: calc(50% - 10px);
        border-radius: 5px;
    }

    .object_gallery__item--4>div {
        padding-top: 75%;
    }

    .object_gallery__item--5>div {
        padding-top: 100%;
    }

    .object_gallery__item>div {
        padding-top: 100%;
    }

    .object_gallery__item:nth-child(6n + 2)>div {
        padding-top: 125%;
    }

    .object_gallery__item:nth-child(6n + 3)>div {
        padding-top: 75%;
    }

    .object_gallery__item:nth-child(6n + 5)>div {
        padding-top: 125%;
    }

    .object_map__point__item {
        font-size: 14px;
        padding: 9px 21px;
    }

    .object_map__point__item__icon svg {
        width: 18px;
        height: auto;
    }

    .object__promo__slider__wrap .slick-arrow {
        display: none !important;
    }


}