.project_object_top {
    margin-bottom: 10px;
}

.project_object_content__top {
    padding: 43px 0 0;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.project_object_content__top .project_object_title {
    margin-bottom: 0;
}

.project_object_order {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 345px;
    justify-content: flex-end;
}

.project_object_order__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 9px 0;
    max-width: 920px;
}

.card_view_type {
    display: flex;
    align-items: center;
    margin-left: 0;
    gap: 5px;
    flex-wrap: wrap;
}

.card_view_type_x {
    border: 1px solid #E3ECF8;
    border-radius: 7px;
    font-size: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: inherit;
    transition: 0.25s ease-in-out
}

.project_object_order__title {
    white-space: nowrap;
    color: #B4BAC2;
    font-weight: 600;
}

.card_view_type_x:hover {
    border-color: #008aff;
}

.card_view_type_x path,
.card_view_type_x rect {
    transition: 0.25s ease-in-out
}

.card_view_type_x:hover path,
.card_view_type_x:hover rect {
    fill: #008aff;
}

.card_view_type_x.active {
    border-color: #1864CE;
}

.card_view_type_x.active path,
.card_view_type_x.active rect {
    fill: #1864CE;
}

.project_object__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-bottom: 30px;
}

.property__card__full {
    box-shadow: 0px 1px 10px rgba(32, 55, 88, 0.11);
    width: calc(100% / 3 - 13.5px);
    border-radius: 14px;

}


.property__card__full .slick-arrow {
    opacity: 0;
    pointer-events: none;
}

.property__card__full:hover .slick-arrow {
    opacity: 1;
    pointer-events: all;
}

.property__card__full:hover .slick-disabled {
    opacity: 0.35;
    pointer-events: none;
}

.property__card__full__image__item__list {
    position: relative;
}
.property__card__full__image__item__list .slick-list {
    border-radius: 14px 14px 0 0;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.project_object__list.__list .property__card__full .slick-arrow {
    right: 0;
}

.property__card__full__inner {
    position: relative;

    border-radius: 14px;

}

.property__card__full .card__btn_y {
    top: 10px;
    right: 8px;
}

.property__card__full__image__item {
    display: block;
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    border-radius: 14px 14px 0 0;
}

.property__card__full__image__item__inner {
    padding-top: 75%;
}

.property__card__full__image__item__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.property__develop__card__add_text_0 {
    display: none;
}

.property__card__full__developer {
    border-top: 1px solid #E3ECF8;
    margin: 0 15px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.property__card__full__developer__info {
    display: none;
}

.property__card__full__developer__call .btn_call_x__text {
    display: none;
}

.property__card__full__developer__call {
    font-size: 0;
    display: flex;
    gap: 9px;
    flex: 1;
    justify-content: flex-end;
}

.property__card__full__developer__call .btn_call_x {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.property__card__full__developer__top__info {
    display: none;
}

.property__card__full__developer__logo {
    width: 74px;
    height: 40px;
    box-shadow: 0px 1px 10px rgba(32, 55, 88, 0.11);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
}

.project_object__more__line {
    display: flex;
    justify-content: center;
}

.project_object__more {
    color: #203D58;
    border: 1px solid #E3ECF8;
    padding: 13px 20px;
}

.project_object_wrap__list {
    padding-bottom: 41px;
}

.project_object_category {
    flex: 1;
}


.project_object_row {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    flex: 1;
}


.project_object__list.__list {
    flex-direction: column;
    gap: 20px;
}

.project_object__list.__list .property__card__full {
    width: 100%;

}

.project_object__list.__list .property__card__full__inner {
    display: flex;
    width: 100%;
    align-items: center;
}


.project_object__list.__list .property__card__full .card__btn_y {
    right: auto;
    left: 10px;
}

.project_object__list.__list .property__card__full__image__item__inner {
    padding: 0;
    height: 100%;
}

.project_object__list.__list .property__card__info {
    margin-left: -20px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 28px 40px;
    width: 450px;
}

.project_object__list.__list .property__develop__card__add_text_0 {
    display: block;
    color: #B4BAC2;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

.project_object__list.__list .property__card__info.property__card__info--full:after {
    border-left: 1px solid #E3ECF8;
    position: absolute;
    width: 1px;
    height: auto;
    bottom: 30px;
    top: 30px;
    right: 0;
    content: '';
}

.project_object__list.__list .property__card__full__developer__top__info {
    display: flex;
    flex-direction: column;
}

.project_object__list.__list .property__card__full__developer__subtitle {
    color: #B4BAC2;
    line-height: 1.1;
    margin-bottom: 4px;
}

.project_object__list.__list .property__card__full__developer__top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.project_object__list.__list .property__card__full__add_info {
    width: calc(100% - 450px - 415px);
    align-self: stretch;
}

.project_object__list.__list .property__card__full__developer {
    margin: 0;
    border: none;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding-right: 0px;
}

.project_object__list.__list .property__card__full__developer__title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #203D58;
}

.project_object__list.__list .property__card__full__developer__logo {
    height: 48px;
    width: 85px;
}

.project_object__list.__list .property__card__full__developer__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.project_object__list.__list .property__card__full__developer__info__item__link {
    color: #1864CE;
    font-weight: 400;
}

.project_object__list.__list .property__card__full__developer__info__item__link:hover {
    text-decoration: none;
}

.project_object__list.__list .property__card__full__developer__call {
    justify-content: space-evenly;
    width: 100%;
    flex: none;
    padding-right: 38px;
    margin-top: 30px;
}

.project_object__list.__list .property__card__full__developer__info__item__value {
    color: #1864CE;
    font-weight: 700;
}

.project_object__list.__list .property__card__full__developer__info__item {
    display: flex;
    gap: 12px;
    width: 50%;
    flex-wrap: wrap;
    position: relative;
    padding-right: 15px;
}

.project_object__list.__list .property__card__full__developer__info__item__inner {
    display: flex;
    margin-bottom: 9px;
}

.project_object__list.__list .property__card__full__developer__info__item:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #E3ECF8;
    right: 12px;
    top: 0;
}

.project_object__list.__list .property__card__full__developer__info__item:nth-child(2n):after {
    display: none;
}

.project_object__list.__list .property__card__object {
    font-size: 20px;
}


.project_object__list.__list .property__card__adress__text {
    font-size: 16px;
    font-weight: 500;
}

.project_object__list.__list .property__card__adress {
    margin-bottom: 20px;
}

.project_object__top--mobile {
    display: none;
}

.project_object__top_filter__btn__mobile {
    display: none;
}

.property__card__full--object {
    box-shadow: 0 1px 10px rgb(32 55 88 / 11%);
    border-radius: 14px;
    width: calc(100% / 4 - 15px);
}

.project_object__list.__list .property__card__full--object .slick-arrow {
    right: 0;
}

.project_object__list.__list .property__card__full--object {
    width: 100%;
}

.property__card__object__info--line {
    display: none;
}

.project_object__list.__list .property__card__info .property__card__object__info--line {
    display: block;
    border-top: 1px solid #E3ECF8;
    padding-top: 15px;
}

.project_object__list.__list .property__card__info .property__card__info__top {
    display: none;
}

.property__card__object__type--line {
    display: none;
}

.project_object__list.__list .property__card__info .property__card__object__type--line {
    display: block;
    font-weight: 500;
    margin-bottom: 2px;
}

.property__card__line__q__title {
    color: #B4BAC2;
}

.property__card__line__q__row__item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.property__card__line__q {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.property__card__line__q__row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.property__card__line__q__value {
    color: #203D58;
    font-weight: 700;
}

.property__card__line__q__value.property__card__line__q__value--big {
    font-size: 20px;
}

.project_object__list.__list .card__btn_y {
    right: auto;
    left: 10px;
}



.project_object_filter__wrap .filter_x {
    padding: 0;
}

.project_object_filter__wrap {
    padding: 40px 0px 70px;
}

.project_object_filter__wrap--project {
    padding-bottom: 40px;
}

.property__card__full__image__item__list .slick-dots-container {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}

.property__card__full__image__item__list {
    font-size: 0;
}


.project_object__list.__list .property__card__full__image__item__list {
    width: 415px;
    align-self: stretch;
}

.project_object__list.__list .slick-list {
    height: 100%;
}

.project_object__list.__list .slick-track {
    height: 100%;
}

.project_object__list.__list .slick-slide {
    height: 100%;
}

.project_object__list.__list .slick-slide>div {
    height: 100%;
}

.project_object__list.__list .property__card__full__image__item {
    height: 100%;
}

.property__card__full--object .slick-arrow {
    opacity: 0;
    pointer-events: none;
}

.property__card__full--object:hover .slick-arrow {
    opacity: 1;
    pointer-events: all
}

.property__card__full--object:hover .slick-disabled {
    opacity: 0.35;
    pointer-events: none;
}

@media screen and (max-width: 1400px) {
    .card_view_type {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .property__card__full--object {
        width: calc(100% / 3 - 13.5px);
    }
}

@media screen and (max-width: 1250px) {

    .property__card__full {
        width: calc(50% - 10px);
    }
}


@media screen and (max-width: 1000px) {
    .project_object_row {
        width: 100%;
    }

    .project_object_content__top {
        flex-wrap: wrap;
    }

    .project_object_order {
        width: auto;
    }
}

@media screen and (max-width: 950px) {
    .property__card__full--object {
        width: calc(100% / 2 - 10px);
    }
}


@media screen and (max-width: 800px) {
    .property__card__full {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 750px) {



    .project_object__top--mobile {
        display: flex;
        gap: 10px;
        flex: 1;
        justify-content: flex-end;
    }

    .project_object__top--mobile .modal_developer__list__order__mobile {
        max-width: 500px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .project_object__top_filter__btn__mobile {
        display: flex;
        width: 100%;
    }

    .btn_project_object__top_filter {
        width: 100%;
        padding: 14px;
        color: #203d58;
        gap: 10px;
        border: 1px solid #E3ECF8;
    }

    .btn_project_object__top_filter:hover path {
        fill: #008aff;
    }

    .project_object_top {
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: 0.25s;
        left: 0;
        width: 100%;
        top: 90px;
        bottom: 0;
    }

    .project_object_top.active {
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }



    .project_object_content__top {
        max-width: 490px;
        margin: 0 auto 30px;
        padding: 30px 0 0;
    }

    .project_object_category {
        display: none;
    }

    .project_object_row {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .property__card__full--object {
        width: 100%
    }
    .project_object__more {
        width: 100%;
        max-width: 400px;
    }
    .property__card__full__developer__call {
        justify-content: space-evenly;
        padding-left: 20px;
    }
}


@media screen and (max-width: 420px) {
    .property__card__full__developer__call .btn_call_x {
        width: 35px;
        height: 35px;
        padding: 9px;
    }

    .property__card__full__developer__call .btn_call_x svg {
        width: 100%;
        height: auto;
        display: block;
    }

    .property__card__full__developer__logo {
        width: 85px;
        height: 44px;
    }
}