<div class="project__advantage">
    <div class="container container--zero">
        <div class="container__inner">

            <div class="project__advantage__top">
                <div class="project__advantage__item">
                    <div class="project__advantage__item__title">Delivered Date</div>
                    <div class="project__advantage__item__value">IV 2023</div>
                </div>
                <div class="project__advantage__item">
                    <div class="project__advantage__item__title">Class</div>
                    <div class="project__advantage__item__value">Business</div>
                </div>
                <div class="project__advantage__item project__advantage__item--payment_plan">
                    <a href="javascript:void(0)" data-fancybox data-src="#js_modal_instalment_payments">
                        <span>Payment Plan</span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7541 3.37402H15.3527V1.97119C15.3527 1.15996 14.6928 0.5 13.8816 0.5H5.66367C5.53105 0.5 5.40391 0.552637 5.31016 0.646387L1.9209 4.03379C1.82715 4.12754 1.77441 4.25479 1.77441 4.3874V15.1556C1.77441 15.9668 2.43437 16.6268 3.24551 16.6268H4.64824V18.028C4.64824 18.8396 5.30762 19.5 6.11816 19.5H16.7541C17.5658 19.5 18.2262 18.8396 18.2262 18.028V4.84404C18.2262 4.0335 17.5658 3.37402 16.7541 3.37402ZM5.16367 2.20665V3.41621C5.16367 3.67607 4.95234 3.8874 4.69258 3.8874H3.48202L5.16367 2.20665ZM3.24551 15.6268C2.98574 15.6268 2.77441 15.4154 2.77441 15.1556V4.8874H4.69258C5.50371 4.8874 6.16367 4.22744 6.16367 3.41621V1.5H13.8816C14.1414 1.5 14.3527 1.71133 14.3527 1.97119V15.1556C14.3527 15.4154 14.1414 15.6268 13.8816 15.6268H3.24551ZM17.2262 18.028C17.2262 18.2883 17.0145 18.5 16.7541 18.5H6.11816C5.85898 18.5 5.64824 18.2883 5.64824 18.028V16.6268H13.8816C14.6928 16.6268 15.3527 15.9668 15.3527 15.1556V4.37402H16.7541C17.0145 4.37402 17.2262 4.58486 17.2262 4.84404V18.028Z" fill="#203D58"/>
                            <path d="M11.4373 4.32794H7.89355C7.61738 4.32794 7.39355 4.55177 7.39355 4.82794C7.39355 5.10411 7.61738 5.32794 7.89355 5.32794H11.4373C11.7135 5.32794 11.9373 5.10411 11.9373 4.82794C11.9373 4.55177 11.7135 4.32794 11.4373 4.32794Z" fill="#203D58"/>
                            <path d="M11.4371 8.06335H5.69043C5.41426 8.06335 5.19043 8.28718 5.19043 8.56335C5.19043 8.83953 5.41426 9.06335 5.69043 9.06335H11.4371C11.7133 9.06335 11.9371 8.83953 11.9371 8.56335C11.9371 8.28718 11.7133 8.06335 11.4371 8.06335Z" fill="#203D58"/>
                            <path d="M9.04258 11.7987H5.69043C5.41426 11.7987 5.19043 12.0225 5.19043 12.2987C5.19043 12.5749 5.41426 12.7987 5.69043 12.7987H9.04258C9.31875 12.7987 9.54258 12.5749 9.54258 12.2987C9.54258 12.0225 9.31875 11.7987 9.04258 11.7987Z" fill="#203D58"/>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="project__advantage__list js_project__advantage__list">
                @@for (var i = 0; i < 2; i++) {
                    <div class="project__advantage__item__slide">
                        <div class="project__advantage__item__image">
                            <img src="images/pages/project/advantages/1.jpg">
                        </div>
                        <div class="project__advantage__item__info">
                            <div class="project__advantage__item__slide__title">Covered parking</div>
                        </div>
                    </div>
                    <div class="project__advantage__item__slide">
                        <div class="project__advantage__item__image">
                            <img src="images/pages/project/advantages/2.jpg">
                        </div>
                        <div class="project__advantage__item__info">
                            <div class="project__advantage__item__slide__title">CCTV</div>
                        </div>
                    </div>
                    <div class="project__advantage__item__slide">
                        <div class="project__advantage__item__image">
                            <img src="images/pages/project/advantages/3.jpg">
                        </div>
                        <div class="project__advantage__item__info">
                            <div class="project__advantage__item__slide__title">SPA-center</div>
                        </div>
                    </div>
                    <div class="project__advantage__item__slide">
                        <div class="project__advantage__item__image">
                            <img src="images/pages/project/advantages/4.jpg">
                        </div>
                        <div class="project__advantage__item__info">
                            <div class="project__advantage__item__slide__title">Tennis court</div>
                        </div>
                    </div>

                    <div class="project__advantage__item__slide">
                        <div class="project__advantage__item__image">
                            <img src="images/pages/project/advantages/5.jpg">
                        </div>
                        <div class="project__advantage__item__info">
                            <div class="project__advantage__item__slide__title">Bowling</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>