<div class="project_constructor js_project_constructor">
    <div class="container container--zero">
        <div class="container__inner">
            <div class="project_constructor__inner">
                <div class="project_constructor__info">
                    <div class="project_constructor__title">
                        <div class="project_constructor__title__inner">Layouts and Plans</div>
                    </div>

                    <div class="project_constructor__top">
                        <button class="active">Apartment layout</button>
                        <button>Floor plan</button>
                    </div>

                    <div class="project_constructor__block__list">
                        <div class="project_constructor__block active">

                            <div class="project_constructor__block_x">
                                <div class="project_constructor__block_x__title">Bedrooms</div>

                                <div class="project_constructor__block_x__list js_project_constructor__block_x--bedroom project_constructor__block_x--bedroom">
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Bedrooms" value="Studio" checked>
                                        <div class="project_constructor__block_x__item__view">Studio</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Bedrooms" value="1">
                                        <div
                                            class="project_constructor__block_x__item__view project_constructor__block_x__item__view--round">
                                            1</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Bedrooms" value="2">
                                        <div
                                            class="project_constructor__block_x__item__view project_constructor__block_x__item__view--round">
                                            2</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Bedrooms" value="3">
                                        <div
                                            class="project_constructor__block_x__item__view project_constructor__block_x__item__view--round">
                                            3</div>
                                    </label>
                                </div>

                            </div>

                            <div class="project_constructor__block_x">
                                <div class="project_constructor__block_x__title">Layout type</div>
                                <div class="project_constructor__block_x__list js_project_constructor__block_x--type project_constructor__block_x--type">
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Layout_type" value="Type 1" checked>
                                        <div class="project_constructor__block_x__item__view">Type 1</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Layout_type" value="Type 2">
                                        <div class="project_constructor__block_x__item__view">Type 2</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Layout_type" value="Type 3">
                                        <div class="project_constructor__block_x__item__view">Type 3</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Layout_type" value="Type 4">
                                        <div class="project_constructor__block_x__item__view">Type 4</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="Layout_type" value="Type 5">
                                        <div class="project_constructor__block_x__item__view">Type 5</div>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="project_constructor__block">
                            <div class="project_constructor__block_x">
                                <select name="building" required class='js_select js_building' placeholder='All buildings'>
                                    <option value=""></option>
                                    <option value="1">Building 1</option>
                                    <option value="1">Building 2</option>
                                    <option value="1">Building 3</option>
                                    <option value="1">Building 4</option>
                                    <option value="1">Building 5</option>
                                </select>
                            </div>
                            <div class="project_constructor__block_x">
                                <div class="project_constructor__block_x__list js_project_constructor__block_x__list--floor project_constructor__block_x__list--floor">
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="floor" value="Ground floor">
                                        <div class="project_constructor__block_x__item__view">Ground floor</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="floor" value="Podium floor">
                                        <div class="project_constructor__block_x__item__view">Podium floor</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="floor" value="Floors 1-7">
                                        <div class="project_constructor__block_x__item__view">Floors 1-7</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="floor" value="Floors 8-14">
                                        <div class="project_constructor__block_x__item__view">Floors 8-14</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="floor" value="Floors 15-24">
                                        <div class="project_constructor__block_x__item__view">Floors 15-24</div>
                                    </label>
                                    <label class="project_constructor__block_x__item">
                                        <input type="radio" name="floor" value="Floor 25">
                                        <div class="project_constructor__block_x__item__view">Floor 25</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project_constructor__image">
                    <div class="project_constructor__image__inner">
                        <a href="javascript:void(0)" data-fancybox data-src="images/__content/pages/project/constructor/flat.jpg" class="project_constructor__image__main js_project_constructor__image__main js_project_constructor__image">
                            <div class="project_constructor__image__main__inner ">
                                <img src="images/__content/pages/project/constructor/flat.jpg">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
