<div class="project__main_plan js_project__main_plan">
    <div class="container container--zero">
        <div class="container__inner container__inner--zero">
            <div class="project__main_plan__inner">
                <div class="project__main_plan__top js_project__main_plan__top">
                    <div class="project__main_plan__top__inner">
                        <a href="javascript:void(0)" >Main plan</a>
                        <a href="javascript:void(0)" class="active">Map</a>
                    </div>
                </div>
                <div class="project__main_plan__block js_project__main_plan__block">
                    <div class="project__main_plan__block__item">
                        <div class="project__main_plan__image">
                            <div class="project__main_plan__image__view">
                                <div class="project__main_plan__mobile_view js_project__main_plan__mobile_view">
                                    <div class="project__main_plan__mobile_view__icon">
                                        <svg width="91" height="121" viewBox="0 0 91 121" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M86.3245 64.3276L80.861 84.3394C78.7608 92.1186 73.8555 98.8859 67.0504 103.389C62.8488 106.167 60.1937 109.847 58.9323 114.639L57.788 118.972C57.5455 119.891 56.7057 120.5 55.7862 120.5C55.6133 120.5 55.438 120.479 55.2629 120.434C54.1566 120.149 53.4932 119.035 53.7813 117.943L54.9253 113.611C56.4311 107.891 59.7348 103.31 64.7445 99.998C70.7147 96.0471 75.0184 90.1109 76.8618 83.2833L82.3266 63.2664C83.2729 59.7971 81.4288 57.6421 79.1815 57.0456C77.1486 56.5063 74.4154 57.1917 73.4032 60.8998C73.1057 61.9887 71.9688 62.6335 70.8663 62.3406C69.7629 62.0476 69.1091 60.9285 69.4051 59.8402L71.2896 52.9117C71.91 50.6369 71.0624 49.1936 70.2422 48.3832C68.9211 47.0777 66.8204 46.5207 65.0142 46.9959C63.8942 47.2907 62.4291 48.1192 61.8097 50.3909L61.7614 50.3781L61.7582 50.3909L59.8741 57.3248C59.6262 58.237 58.7898 58.8385 57.8758 58.8385C57.6984 58.8385 57.5182 58.8158 57.3385 58.7684C56.2343 58.4765 55.579 57.357 55.8749 56.2679L57.7595 49.3322C58.1626 47.8544 57.9998 46.5602 57.2769 45.4838C56.633 44.5256 55.5414 43.7845 54.2822 43.4505C53.022 43.1163 51.7004 43.2176 50.6555 43.7285C49.4817 44.3022 48.6825 45.3418 48.2799 46.8183L46.4029 53.6302C46.1062 54.7193 44.9716 55.365 43.8668 55.0725C42.7626 54.7801 42.1078 53.6602 42.4042 52.5713L53.8074 10.6898C54.1462 9.44656 53.9701 8.14202 53.3113 7.01596C52.6526 5.88964 51.5953 5.08515 50.3341 4.75097C49.0757 4.4164 47.754 4.59059 46.6109 5.24005C45.4674 5.88951 44.6512 6.9301 44.3126 8.17019L29.5877 62.2223C29.3676 63.0309 28.6692 63.6248 27.8259 63.7207C26.9829 63.8167 26.1652 63.3952 25.7642 62.6572L18.1833 48.7107C14.6177 43.437 9.81172 42.1868 7.08513 43.6953C4.6595 45.0372 4.25343 48.181 6.02532 51.8998C11.523 63.4473 13.5794 70.332 15.2318 75.864C16.5271 80.2004 17.5503 83.6255 19.7745 88.0945C22.4344 93.4272 22.9744 99.0298 21.3787 104.745L20.168 109.058C19.914 109.963 19.0814 110.556 18.1742 110.556C17.9913 110.556 17.8055 110.532 17.6206 110.481C16.5188 110.18 15.8729 109.056 16.1779 107.969L17.3878 103.659C18.7243 98.8713 18.29 94.3684 16.0587 89.8952C13.6785 85.1127 12.558 81.3615 11.2605 77.0179C9.56386 71.338 7.64086 64.9004 2.27812 53.6357C-0.837867 47.0961 1.42983 42.1423 5.05956 40.1341C9.53757 37.6568 16.6881 39.0607 21.69 46.5379C21.7246 46.5896 21.7567 46.643 21.7865 46.6975L26.9448 56.1873L40.3147 7.10967C40.9409 4.81564 42.4431 2.89543 44.5446 1.70183C46.6468 0.507847 49.0848 0.190579 51.4096 0.80802C53.7372 1.42495 55.6865 2.90518 56.8976 4.97565C58.1093 7.04701 58.4317 9.45255 57.8058 11.7492L50.2434 39.525C51.8605 39.0617 53.629 39.049 55.3574 39.5074C57.61 40.1049 59.5173 41.4264 60.728 43.2285C60.9285 43.5269 61.1279 43.8694 61.3115 44.2505C62.0972 43.7122 62.981 43.3051 63.9463 43.0509C67.1839 42.1982 70.8047 43.1593 73.1723 45.4987C75.2044 47.5063 76.0174 50.2704 75.4669 53.1793C77.0385 52.7035 78.7092 52.6919 80.2573 53.1028C84.4877 54.2253 87.9302 58.4416 86.3245 64.3276Z" fill="white"/>
                                            <path d="M8.81349 14.2736L16.9336 6.09002C17.6203 5.39798 17.5739 4.31913 16.83 3.68033C16.0861 3.04153 14.9264 3.08468 14.2397 3.77672L2.09375 16.0176L14.2397 28.2585C14.9264 28.9505 16.0861 28.9937 16.83 28.3549C17.5739 27.7161 17.6203 26.6372 16.9336 25.9452L8.95769 17.907L30.3142 17.907C31.3315 17.907 32.1563 17.0936 32.1563 16.0903C32.1563 15.0869 31.3315 14.2736 30.3142 14.2736H8.81349Z" fill="white"/>
                                            <path d="M83.4717 14.2736L75.3516 6.09001C74.6649 5.39798 74.7113 4.31913 75.4552 3.68033C76.1991 3.04153 77.3588 3.08468 78.0454 3.77672L90.1914 16.0176L78.0454 28.2585C77.3588 28.9505 76.1991 28.9937 75.4552 28.3549C74.7113 27.7161 74.6649 26.6372 75.3516 25.9452L83.3275 17.907L61.971 17.907C60.9536 17.907 60.1289 17.0936 60.1289 16.0903C60.1289 15.0869 60.9536 14.2736 61.971 14.2736L83.4717 14.2736Z" fill="white"/>
                                        </svg>
                                    </div>
                                    <div class="project__main_plan__mobile_view__text">Scroll sideways to move <br>on the main plan</div>
                                </div>
                                <div class="js_project__main_plan__image__bg project__main_plan__image__bg">
                                    <img src="images/__content/pages/project/bg.jpg" alt="">
                                </div>
                                <div class="project__main_plan__point__list">
                                    @@include('main_plan/point.html',{top:'420px',left:'340px'})
                                    @@include('main_plan/point.html',{top:'600px',left:'740px'})
                                    @@include('main_plan/point.html',{top:'700px',left:'1000px'})
                                    @@include('main_plan/point.html',{top:'350px',left:'100px'})
                                    @@include('main_plan/point.html',{top:'700px',left:'1270px'})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project__main_plan__block__item active">
                        <div class="project__main_plan__map">
                            @@include('../object/map/inner.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

