<div class="project__stat">
    <div class="container container--zero">
        <div class="container__inner">
            <div class="project__stat__content">
                <div class="project__stat__title">
                    <div class="project__stat__title--1">123 Properties for Sale </div>
                    <div class="project__stat__title--line"> | </div>
                    <div class="project__stat__title--fade">  123 Properties Sold</div>
                </div>
                <div class="project__stat__list">
                    <div class="project__stat__list__inner">
                        <div class="project__stat__item__slide">
                            <div class="project__stat__item">
                                <div class="project__stat__item__type">S</div>
                                <div class="project__stat__item__diagram js_project__stat__item__diagram" data-sale="70" data-sold="100">
                                    <canvas></canvas>
                                </div>
                                <div class="project__stat__item__info">
                                    <div class="project__stat__item__info__line project__stat__item__info__line--sale">
                                        <div class="project__stat__item__info__line__title">For sale</div>
                                        <div class="project__stat__item__info__line__value">956 570</div>
                                    </div>
                                    <div class="project__stat__item__info__line">
                                        <div class="project__stat__item__info__line__title">Sold</div>
                                        <div class="project__stat__item__info__line__value">500 000</div>
                                    </div>
                                    <div class="project__stat__item__info__line">
                                        <div class="project__stat__item__info__line__title">Total</div>
                                        <div class="project__stat__item__info__line__value">10 000 000</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project__stat__item__slide">
                            <div class="project__stat__item">
                                <div class="project__stat__item__type">1BR</div>
                                <div class="project__stat__item__diagram js_project__stat__item__diagram" data-sale="120" data-sold="100">
                                    <canvas></canvas>
                                </div>
                                <div class="project__stat__item__info">
                                    <div class="project__stat__item__info__line project__stat__item__info__line--sale">
                                        <div class="project__stat__item__info__line__title">For sale</div>
                                        <div class="project__stat__item__info__line__value">956 570</div>
                                    </div>
                                    <div class="project__stat__item__info__line">
                                        <div class="project__stat__item__info__line__title">Sold</div>
                                        <div class="project__stat__item__info__line__value">500 000</div>
                                    </div>
                                    <div class="project__stat__item__info__line">
                                        <div class="project__stat__item__info__line__title">Total</div>
                                        <div class="project__stat__item__info__line__value">10 000 000</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project__stat__item__slide">
                            <div class="project__stat__item">
                                <div class="project__stat__item__type">2BR</div>
                                <div class="project__stat__item__diagram js_project__stat__item__diagram" data-sale="10" data-sold="100">
                                    <canvas></canvas>
                                </div>
                                <div class="project__stat__item__info">
                                    <div class="project__stat__item__info__line project__stat__item__info__line--sale">
                                        <div class="project__stat__item__info__line__title">For sale</div>
                                        <div class="project__stat__item__info__line__value">956 570</div>
                                    </div>
                                    <div class="project__stat__item__info__line">
                                        <div class="project__stat__item__info__line__title">Sold</div>
                                        <div class="project__stat__item__info__line__value">500 000</div>
                                    </div>
                                    <div class="project__stat__item__info__line">
                                        <div class="project__stat__item__info__line__title">Total</div>
                                        <div class="project__stat__item__info__line__value">10 000 000</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project__stat__item__slide">
                            <div class="project__stat__item">
                                <div class="project__stat__item__type">3BR</div>
                                <div class="project__stat__item__diagram js_project__stat__item__diagram" data-sale="100" data-sold="100">
                                    <canvas></canvas>
                                </div>
                                <div class="project__stat__item__info">
                                    <div class="project__stat__item__info__line project__stat__item__info__line--sale">
                                        <div class="project__stat__item__info__line__title">For sale</div>
                                        <div class="project__stat__item__info__line__value">956 570</div>
                                    </div>
                                    <div class="project__stat__item__info__line">
                                        <div class="project__stat__item__info__line__title">Sold</div>
                                        <div class="project__stat__item__info__line__value">500 000</div>
                                    </div>
                                    <div class="project__stat__item__info__line">
                                        <div class="project__stat__item__info__line__title">Total</div>
                                        <div class="project__stat__item__info__line__value">10 000 000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
