@@include('modal/main_menu.html')
@@include('modal/choose_city.html')
@@include('modal/buy.html')
@@include('modal/rent.html')
@@include('modal/settings.html')


<div id="js_modal_contact_us" class="js_modal modal_default modal_x">
    <div class="modal_inner">
        <div class="modal_1_row">
            <div class="modal_1__image">
                <img src="images/__content/modal/1.jpg" alt="">
            </div>
            <div class="modal_1__content">
                <div class="modal_1__title">Contact us</div>
                <form action="javascript:void(0)" class="modal_1__form">
                    <div class="field_y">
                        <input type="text" name="name" placeholder="Name" required>
                    </div>

                    <div class="field_y">
                        <select name="country" class="js_select select_y" placeholder="Your country">
                            <option value=""></option>
                            <option value="1">Опция 1</option>
                            <option value="2">Опция 2</option>
                            <option value="3">Опция 3</option>
                            <option value="4">Опция 4</option>
                            <option value="5">Опция 5</option>
                        </select>
                    </div>
                    <div class="field_y">
                        <select name="insteresting" class="js_select select_y"
                            placeholder="What country are you interested in?">
                            <option value=""></option>
                            <option value="1">Опция 1</option>
                            <option value="2">Опция 2</option>
                            <option value="3">Опция 3</option>
                            <option value="4">Опция 4</option>
                            <option value="5">Опция 5</option>
                        </select>
                    </div>
                    <div class="field_y">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>

                    <div class="field_y field_y--text"> We will inform you by email, when we offer service in your area.
                    </div>

                    <div class="field_y field_y--btn">
                        <button class="btn_default btn_blue btn_modal_y">Confirm</button>
                    </div>

                    <div class="modal_1__form__add_text">
                        By clicking the confirm button you agree to our <a href="">Terms of use</a> and <a
                        href="javascript:void(0)" data-src="#js_modal_politic" data-fancybox>Privacy policy</a>.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<div id="js_modal_add_property" class="js_modal modal_default modal_x">
    <div class="modal_inner">
        <div class="modal_1_row">
            <div class="modal_1__image">
                <img src="images/__content/modal/2.jpg">
            </div>
            <div class="modal_1__content">
                <div class="modal_1__title">Add property</div>
                <div class="modal_1__text">Currently, only verified developers can place ads on our website. If you are a
                    developer, contact us:</div>
                <form action="javascript:void(0)" class="modal_1__form">
                    <div class="field_y">
                        <input type="text" name="name" placeholder="Name" required>
                    </div>
                    <div class="field_y">
                        <input type="text" name="company" placeholder="Company" required>
                    </div>

                    <div class="field_y field_y--phone_wa">
                        <select name="code_phone" class="js_select select_field_y--phone_wa" placeholder="+921">
                            <option value="1">+921</option>
                            <option value="2">+7</option>
                            <option value="3">+9</option>
                            <option value="4">+61</option>
                            <option value="5">+911</option>
                        </select>
                        <input type="tel" name="phone" placeholder="Whatsapp" required>
                    </div>

                    <div class="field_y field_y--text">We will be reaching out to you shortly.</div>

                    <div class="field_y field_y--btn">
                        <button class="btn_default btn_blue btn_modal_y">Confirm</button>
                    </div>

                    <div class="modal_1__form__add_text">
                        By clicking the confirm button you agree to our <a href="">Terms of use</a> and <a
                            href="javascript:void(0)" data-src="#js_modal_politic" data-fancybox>Privacy policy</a>.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<div id="js_modal_politic" class="js_modal modal_default modal_text">
    <div class="modal_inner">
        <div class="modal_1__title">Privacy policy</div>
        <div class="modal_1__date">01 Dec 2022</div>
        <div class="modal_inner__text">
            <div class="default_text">
                <p>First things first – your privacy is important to us. That might be the kind of thing all these notices
                say, but we mean it. You place your trust in us by using Booking.com services and we value that trust.
                That means we’re committed to protecting and safeguarding your personal data. We act in our customers’
                best interest and we are transparent about the processing of your personal data.</p>


                <p>This document (‘this Privacy Statement’ or ‘our Privacy Statement’) describes how we use and process
                your personal data, provided in a readable and transparent manner. It also tells you what rights you can
                exercise in relation to your personal data and how you can contact us. Please also read our Cookie
                Statement, which tells you how Booking.com uses cookies and other similar tracking technologies.</p>


                <p>If you’ve used us before, you know that Booking.com offers online travel-related services through our
                own websites and mobile apps, as well as other online platforms such as partners’ websites and social
                media. We’d like to point out that all the information you are about to read, generally applies to not
                one, not two, but all of these platforms.</p>


                <p>In fact, this single privacy statement applies to any kind of customer information we collect through
                all of the above platforms or by any other means connected to these platforms (such as when you contact
                our customer service team by email).</p>

                <p> If you are one of our business partners, make sure to also check out our Privacy Statement for Business
                Partners to understand how personal data is further processed as part of the business relationship.</p>

                <p>We might amend this Privacy Statement from time to time, so we recommend you visit this page
                occasionally to make sure you know where you stand. If we make any updates to this Privacy Statement
                that will impact you significantly, we’ll notify you about the changes before any new activities begin.</p>

                <h3>Terms we use in this Privacy Statement</h3>

                <p>'Trip' means the various different travel products and services that can be ordered, acquired,
                purchased, bought, paid, rented, provided, reserved, combined, or consummated by you from the Trip
                Provider.</p>


                <p>'Trip Provider' means the provider of accommodation (e.g. hotel, motel, apartment, bed & breakfast,
                landlord), attractions (e.g. (theme) parks, museums, sightseeing tours), transportation provider (e.g.
                car rentals, cruises, rail, airport rides, coach tours, transfers), tour operators, travel insurances
                and any other travel or related product or service as from time to time available for Trip Reservation
                on the platform.</p>

                <p>'Trip Service' means the online purchase, order, (facilitated) payment or reservation service as offered
                or enabled by Booking.com in respect of various products and services as from time to time made
                available by Trip Providers on the platform.</p>

                <p>'Trip Reservation' means the order, purchase, payment, booking or reservation of a Trip.</p>

                <h3>What kind of personal data does Realty store.com collect? </h3>

                <p>We can’t help you book the perfect Trip without information, so when you use our services there are
                certain things we ask for. This is typically routine information – your name, preferred contact details,
                the names of the people travelling with you and your payment information. You might also decide to
                submit additional information related to your upcoming Trip (for example, your anticipated arrival
                time).</p>

                <p>In addition to this, we also collect information from the computer, phone, tablet or other device you
                use to access our services. This includes the IP address, the browser you’re using and your language
                settings. There are also situations in which we receive information about you from others or when we
                automatically collect other information.</p>

                <p>This is the general overview but if you’d like to know more about the information we collect, we go into
                more detail below.</p>

                <p>Read more about the personal data we collect</p>

                <h3>Why does Realty store.com collect and use your personal data?</h3>

                <p>The main reason we ask you for personal details is to help you organise your online Trip Reservations
                and ensure you get the best service possible.</p>

                <p>We also use your personal data to contact you about the latest deals, special offers and other products
                or services we think you might be interested in. There are other uses, too. If you’d like to find out
                what they are, read on for a more detailed explanation.</p>

                <p>Read more about why Realty store.com collects your data</p>

                <h3>How does Realty store.com share your data with third parties?</h3>

                <p>There are different parties integrated into Booking.com’s services, in various ways and for various
                reasons. The primary reason we share your data is to supply the Trip Provider with the relevant
                information to complete your Trip Reservation.</p>

                <p>We also involve other parties to provide you with the Booking.com services. This includes, for example,
                financial institutions, advertisers, subsidiaries of the Booking.com corporate group and the other
                companies that form the Booking Holdings Inc. corporate group. Or, in some cases, if we’re required to
                by law, we might share your data with governmental or other authorities</p>


                <p>Below, we go into more detail about how the information you share with us is used and exchanged with
                these parties.</p>


                <p>Read more about how data is shared with third parties</p>

                <h3>How is your personal data shared within corporate group?</h3>

                <p>Booking.com is part of the Booking Holdings Inc. corporate group. Read on to find out more about how
                your data may be shared within the Booking Holdings Inc. corporate group.</p>

                <p>Read more about dat</p>

                <p>How is your personal data shared and further processed for ground transport services?</p>

                <p>Booking.com and Rentalcars.com – also part of the Booking Holdings Inc. group of companies – jointly use
                your data to offer you ground transport services via the Booking.com websites and apps (such as
                cars.booking.com or taxi.booking.com). Read more to understand the scope and limited nature of our joint
                responsibility.</p>


                <p>Read more about data and our ground transport services</p>

                <h3>How is your personal data shared and further processed for insurance services?</h3>

                <p>We work with different parties when offering insurance services. Follow the link below to understand how
                your data is used and shared for insurance purposes and learn about the responsibilities of the parties
                involved.</p>

                <p>Read more about data and insurance products and services</p>

                How does process communications that you and your Trip Provider may send via?</h3>

                <p>Booking.com can help you and Trip Providers exchange information or requests about services and existing
                Trip Reservations, through the Booking.com platform. If you want to find out more about how Booking.com
                receives and handles these communications, read on here.</p>

                <p>Read more about how these communications are processed</p>
            </div>
        </div>
    </div>
</div>





<div id="js_modal_term_of_use" class="js_modal modal_default modal_text">
    <div class="modal_inner">
        <div class="modal_1__title">Terms of use</div>
        <div class="modal_1__date">01 Dec 2022</div>
        <div class="modal_inner__text">
            <div class="default_text">
                <p>First things first – your privacy is important to us. That might be the kind of thing all these notices
                say, but we mean it. You place your trust in us by using Booking.com services and we value that trust.
                That means we’re committed to protecting and safeguarding your personal data. We act in our customers’
                best interest and we are transparent about the processing of your personal data.</p>
            </div>
        </div>
    </div>
</div>


<div id="js_modal_term_of_conditions" class="js_modal modal_default modal_text">
    <div class="modal_inner">
        <div class="modal_1__title">Terms & Conditions</div>
        <div class="modal_1__date">01 Dec 2022</div>
        <div class="modal_inner__text">
            <div class="default_text">
                <p>First things first – your privacy is important to us. That might be the kind of thing all these notices
                say, but we mean it. You place your trust in us by using Booking.com services and we value that trust.
                That means we’re committed to protecting and safeguarding your personal data. We act in our customers’
                best interest and we are transparent about the processing of your personal data.</p>
            </div>
        </div>
    </div>
</div>







<div id="js_modal_instalment_payments" class="js_modal modal_default modal_instalment_payments">
    <div class="modal_inner">
        <div class="modal_1__title">Instalment payments</div>
        <div class="modal_payment">

            <div class="modal_payment__table">
                <div class="modal_payment__table_x">
                    <div class="modal_payment__table_x__head">
                        <div class="modal_payment__table_col--1">Installments</div>
                        <div class="modal_payment__table_col--2">Milestone</div>
                        <div class="modal_payment__table_col--3">Pereentage</div>
                        <div class="modal_payment__table_col--4">Amount</div>
                    </div>
                    <div class="modal_payment__table_x__body">
                        <div class="modal_payment__table_x__row">
                            <div class='modal_payment__table_col--1'><b>1st Installment</b></div>
                            <div class='modal_payment__table_col--2'><b>On booking</b></div>
                            <div class='modal_payment__table_col--3'>20%</div>
                            <div class='modal_payment__table_col--4'>AED 286 000</div>
                        </div>
                        <div class="modal_payment__table_x__row">
                            <div class='modal_payment__table_col--1'><b>2nd Installment</b></div>
                            <div class='modal_payment__table_col--2'><b>After 2 months</b></div>
                            <div class='modal_payment__table_col--3'>10%</div>
                            <div class='modal_payment__table_col--4'>AED 286 000</div>
                        </div>
                        <div class="modal_payment__table_x__row">
                            <div class='modal_payment__table_col--1'><b>3rd Installment</b></div>
                            <div class='modal_payment__table_col--2'><b>After 4 months</b></div>
                            <div class='modal_payment__table_col--3'>10%</div>
                            <div class='modal_payment__table_col--4'>AED 286 000</div>
                        </div>
                        <div class="modal_payment__table_x__row">
                            <div class='modal_payment__table_col--1'><b>4th Installment</b></div>
                            <div class='modal_payment__table_col--2'><b>After 6 months</b></div>
                            <div class='modal_payment__table_col--3'>10%</div>
                            <div class='modal_payment__table_col--4'>AED 286 000</div>
                        </div>
                        <div class="modal_payment__table_x__row">
                            <div class='modal_payment__table_col--1'><b>5th Installment</b></div>
                            <div class='modal_payment__table_col--2'><b>After 8 months</b></div>
                            <div class='modal_payment__table_col--3'>10%</div>
                            <div class='modal_payment__table_col--4'>AED 286 000</div>
                        </div>
                        <div class="modal_payment__table_x__row">
                            <div class='modal_payment__table_col--1'><b>100% Construction & Handover</b></div>
                            <div class='modal_payment__table_col--2'><b>Completion - January 2024</b></div>
                            <div class='modal_payment__table_col--3'>40%</div>
                            <div class='modal_payment__table_col--4'><b>AED 572 000</b></div>
                        </div>
                    </div>
                    <div class="modal_payment__table_x__foot">
                        <div class="modal_payment__table_col--1-3"><b>Purhase Price</b></div>
                        <div class="modal_payment__table_col--4"><b>AED 1 286 000</b></div>
                    </div>
                </div>
            </div>

            <div class="modal_payment__table_2">

                <div class="modal_payment__table_2__1">
                    <div class="modal_payment__table_2__1_00 modal_payment__table_2__1_0">
                        <div class="modal_payment__table_2__1__title">
                            <span>Tax</span>
                            <span>4%</span>
                        </div>
                        <div class="modal_payment__table_2__1__value">AED 57 200</div>
                    </div>
                    <div class="modal_payment__table_2__1_00 modal_payment__table_2__1_00--center">
                        <div class="modal_payment__table_2__1__title">
                            <span>Oqood Fee</span>
                        </div>
                        <div class="modal_payment__table_2__1__value">AED 5 000</div>
                    </div>
                    <div class="modal_payment__table_2__1_00">
                        <div class="modal_payment__table_2__1__title">
                            <span>Knowledge Fee</span>
                        </div>
                        <div class="modal_payment__table_2__1__value">AED 40 00</div>
                    </div>
                </div>

                <div class="modal_payment__table_2__2">
                    <div class="modal_payment__table_2__2_1">
                        <div class="modal_payment__table_2__2_1_1">Total Fees</div>
                        <div class="modal_payment__table_2__2_1_2">AED 62 200</div>
                    </div>
                    <div class="modal_payment__table_2__2_2">
                        <div class="modal_payment__table_2__2_1_1">Total</div>
                        <div class="modal_payment__table_2__2_1_2">AED 1 492 200</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

