<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function initMap(){
        return false;
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTfFfCOtb65cluOXGa0uSjhTuqBhiZkk&libraries=places&callback=initMap"></script>
<script src="js/app.min.js?2006"></script>

